::ng-deep {
    .confirmation .mat-dialog-content {
        padding: 0 24px !important;
    }
    .mat-dialog-container {
        border-radius: 20px;
    }
}

.mat-dialog-title {
    color: #253853;
    text-align: center;
    font-size: 25px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
}

.mat-dialog-content {
    color: #253853;
    font-size: 20px;
    text-align: center;
    font-family: 'Source Sans Pro';
}

.mat-dialog-content span {
    font-weight: 900;
    font-size: 28px;
    font-family: 'Source Sans Pro';
}
.btn-close{
    border-radius: 20px;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    background: transparent linear-gradient(
270deg
, #fa6127 0%, #ea3562 100%) 0% 0% no-repeat padding-box;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    margin: auto;
}