

<div class="confirmation pb-3" >
    <!--<h1 mat-dialog-title>Top-up Successfull</h1>-->
<div mat-dialog-content>Oops something went wrong! Try again.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn-close px-5" (click)="closeIcon()"  mat-dialog-close>OK</button>
</div>
</div>