.header_about {
  background-color: #8488e2;
}

.header_about h1 {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  margin: 0px 60px;
}

.header_about button {
  margin: 0px 20px;
  background: transparent;
}

.header_about img {
  width: 40px;
}

.header_about ul {
  padding: 35px 0px;
}

.header_about li {
  display: inline-block;
}

.white_containe {
  background-color: #ffffff;
  border-radius: 30px;
  margin-top: -30px;
  padding: 10px 15px;
}

.new_menu {
  font-size: 16px;
  margin: 0px 10px;
  color: #13222b;
  font-weight: 600;
  margin-left: 25px;
}

.mobileOnly mat-expansion-panel {
  padding: 5px;
}

.mobileOnly mat-expansion-panel p {
  color: #000000;
  font-weight: 400;
}

.terms_and_condition {
  width: 27px;
  height: 28px;
}

.defination_img {
  width: 28px;
  height: 21px;
}

.restrication_img {
  height: 23px;
  width: 23px;
}

.indemnification_img {
  width: 19px;
  height: 25px;
}

.app_notification_img {
  height: 28px;
  width: 28px;
}

.gift_card_img {
  width: 28px;
  height: 23px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hideinMobile {
  display: block;
}

.showInmobile {
  display: none;
}

.mat-toolbar {
  background: none;
}

.nobg {
  background: none;
  cursor: pointer;
  border: none;
}

.three_service {
  height: auto !important;
}

.first_fold {
  margin-bottom: 35px;
}

.aboutusCont h5 {
  color: #0B203E;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 26px;
  padding: 0 52px 0 0;
}

.aboutusCont h4 {
  color: #0B203E;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 32px;
}

.aboutusCont p {
  color: #808080;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 27px;
}

.aboutusCont ul {
  padding-left: 17px;
}

.aboutusCont ul li {
  color: #808080;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 27px;
}

.aboutUsblueArea {
  background: #0367DE;
  min-height: 200px;
  padding: 50px 0;
}

.aboutUsblueArea h3 {
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.aboutUsblueArea p {
  color: #fff;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

.icon_holder1 {
  height: auto;
}

.second_fold {
  padding: 10px 0px 35px 0;
}

.mobileOnly {
  display: none;
  margin: 0 20px 30px 20px !important;
}

.deskTopOnly {
  display: block;
}

@media only screen and (max-width: 650px) {
  .hideinMobile {
    display: none;
  }
  .showInmobile {
    display: block;
  }
  .three_service {
    height: 360px;
  }
  .second_fold {
    padding: 30px 14px;
  }
  .deskTopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
    margin: 0 20px;
  }
}
/*# sourceMappingURL=new-terms.component.css.map */