.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.example-radio-group {
	display: block;
	border: 1px solid #555;
	margin: 20px;
	padding: 10px;
}
.mat-toolbar {
	background: none;
}
.nobg {
	background: none;
	cursor: pointer;
	border: none;
}
.colorWhite {
	color: #0B203E;
}
.mat-radio-button {
	padding-right: 6px;
}
.header_style {
	background: #fff;
}
.selectRechargeamountMain {
	padding: 60px 0;
	margin: 0;
	width: 100%;
	background-color: #f6f8fa;
	margin-top: 104px;
	h1 {
		color: #103F8A;
		font-size: 30px;
		font-weight: 500px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		margin-bottom: 25px;
	}
}
.selectRechargeamount {
	background: #fff;
	width: 80%;
	margin: 0 auto;
	padding: 60px 0;
	clear: both;
	overflow: hidden;
	max-width: 1098px;
}
p {
	&.selectAmountText {
		text-align: center;
		color: #0B203E;
		font-size: 24px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		padding: 6px 0 20px 0;
		margin: 0px;
	}
}
.bonusArea {
	text-align: center;
	display: block;
	margin: 0 auto;
	clear: both;
	width: 317px;
	span {
		&:first-child {
			color: #1A9259;
			font-family: 'Caveat', cursive;
			font-size: 27px;
			font-weight: 400;
			float: left;
			margin-top: -9px;
		}
		&:last-child {
			color: #0B203E;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			float: left;
			padding: 2px 0 0 14px;
		}
	}
}
.mat-slide-toggle {
	display: inline !important;
	&.mat-checked {
		&:not(.mat-disabled) {
			.mat-slide-toggle-thumb {
				background-color: #309C69;
			}
			.mat-slide-toggle-bar {
				background-color: #D8D8D8 !important;
			}
		}
	}
}
.selectRechargeAmnt {
	clear: both;
	overflow: hidden;
	ul {
		list-style-type: none;
		clear: both;
		overflow: hidden;
		padding-left: 0px;
		display: table;
		margin: 0 auto;
		li {
			float: left;
			text-align: center;
			margin: 20px 20px 0 0;
			.commonpriceArea {
				width: 190px;
				height: 182px;
				border: 2px solid #E2E7ED;
				padding: 39px 0;
				display: table-cell;
				vertical-align: middle;
				position: relative;
			}
			&:hover {
				.commonpriceArea {
					border: 2px solid blue;
				}
			}
			&.active {
				.commonpriceArea {
					border: 2px solid blue;
				}
			}
		}
	}
}
.oldPrice {
	color: lightgrey;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: line-through;
	margin: 10px 0 0 0;
	left: 43%;
	position: absolute;
}
.newPrice {
	color: #0B203E;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 600;
	padding-top: 23px;
}
.mobileContentSlider {
	display: none;
}
.relative {
	position: relative;
}
.i_icon {
	position: absolute;
	right: -22px;
	top: 5px;
	cursor: pointer;
}

  
  @media only screen and (max-width: 500px) {
    .selectRechargeamount{ padding: 34px 0 62px 0;}
    p.selectAmountText{font-size: 20px;}
    .bonusArea span:first-child{ display: block; text-align: center; width: 100%;}
    .bonusArea span:last-child{display: block;text-align: center; padding: 6px 0 0px 27%;}
    .mobileContentSlider{ display: block;}
    .commonpriceArea{ width: 190px; height: 182px; border:1px solid #E2E7ED; padding: 39px 0;    margin: 0 auto; text-align: center; position: relative;}
    .commonpriceArea.active{ border:1px solid blue;}
    .selectRechargeAmnt{ overflow: visible;}
    .carousel-indicators {bottom: -46px !important;}
    .i_icon{right: -22px;top: 10px;}
    .selectRechargeamount{ width: 90%;}
    .selectRechargeAmnt ul li{ display: table; margin: 5px; float: none;}
    
  }
  
  .mouse-pointer{
    cursor: pointer;
  }

  .selectRechargeAmnt {
    ul {
      list-style-type: none;
      clear: both;
      overflow: hidden;
      padding-left: 0px;
      display: table;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  }