<div class="selectRechargeamountMain">
  <h1>Recharge</h1>
  <div class="selectRechargeamount">
    <p class="selectAmountText">Select Recharge Amount</p>
    <div class="bonusArea"><span>10% Bonus mins</span>
      <span class="relative">
        <mat-slide-toggle [(ngModel)]="isAutoRefillEnable">PROMO MINS</mat-slide-toggle>
        <img class="i_icon" matTooltip="1. Enroll to Auto-refill and earn 10% bonus minutes.
        2. We will recharge your plan only when the account balance falls below $2.
        3. Cancel online or by calling customer service anytime." matTooltipPosition="right"
          src="assets/images/i_icon.png" alt="" />
      </span></div>
    <div class="selectRechargeAmnt">
      <ul>
        <li *ngFor="let item of rechargeAmounts" (click)="onClickAmountOption(item)">
          <div matRipple class="commonpriceArea mouse-pointer">
            <p class="newPrice"> {{item | bCurrency : plan?.CurrencyCode}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>