 

  <div class="first_fold">
  
  <h1 class="heading_style1">	
  Terms & Conditions<br/>
  <span>The Industry Leader in International Calling Plans, Raza Keeps You Talking.</span>
  </h1>
  <div class="home_banner terms_banner">
      <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
  </div>
  </div>
  
  <div class="deskTopOnly">
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont">
            <h5>Terms & Conditions</h5>
          </div>
          <div class="col-md-8 aboutusCont">
            <p>This Raza.com Customer Agreement ("Agreement") sets forth the terms and conditions that apply to your purchases of calling plans and other products from www.Raza.com (the "Raza.communications Website") By registering to use this Website or by purchasing and using our products, You (as hereinafter defined) agree to the terms and conditions in this Agreement, the Conditions of Use for the Raza.com website, and any changes that may be made to the Agreement or to the Conditions of Use. If you do not agree to the terms of this Agreement or have any questions about the Agreement, do not purchase or use our products without contacting Raza.communications immediately at 1877-463-4233.</p>
          </div>
        </div>
      </div>
  </div>
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont">
            <h5>Definitions</h5>
          </div>
          <div class="col-md-8 aboutusCont">
              <p>"You" and "Your" mean the purchaser and/or the user of the Products (as defined below). "Raza.com," "We," "Our," and "Us" mean Raza.communications and any Raza.com affiliates authorized to sell and/or distribute the Products. "Product" or "Products" means any and all Products you purchase and/or use from the Raza.com Website now or in the future. "Raza.communications Website" is found at www.Raza.com and contains the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products. You can also request information about the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products by calling Raza.com toll free at 1-877-463-4233.</p>
              <p>This Agreement incorporates by reference to a Product's prices, charges, restrictions and the terms and conditions for such Product listed on our website, as well as any disclosures, provisions, limitations or other information provided with, or printed on, the Products.</p>
          </div>
        </div>
      </div>
  </div>
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont">
            <h5>Charges and Payments</h5>
          </div>
          <div class="col-md-8 aboutusCont">
            <h4>1. General</h4>
            <p>You agree to pay Us for the Products at the prices listed on the Raza.com website at the time of purchase. The prices for the Products may also include additional fees, including, but not limited to, any applicable taxes. All orders are subject to acceptance by Us.</p>
            <p>Higher rates will apply for calls completed to international cellular phones.</p>
            <p>An additional fee of 99¢ will be deducted for every call placed from a payphone.</p>
            <p>You can call from your Cell phone with no extra charges from Raza.communications. Make sure you don't press SEND/TALK (Green) button after entering the destination number and Pound Key (#). If you have a limited minute's package on your Cell phone from your Wireless company, you may get billed from your Wireless company if you went over your plan minutes, and Raza.communications will not be responsible for that.</p>
            <p>Customer is solely responsible of using the Access numbers. There will be extra charges for using 1-8XX Access numbers based on the state and country you would be calling from. All the rates on the website are calculated on the Highest Denomination of the Calling Plans.</p>
            <p>Call details provided by customer service of the carrier about the usage of a prepaid phone are final and will be considered authentic record/proof about the usage of the plan. All sales are final. Pins number, once issued/revealed are non transferable and non exchangeable. Pin numbers have no cash value. Calling details for certain plan will be available online. Calls details will only be available for last 60 days.</p>
            <h4>2. Price Changes, Rate and Fee Changes</h4>
            <p>We may change the prices for the Products from time to time, and such changes will be effective from the time they are posted on the Website. The terms and conditions of a Product, including the rates for calls made in conjunction with the use of any particular Product and the fees associated with the Product, are subject to change at any time without prior notice. You may contact our Customer Service Representatives at 1-877-463-4233, if You have any questions about the Products, including the domestic or international long distance rates associated with a Product.</p>
            <h4>3. Payments</h4>
            <p>You must pay for Products at the time of purchase. Acceptable forms of payment include credit card, debit card and any other form of payment Raza.com authorizes. We do not waive our right to collect the full amount due if Your form of payment is cancelled, disabled, discontinued or otherwise dishonored after Your purchase of any Product.</p>
            <h4>4. Receiving and Securing Your Products</h4>
            <p>Raza.com delivers the purchase receipts to you by email. You must have a current, working email address in order to receive Product details and other confirmations. You are responsible for preventing the unauthorized use of the Products, and You are responsible for any reduction in value of the Products arising out of either authorized or unauthorized use.</p>
            <h4>5. Taxes and fees</h4>
            <p>You are responsible for and must pay any applicable taxes or fees in connection with your purchase of the Products. Per call connection fee may be applicable on certain Calling Plans.</p>
            <p>Monthly, bi-monthly, weekly or other maintenance fees & taxes may apply on certain Calling Plans.</p>
            <p>Raza.communications reserves the right to issue store (website) credit in lieu of credit on credit/debit card of the customer.Extra 50¢ will be charged per transaction for American Express Credit Card.</p>
            <h4>6. Information Verification</h4>
            <p>You give us permission to verify all information You provide, including, as applicable, Your credit card information or debit card information, , along with Your email address and any other pertinent information which We request.</p>
            <h4>7. Purchase Limits</h4>
            <p>Raza.communications may, in its sole discretion, limit the number of Products You buy at one time, or over a certain period of time. We reserve the right to reject Your purchase if it exceeds any limit which We choose to impose.</p>
            <h4>8. Refund Policy</h4>
            <p>If a customer is not fully satisfied with any of Raza.com's services, we will refund back the remaining(un-used) balance into the customer's account on the Credit /Debit card that was used at the time of purchase. Any extra bonus minutes provided at the time of purchase will be deducted from the unused balance at the time of refund. Any Balance remaining from a purchase that is made prior to 6 months will not be refunded.</p>
            <h4>9. Prepayments</h4>
            <p>The following conditions will govern prepayments you make to your Account balance:</p>
            <p>You may add to your Account balance at any time by accessing "My Account" at our Website www.Raza.com.</p>
            <p>Any prepayment will be charged to the credit, debit or paypal that you listed in your account information. We will provide you with an e-mail confirmation each time you make a prepayment that is credited to your Account balance.</p>
            <p>Prepayments must be made in certain dollar denominations, with a minimum of $10.00(Excluding any taxes or fees, where applicable).</p>
            <p>The prepayments credited to your Account do not expire unless you purchase a plan with a validity date.In such cases we will not be obligated to refund any balance remaining in your Account. Please note that our monthly/daily plans are non-refundable under any circumstances. Thus, you should only make prepayments to your Account if you believe that you will use the balance.</p>
            <p>Raza.com uses a 1 minute rounding interval. This means that the duration of each call is rounded up to the next full minute for billing purposes. In contrast, many prepaid phone cards use a 3 or 6 minute rounding interval where calls are rounded up in 3 or 6 minute intervals for billing purposes.</p>
          </div>
        </div>
      </div>
  </div>
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont">
            <h5>Restrictions on Use;<br/> Intellectual Property</h5>
          </div>
          <div class="col-md-8 aboutusCont">
            <p>All of Raza.com's Products, trademarks, service marks, symbols, logos and the intellectual property rights thereto (collectively "Marks") are the property of Raza.communications or its affiliates and You shall have no right in or to the Marks or any right to use the Marks. You are not permitted to commercially re-sell the Products or to print, produce, sell or distribute any telecommunication products that use or are based upon the Products, the telecommunication services provided with the Products and/or the Marks.</p>
          </div>
        </div>
      </div>
  </div>
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont">
            <h5>Indemnification</h5>
          </div>
          <div class="col-md-8 aboutusCont">
            <p>You agree that Raza.com shall not be responsible for any third party claims against Us that arise from Your purchase or use of the Products. Further, You agree to reimburse Raza.com for all costs and expenses related to the defense of any such claims, including any type of fee, unless such claims are based upon Our willful misconduct or gross negligence. This provision will continue to remain in force after the Agreement expires or is otherwise terminated.</p>
          </div>
        </div>
      </div>
  </div>
  
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont">
            <h5>Limitations of Liability and<br/> Warranties</h5>
          </div>
          <div class="col-md-8 aboutusCont">
            <p>This section describes Our responsibility for any claims for damages You may assert arising out of the failure of the Products or any other claims You may assert in connection with the Products or with this Agreement. If a Product You purchased is defective, You are entitled to an exchange, a full or partial refund or a credit allowance, as determined by Raza.com in its sole discretion. Except as otherwise provided in the preceding sentence, We and Our affiliates, agents, partners, directors, officers, members and employees are not liable to You or to any third party for any costs, liabilities or damages arising either directly or indirectly from any cause, action or claim relating to the Products, the Raza.com Website and/or the telecommunication services underlying the Products, including without limitation any actual, incidental, consequential, exemplary, punitive, reliance or special damages, or for any claims for loss of revenue, lost profits, lost use, data, or goodwill or for lost business opportunities of any kind or nature whatsoever. These limitations apply even if the damages were foreseeable or We were told that they were possible, and these limitations apply whether the claim is based upon contract, tort, statute, fraud, misrepresentation, or any other legal or equitable theory. We will not be liable for any damages if the telecommunication services underlying the Products are interrupted, or if there is a problem with the interconnection of our Products with the products or equipment of some other party. This section will survive the expiration or termination of the Agreement. Because some jurisdictions do not permit the exclusions or limitation of incidental or consequential damages, Raza.com's liability in such jurisdictions shall be limited to the extent permitted by law.</p>
            <p>You acknowledge that (a) the Products are provided by Us "AS IS", and (b)Raza.com makes no warranty to You or to any third party whatsoever, directly or indirectly, express, implied or statutory, as to the suitability, durability, description, quality, title, non-infringement, merchantability, completeness or fitness for use or purpose of the Products. All such warranties are hereby expressly excluded and disclaimed. We also make no warranty that the Products will be uninterrupted or error free. We do not authorize anyone, including, but not limited to, Raza.com employees, to make any warranties on Our behalf and You should not rely on any such statement. Your use of the Products is solely at Your risk. Because some jurisdictions do no permit the exclusion of certain warranties, these exclusions may not apply to You. Raza.communications shall not be obligated to provide any refunds for unauthorized use or deficiency in the quality or availability of telecommunications services. Buyer assumes all risks immediately upon purchase of the plan. Prepaid plans once sold are non-refundable and have no surrender value. Calling rates, billing increments, fees, taxes, and other charges are subject to change any time, without any further notice. Raza.communications will not be responsible or liable for any change in calling rates, billing increments, fees, taxes, and other charges. In addition the Promotional duration could change any time without any prior notice.</p>
            <h4>1. Usage Conditions.</h4>
            <p>In order to use the Services, your Raza.com Account (your "Account") must have a sufficient balance to cover the cost of the Service. As you use the Services, your Account will be debited accordingly. Calls in progress will be terminated if your Account balance is insufficient to cover the cost of continuing the call.</p>
            <h4>2. Usage Information</h4>
            <p>You will have confidential access to your usage information for the past 90 days only on the Website under "My Account" 24 hours a day, seven days a week.</p>
            <h4>3. Billing Disputes</h4>
            <p>You must notify us by e-mail at support@Raza.com of any disputed charges within thirty (30) days of the charge being posted to your Account. To the extent we determine that an adjustment is warranted, we will credit your Account accordingly.</p>
            <p>Raza.com will not be liable for the liabilities whatsoever resulting due to registration of hotel/hostel/public phone numbers or otherwise any claims by you or third parties.</p>
          </div>
        </div>
      </div>
  </div>
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont">
            <h5>Credit Allowances for<br/> Interruptions</h5>
          </div>
          <div class="col-md-8 aboutusCont">
            <p>Raza.communications does not guarantee call quality or connectivity, and will not be responsible or liable for reimbursement of lost minutes or reduction in the stored value of any prepaid card. Connection to a wrong number is a valid call. Service outages extending over few hours to a couple of days may occur. Raza.communications will not be liable for such outages, and customers shall have no right to any refund, credit, compensation or damages from Raza.communications because of service outage or any other situation arising out of service outage.</p>
            <h4>Gift Cards</h4>
            <h4>1. Redemption</h4>
            <p>Raza.com gift cards can be redeemed only on the Raza.com website towards the usage of Raza.com services. The recipient who is not yet a Raza.com customer will need to open an account before redeeming a gift card. The recipient may use a gift card to make the first payment. However, we cannot pay a referral bonus unless before redeeming the gift, the recipient adds credit to their account using a credit or debit card not used on another account. Once a gift card is redeemed, the credit is posted on the recipient's account on Raza.com website.</p>
            <h4>2. Limitations</h4>
            <p>Gift cards unclaimed or rejected by the recipient within 180 days will expire. Gift cards have no cash redemption value and are not transferable or assignable except to the sender as well. Our gift program cannot be combined with the Referral, Rewards or any other Raza.com promotional program.</p>
            <h4>3. Risk of Loss</h4>
            <p>The risk of loss and title for Gifts card to the purchaser upon our electronic transmission to the purchaser or recipient, whichever is applicable. We are not responsible if a gift card is lost, stolen, used without your permission or redeemed by an unintended recipient.</p>
            <h4>4. Fraud</h4>
            <p>Raza.com will have the right to close customer accounts and bill alternative forms of payment if a fraudulently obtained gift card is redeemed and/or used on Raza.com.</p>
            <p>Miscellaneous<br/>
  This Agreement does not provide any third party with a remedy, claim, or right of reimbursement.</p>
            <h4>2. Acts Beyond Our Control</h4>
            <p>Neither You nor Raza.com will be responsible to the other for any delay, failure in performance, loss or damage due to fire, explosion, power blackout, earthquake, volcanic action, flood, the weather elements, strike, embargo, labor disputes, civil or military authority, war, acts of God, acts or omissions of carriers or suppliers, acts of regulatory or governmental agencies, or other causes beyond, as applicable, yours or our reasonable control.</p>
            <h4>3. Bankruptcy by Carrier</h4>
            <p>Raza.communications will not be liable or responsible to reimburse for loss of minutes or loss of value in prepaid phone plans if any of the telecommunications carrier of the prepaid phone plans declare bankruptcy.</p>
            <h4>4. Security Issues</h4>
            <p>This site has security measures (SSL) in place to protect the loss, misuse and alteration of the information under our control. Raza.communications however shall not be responsible for the security of your data or for fraudulent use of credit card to make purchases on this web site nor shall Raza.communications be obligated to make refunds or to provide any compensation where such fraudulent use occurs. Raza.communications will actively cooperate with law enforcement authorities in prosecuting any one who uses this web site or products/services sold over this web site for unlawful use.</p>
            <h4>5. Dispute Resolution</h4>
            <p>Dispute arising from purchase on this web site or relating to this agreement, if not settled by the parties in good faith, may at their discretion, be submitted for arbitration to American Arbitration Association (AAA) at their offices in Chicago. All disputes, including interpretation of Arbitration Award shall be subject to laws of State of Illinois, and jurisdiction shall reside with Federal and State Court in Illinois. Prevailing party in the dispute shall be entitled to, in addition to any damages or relief, to reasonable expenses and attorney fees from the other party.</p>
            <h4>6. Assignment</h4>
            <p>We can assign all or part of our rights or duties under this Agreement without notifying You. If We elect to make such an assignment, We will have no further obligations to You under this Agreement or in connection with Your purchase or use of the Products. You may not assign this Agreement without Our prior written consent.</p>
            <h4>7. Notices</h4>
            <p>Any notice from Raza.com to You under this Agreement will be provided by one or more of the following: posting on the Raza.com Website, a recorded announcement on a Product, postcard, letter, or a call to a telephone number provided by You, or an e-mail to an e-mail address provided by you. You may contact Us either by phone or by e-mail to:support@Raza.com. Notice from You to Us is effective as of the date that Our records show that We received Your call or correspondence.</p>
            <h4>8. Separability</h4>
            <p>If any part of this Agreement is found invalid, the rest of the Agreement will remain valid and enforceable.</p>
            <h4>9. Governing Law</h4>
            <p>This Agreement will be governed by the law of the State of Illinois, without regard to its choice of law rules. This governing law provision applies no matter where You reside, or where You use, purchase or pay for the Products.</p>
            <h4>10. Entire Agreement</h4>
            <p>This Agreement (which incorporates by reference the Raza.com Website) constitutes the entire agreement between You and Us and supersedes all prior agreements, understandings, statements or proposals, and representations, whether written or oral. This Agreement can be amended only as provided in the Changes to the Agreement section below. No written or oral statement, advertisement, or Product description not expressly contained in the Agreement or the Raza.com Website will be allowed to contradict, explain, or supplement this Agreement or the Product description. Neither You nor We are relying on any representations or statements by the other party or any other person that is not included in this Agreement.</p>
            <h4>11. Severability of Provisions</h4>
            <p>In the event that any section or portion of this agreement is deemed unenforceable by a judicial authority having jurisdiction over the matter, such section or portion shall be deleted form the Agreement, and the Agreement shall be enforced as if that section or portion was not a part of the Agreement in the first instance.</p>
            <h4>12. Changes to the Agreement</h4>
            <p>This Agreement may only be changed in the manner provided for in this section. We may change this Agreement and the information contained elsewhere on the Website from time to time. All such changes will be effective at the time of posting on www.Raza.com. You may also request a copy of the revised Agreement by calling us toll free at 1-877-463-4233.</p>
            <h4>13. Contacting the Web Site</h4>
            <p>If you have any questions about this web site, you may contact:</p>
            <h4>Mailing Address:</h4>
            <p>Customer Service<br/>
            Raza.communications<br/>
            5219 N Harlem Ave<br/>
            Chicago, IL 60656</p>
            <h4>Voice:</h4>
            <p>US: 877-463-4233<br/>
            Canada: 800-550-3501<br/>
            UK: 0808-234-7012</p>
            <h4>Email:</h4>
            <p>support@Raza.com<br/>
            info@Raza.com</p>
          </div>
        </div>
      </div>
  </div>
  
  
  
  </div>
  
  <div class="mobileOnly">

      <mat-accordion>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Terms & Conditions
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This Raza.com Customer Agreement ("Agreement") sets forth the terms and conditions that apply to your purchases of calling plans and other products from www.Raza.com (the "Raza.communications Website") By registering to use this Website or by purchasing and using our products, You (as hereinafter defined) agree to the terms and conditions in this Agreement, the Conditions of Use for the Raza.com website, and any changes that may be made to the Agreement or to the Conditions of Use. If you do not agree to the terms of this Agreement or have any questions about the Agreement, do not purchase or use our products without contacting Raza.communications immediately at 1877-463-4233.</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Definitions
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="aboutusCont">
                  <p>"You" and "Your" mean the purchaser and/or the user of the Products (as defined below). "Raza.com," "We," "Our," and "Us" mean Raza.communications and any Raza.com affiliates authorized to sell and/or distribute the Products. "Product" or "Products" means any and all Products you purchase and/or use from the Raza.com Website now or in the future. "Raza.communications Website" is found at www.Raza.com and contains the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products. You can also request information about the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products by calling Raza.com toll free at 1-877-463-4233.</p>
                  <p>This Agreement incorporates by reference to a Product's prices, charges, restrictions and the terms and conditions for such Product listed on our website, as well as any disclosures, provisions, limitations or other information provided with, or printed on, the Products.</p>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      Charges and Payments
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="aboutusCont">
                    <h4>1. General</h4>
                    <p>You agree to pay Us for the Products at the prices listed on the Raza.com website at the time of purchase. The prices for the Products may also include additional fees, including, but not limited to, any applicable taxes. All orders are subject to acceptance by Us.</p>
                    <p>Higher rates will apply for calls completed to international cellular phones.</p>
                    <p>An additional fee of 99¢ will be deducted for every call placed from a payphone.</p>
                    <p>You can call from your Cell phone with no extra charges from Raza.communications. Make sure you don't press SEND/TALK (Green) button after entering the destination number and Pound Key (#). If you have a limited minute's package on your Cell phone from your Wireless company, you may get billed from your Wireless company if you went over your plan minutes, and Raza.communications will not be responsible for that.</p>
                    <p>Customer is solely responsible of using the Access numbers. There will be extra charges for using 1-8XX Access numbers based on the state and country you would be calling from. All the rates on the website are calculated on the Highest Denomination of the Calling Plans.</p>
                    <p>Call details provided by customer service of the carrier about the usage of a prepaid phone are final and will be considered authentic record/proof about the usage of the plan. All sales are final. Pins number, once issued/revealed are non transferable and non exchangeable. Pin numbers have no cash value. Calling details for certain plan will be available online. Calls details will only be available for last 60 days.</p>
                    <h4>2. Price Changes, Rate and Fee Changes</h4>
                    <p>We may change the prices for the Products from time to time, and such changes will be effective from the time they are posted on the Website. The terms and conditions of a Product, including the rates for calls made in conjunction with the use of any particular Product and the fees associated with the Product, are subject to change at any time without prior notice. You may contact our Customer Service Representatives at 1-877-463-4233, if You have any questions about the Products, including the domestic or international long distance rates associated with a Product.</p>
                    <h4>3. Payments</h4>
                    <p>You must pay for Products at the time of purchase. Acceptable forms of payment include credit card, debit card and any other form of payment Raza.com authorizes. We do not waive our right to collect the full amount due if Your form of payment is cancelled, disabled, discontinued or otherwise dishonored after Your purchase of any Product.</p>
                    <h4>4. Receiving and Securing Your Products</h4>
                    <p>Raza.com delivers the purchase receipts to you by email. You must have a current, working email address in order to receive Product details and other confirmations. You are responsible for preventing the unauthorized use of the Products, and You are responsible for any reduction in value of the Products arising out of either authorized or unauthorized use.</p>
                    <h4>5. Taxes and fees</h4>
                    <p>You are responsible for and must pay any applicable taxes or fees in connection with your purchase of the Products. Per call connection fee may be applicable on certain Calling Plans.</p>
                    <p>Monthly, bi-monthly, weekly or other maintenance fees & taxes may apply on certain Calling Plans.</p>
                    <p>Raza.communications reserves the right to issue store (website) credit in lieu of credit on credit/debit card of the customer.Extra 50¢ will be charged per transaction for American Express Credit Card.</p>
                    <h4>6. Information Verification</h4>
                    <p>You give us permission to verify all information You provide, including, as applicable, Your credit card information or debit card information, , along with Your email address and any other pertinent information which We request.</p>
                    <h4>7. Purchase Limits</h4>
                    <p>Raza.communications may, in its sole discretion, limit the number of Products You buy at one time, or over a certain period of time. We reserve the right to reject Your purchase if it exceeds any limit which We choose to impose.</p>
                    <h4>8. Refund Policy</h4>
                    <p>If a customer is not fully satisfied with any of Raza.com's services, we will refund back the remaining(un-used) balance into the customer's account on the Credit /Debit card that was used at the time of purchase. Any extra bonus minutes provided at the time of purchase will be deducted from the unused balance at the time of refund. Any Balance remaining from a purchase that is made prior to 6 months will not be refunded.</p>
                    <h4>9. Prepayments</h4>
                    <p>The following conditions will govern prepayments you make to your Account balance:</p>
                    <p>You may add to your Account balance at any time by accessing "My Account" at our Website www.Raza.com.</p>
                    <p>Any prepayment will be charged to the credit, debit or paypal that you listed in your account information. We will provide you with an e-mail confirmation each time you make a prepayment that is credited to your Account balance.</p>
                    <p>Prepayments must be made in certain dollar denominations, with a minimum of $10.00(Excluding any taxes or fees, where applicable).</p>
                    <p>The prepayments credited to your Account do not expire unless you purchase a plan with a validity date.In such cases we will not be obligated to refund any balance remaining in your Account. Please note that our monthly/daily plans are non-refundable under any circumstances. Thus, you should only make prepayments to your Account if you believe that you will use the balance.</p>
                    <p>Raza.com uses a 1 minute rounding interval. This means that the duration of each call is rounded up to the next full minute for billing purposes. In contrast, many prepaid phone cards use a 3 or 6 minute rounding interval where calls are rounded up in 3 or 6 minute intervals for billing purposes.</p>
                  </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Restrictions on Use; Intellectual Property
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="aboutusCont">
                      <p>All of Raza.com's Products, trademarks, service marks, symbols, logos and the intellectual property rights thereto (collectively "Marks") are the property of Raza.communications or its affiliates and You shall have no right in or to the Marks or any right to use the Marks. You are not permitted to commercially re-sell the Products or to print, produce, sell or distribute any telecommunication products that use or are based upon the Products, the telecommunication services provided with the Products and/or the Marks.</p>
                    </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          Indemnification
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="aboutusCont">
                        <p>You agree that Raza.com shall not be responsible for any third party claims against Us that arise from Your purchase or use of the Products. Further, You agree to reimburse Raza.com for all costs and expenses related to the defense of any such claims, including any type of fee, unless such claims are based upon Our willful misconduct or gross negligence. This provision will continue to remain in force after the Agreement expires or is otherwise terminated.</p>
                      </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Restrictions on Use; Intellectual Property
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="aboutusCont">
                          <p>This section describes Our responsibility for any claims for damages You may assert arising out of the failure of the Products or any other claims You may assert in connection with the Products or with this Agreement. If a Product You purchased is defective, You are entitled to an exchange, a full or partial refund or a credit allowance, as determined by Raza.com in its sole discretion. Except as otherwise provided in the preceding sentence, We and Our affiliates, agents, partners, directors, officers, members and employees are not liable to You or to any third party for any costs, liabilities or damages arising either directly or indirectly from any cause, action or claim relating to the Products, the Raza.com Website and/or the telecommunication services underlying the Products, including without limitation any actual, incidental, consequential, exemplary, punitive, reliance or special damages, or for any claims for loss of revenue, lost profits, lost use, data, or goodwill or for lost business opportunities of any kind or nature whatsoever. These limitations apply even if the damages were foreseeable or We were told that they were possible, and these limitations apply whether the claim is based upon contract, tort, statute, fraud, misrepresentation, or any other legal or equitable theory. We will not be liable for any damages if the telecommunication services underlying the Products are interrupted, or if there is a problem with the interconnection of our Products with the products or equipment of some other party. This section will survive the expiration or termination of the Agreement. Because some jurisdictions do not permit the exclusions or limitation of incidental or consequential damages, Raza.com's liability in such jurisdictions shall be limited to the extent permitted by law.</p>
                          <p>You acknowledge that (a) the Products are provided by Us "AS IS", and (b)Raza.com makes no warranty to You or to any third party whatsoever, directly or indirectly, express, implied or statutory, as to the suitability, durability, description, quality, title, non-infringement, merchantability, completeness or fitness for use or purpose of the Products. All such warranties are hereby expressly excluded and disclaimed. We also make no warranty that the Products will be uninterrupted or error free. We do not authorize anyone, including, but not limited to, Raza.com employees, to make any warranties on Our behalf and You should not rely on any such statement. Your use of the Products is solely at Your risk. Because some jurisdictions do no permit the exclusion of certain warranties, these exclusions may not apply to You. Raza.communications shall not be obligated to provide any refunds for unauthorized use or deficiency in the quality or availability of telecommunications services. Buyer assumes all risks immediately upon purchase of the plan. Prepaid plans once sold are non-refundable and have no surrender value. Calling rates, billing increments, fees, taxes, and other charges are subject to change any time, without any further notice. Raza.communications will not be responsible or liable for any change in calling rates, billing increments, fees, taxes, and other charges. In addition the Promotional duration could change any time without any prior notice.</p>
                          <h4>1. Usage Conditions.</h4>
                          <p>In order to use the Services, your Raza.com Account (your "Account") must have a sufficient balance to cover the cost of the Service. As you use the Services, your Account will be debited accordingly. Calls in progress will be terminated if your Account balance is insufficient to cover the cost of continuing the call.</p>
                          <h4>2. Usage Information</h4>
                          <p>You will have confidential access to your usage information for the past 90 days only on the Website under "My Account" 24 hours a day, seven days a week.</p>
                          <h4>3. Billing Disputes</h4>
                          <p>You must notify us by e-mail at support@Raza.com of any disputed charges within thirty (30) days of the charge being posted to your Account. To the extent we determine that an adjustment is warranted, we will credit your Account accordingly.</p>
                          <p>Raza.com will not be liable for the liabilities whatsoever resulting due to registration of hotel/hostel/public phone numbers or otherwise any claims by you or third parties.</p>
                        </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              Credit Allowances for Interruptions
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="aboutusCont">
                            <p>Raza.communications does not guarantee call quality or connectivity, and will not be responsible or liable for reimbursement of lost minutes or reduction in the stored value of any prepaid card. Connection to a wrong number is a valid call. Service outages extending over few hours to a couple of days may occur. Raza.communications will not be liable for such outages, and customers shall have no right to any refund, credit, compensation or damages from Raza.communications because of service outage or any other situation arising out of service outage.</p>
                            <h4>Gift Cards</h4>
                            <h4>1. Redemption</h4>
                            <p>Raza.com gift cards can be redeemed only on the Raza.com website towards the usage of Raza.com services. The recipient who is not yet a Raza.com customer will need to open an account before redeeming a gift card. The recipient may use a gift card to make the first payment. However, we cannot pay a referral bonus unless before redeeming the gift, the recipient adds credit to their account using a credit or debit card not used on another account. Once a gift card is redeemed, the credit is posted on the recipient's account on Raza.com website.</p>
                            <h4>2. Limitations</h4>
                            <p>Gift cards unclaimed or rejected by the recipient within 180 days will expire. Gift cards have no cash redemption value and are not transferable or assignable except to the sender as well. Our gift program cannot be combined with the Referral, Rewards or any other Raza.com promotional program.</p>
                            <h4>3. Risk of Loss</h4>
                            <p>The risk of loss and title for Gifts card to the purchaser upon our electronic transmission to the purchaser or recipient, whichever is applicable. We are not responsible if a gift card is lost, stolen, used without your permission or redeemed by an unintended recipient.</p>
                            <h4>4. Fraud</h4>
                            <p>Raza.com will have the right to close customer accounts and bill alternative forms of payment if a fraudulently obtained gift card is redeemed and/or used on Raza.com.</p>
                            <p>Miscellaneous<br/>
                  This Agreement does not provide any third party with a remedy, claim, or right of reimbursement.</p>
                            <h4>2. Acts Beyond Our Control</h4>
                            <p>Neither You nor Raza.com will be responsible to the other for any delay, failure in performance, loss or damage due to fire, explosion, power blackout, earthquake, volcanic action, flood, the weather elements, strike, embargo, labor disputes, civil or military authority, war, acts of God, acts or omissions of carriers or suppliers, acts of regulatory or governmental agencies, or other causes beyond, as applicable, yours or our reasonable control.</p>
                            <h4>3. Bankruptcy by Carrier</h4>
                            <p>Raza.communications will not be liable or responsible to reimburse for loss of minutes or loss of value in prepaid phone plans if any of the telecommunications carrier of the prepaid phone plans declare bankruptcy.</p>
                            <h4>4. Security Issues</h4>
                            <p>This site has security measures (SSL) in place to protect the loss, misuse and alteration of the information under our control. Raza.communications however shall not be responsible for the security of your data or for fraudulent use of credit card to make purchases on this web site nor shall Raza.communications be obligated to make refunds or to provide any compensation where such fraudulent use occurs. Raza.communications will actively cooperate with law enforcement authorities in prosecuting any one who uses this web site or products/services sold over this web site for unlawful use.</p>
                            <h4>5. Dispute Resolution</h4>
                            <p>Dispute arising from purchase on this web site or relating to this agreement, if not settled by the parties in good faith, may at their discretion, be submitted for arbitration to American Arbitration Association (AAA) at their offices in Chicago. All disputes, including interpretation of Arbitration Award shall be subject to laws of State of Illinois, and jurisdiction shall reside with Federal and State Court in Illinois. Prevailing party in the dispute shall be entitled to, in addition to any damages or relief, to reasonable expenses and attorney fees from the other party.</p>
                            <h4>6. Assignment</h4>
                            <p>We can assign all or part of our rights or duties under this Agreement without notifying You. If We elect to make such an assignment, We will have no further obligations to You under this Agreement or in connection with Your purchase or use of the Products. You may not assign this Agreement without Our prior written consent.</p>
                            <h4>7. Notices</h4>
                            <p>Any notice from Raza.com to You under this Agreement will be provided by one or more of the following: posting on the Raza.com Website, a recorded announcement on a Product, postcard, letter, or a call to a telephone number provided by You, or an e-mail to an e-mail address provided by you. You may contact Us either by phone or by e-mail to:support@Raza.com. Notice from You to Us is effective as of the date that Our records show that We received Your call or correspondence.</p>
                            <h4>8. Separability</h4>
                            <p>If any part of this Agreement is found invalid, the rest of the Agreement will remain valid and enforceable.</p>
                            <h4>9. Governing Law</h4>
                            <p>This Agreement will be governed by the law of the State of Illinois, without regard to its choice of law rules. This governing law provision applies no matter where You reside, or where You use, purchase or pay for the Products.</p>
                            <h4>10. Entire Agreement</h4>
                            <p>This Agreement (which incorporates by reference the Raza.com Website) constitutes the entire agreement between You and Us and supersedes all prior agreements, understandings, statements or proposals, and representations, whether written or oral. This Agreement can be amended only as provided in the Changes to the Agreement section below. No written or oral statement, advertisement, or Product description not expressly contained in the Agreement or the Raza.com Website will be allowed to contradict, explain, or supplement this Agreement or the Product description. Neither You nor We are relying on any representations or statements by the other party or any other person that is not included in this Agreement.</p>
                            <h4>11. Severability of Provisions</h4>
                            <p>In the event that any section or portion of this agreement is deemed unenforceable by a judicial authority having jurisdiction over the matter, such section or portion shall be deleted form the Agreement, and the Agreement shall be enforced as if that section or portion was not a part of the Agreement in the first instance.</p>
                            <h4>12. Changes to the Agreement</h4>
                            <p>This Agreement may only be changed in the manner provided for in this section. We may change this Agreement and the information contained elsewhere on the Website from time to time. All such changes will be effective at the time of posting on www.Raza.com. You may also request a copy of the revised Agreement by calling us toll free at 1-877-463-4233.</p>
                            <h4>13. Contacting the Web Site</h4>
                            <p>If you have any questions about this web site, you may contact:</p>
                            <h4>Mailing Address:</h4>
                            <p>Customer Service<br/>
                            Raza.communications<br/>
                            5219 N Harlem Ave<br/>
                            Chicago, IL 60656</p>
                            <h4>Voice:</h4>
                            <p>US: 877-463-4233<br/>
                            Canada: 800-550-3501<br/>
                            UK: 0808-234-7012</p>
                            <h4>Email:</h4>
                            <p>support@Raza.com<br/>
                            info@Raza.com</p>
                          </div>
            </mat-expansion-panel>

        </mat-accordion>

  </div>
 
  

  