<div class="operator">
  <div class="header">
    <div>choose operator</div>
    <button class="bg-white border-0"  mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
<div mat-dialog-content>
  <div class="operator-wrapper">
    <div><img src="./assets/images/jio-logo.svg" alt=""> <span>Jio</span></div>
    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
  </div>
  <div class="operator-wrapper">
    <div><img src="./assets/images/jio-logo.svg" alt=""> <span>Jio</span></div>
    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
  </div>
  <div class="operator-wrapper">
    <div><img src="./assets/images/jio-logo.svg" alt=""> <span>Jio</span></div>
    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
  </div>
  <div class="operator-wrapper">
    <div><img src="./assets/images/jio-logo.svg" alt=""> <span>Jio</span></div>
    <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
  </div>
  
</div>
<div class="note">Please verify your recipient's mobile carrier before processing your Top-up. All Mobile Top up's are final and cannot be refunded.</div>
</div>