::ng-deep {
    .operator .mat-dialog-content {
        padding: 0 24px !important;
    }
    .mat-dialog-container {
        border-radius: 20px;
    }
}
.operator-wrapper {
    display: flex;
    min-width: 250px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #eaeaea;
    letter-spacing: 0.3px;
    color: #253853;
    font-size: 15px;
    font-family: 'Roboto';
    img {
        margin-right: 16px;
        height: 24px;
        width: 24px;
        object-fit: contain;    
    }
}
.operator {
    .header {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 8px;
        ::after {
                content: "";
                height: 1px;
                position: absolute;
                background: #eaeaea;
                left: -24px;
                right: -24px;
                bottom: 0;
        }
        div {
            color: #253853;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            font-size: 15px;
            font-family: "Source Sans Pro";
            font-weight: bold;
        }
    }
    .note {
        color: #2B4964;
        font-size: 10px;
        font-family: 'Roboto';
        margin-top: 10px;
    }
}

::ng-deep{
    .choose-country label {
        color: #253853!important;
        font-size: 16px;
        font-weight: 600;
    }
    .operator-wrapper .mat-checkbox-inner-container {
        background: #EEF9FF;
    }
    
    
    .operator-wrapper .mat-checkbox-frame {
        border-color: #0996F6;
        border-width: 1px !important;
        border-radius: 50%;
    }
    .operator-wrapper .mat-checkbox-checked.mat-primary .mat-checkbox-background {
        background-color: #0996F6;
        border-radius: 50%;
    }
}
