::ng-deep .operator .mat-dialog-content {
  padding: 0 24px !important;
}

::ng-deep .mat-dialog-container {
  border-radius: 20px;
}

.operator-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #eaeaea;
  letter-spacing: 0.3px;
  color: #253853;
  font-size: 15px;
  font-family: 'Roboto';
}

.operator-wrapper img {
  margin-right: 16px;
  height: 24px;
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.operator .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 8px;
}

.operator .header ::after {
  content: "";
  height: 1px;
  position: absolute;
  background: #eaeaea;
  left: -24px;
  right: -24px;
  bottom: 0;
}

.operator .header div {
  color: #253853;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 15px;
  font-family: "Source Sans Pro";
  font-weight: bold;
}

.operator .note {
  color: #2B4964;
  font-size: 10px;
  font-family: 'Roboto';
  margin-top: 10px;
}

::ng-deep .choose-country label {
  color: #253853 !important;
  font-size: 16px;
  font-weight: 600;
}

::ng-deep .operator-wrapper .mat-checkbox-inner-container {
  background: #EEF9FF;
}

::ng-deep .operator-wrapper .mat-checkbox-frame {
  border-color: #0996F6;
  border-width: 1px !important;
  border-radius: 50%;
}

::ng-deep .operator-wrapper .mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: #0996F6;
  border-radius: 50%;
}
/*# sourceMappingURL=dialog-operator.component.css.map */