input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.cdk-overlay-pane {
  height: unset !important;
}

.popup-wrapper {
  position: relative !important;
  padding: 40px 20px 10px;
  text-align: center;
}

.popup-wrapper .number-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  vertical-align: bottom;
}

.popup-wrapper .eyes {
  position: absolute;
  right: 0;
  top: 0;
}

.popup-wrapper .eyes mat-icon {
  color: #124390;
}

.popup-wrapper .new-raza {
  margin-bottom: 30px;
  font-weight: 500;
}

.popup-wrapper h1 {
  margin-bottom: 10px;
  font-size: 30px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.popup-wrapper .subtitle {
  font-size: 18px;
  letter-spacing: 0px;
  color: #717171;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.popup-wrapper p {
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
}

.popup-wrapper p a {
  color: #0b3d8d;
  text-decoration: none;
}

.popup-wrapper span {
  font-size: 14px;
  letter-spacing: 0px;
  color: #717171;
  font-family: "Montserrat", sans-serif;
}

.popup-wrapper span a {
  text-decoration: none;
}

.popup-wrapper p,
.popup-wrapper span {
  font-family: "Montserrat", sans-serif;
}

.popup-wrapper .mat-select {
  width: 100% !important;
}

.popup-wrapper .mat-empty span {
  display: block;
}

.popup-wrapper label span {
  display: none;
}

.popup-wrapper .mat-form-field-infix {
  min-width: 100% !important;
  max-width: 100% !important;
  font-size: 20px;
  letter-spacing: 0px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-weight: 600;
}

.popup-wrapper .mat-form-field-infix input {
  letter-spacing: 3px;
}

.popup-wrapper .mat-form-field-infix .resend {
  font-size: 16px;
  letter-spacing: 0px;
  color: #0b3d8d;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 0;
  text-decoration: none;
  padding: 6px 0;
  bottom: -35px;
  font-weight: 500;
  z-index: 1;
}

.popup-wrapper .mat-form-field-infix span {
  font-size: 18px;
  letter-spacing: 0px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
}

.popup-wrapper .full-width {
  width: 100%;
}

.popup-wrapper .forgot .mat-dialog-content {
  overflow: hidden;
}

.popup-wrapper .forgot .full-width {
  width: 100% !important;
}

.popup-wrapper .forgot h1 {
  margin-bottom: 10px;
  font-size: 26px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.popup-wrapper .forgot p {
  font-size: 16px;
}

.popup-wrapper .forgetPass {
  position: absolute;
  right: 0px;
  font-size: 12px !important;
  bottom: 10px;
  color: #0b3d8d !important;
  z-index: 2;
}

.popup-wrapper .example-container .mat-form-field:nth-child(1) {
  width: 22%;
  margin-right: 20px;
}

.popup-wrapper .example-container .mat-form-field:nth-child(2) {
  width: 100%;
  margin-left: 20px;
}

.popup-wrapper .example-container mat-form-field:nth-child(4) {
  margin-top: 30px;
}

.popup-wrapper .cancel {
  position: absolute;
  top: -27px;
  right: 0;
  padding: 0;
  height: 20px;
  width: 29px;
}

.popup-wrapper .cancel button {
  font-size: 40px;
  font-weight: 300;
  min-width: 30px;
  background: #fff;
  border: none;
}

.popup-wrapper .submit-btn {
  text-align: center;
  margin: 50px 0;
}

.popup-wrapper .submit-btn a, .popup-wrapper .submit-btn button {
  border: 1px solid #f4cb26;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 20px;
  padding: 2px 100px;
  text-decoration: none;
  background-color: #F4CB26;
}

.popup-wrapper .submit-btn a span, .popup-wrapper .submit-btn button span {
  color: #0b203e;
  font-weight: 600;
}

.popup-wrapper .submit-btn a:hover, .popup-wrapper .submit-btn button:hover {
  background: #ffe374;
}

.popup-wrapper .flag-wrapper {
  width: 35%;
  border-bottom: 1px solid #949494;
  position: relative;
  float: left;
  padding: 2px 0;
}

.popup-wrapper .flag-wrapper .select_top1 {
  padding: 0;
  margin-top: 14px;
  /* position: absolute; */
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  /* width: 45px; */
  left: 21px;
  top: 33px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-wrapper .flag-wrapper .select_top1 span {
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  color: #000;
  font-weight: 600;
  letter-spacing: 4px;
}

.popup-wrapper .flag-wrapper .select_top1:after {
  font-family: 'Material Icons';
  content: "expand_more";
  font-size: 30px;
  font-weight: 400;
  color: #000;
  position: absolute;
  right: 0;
}

.popup-wrapper .flag-wrapper .flag_list1 li {
  /* padding: 9px 2px; */
  /* margin: 0 0 5px 0; */
  cursor: pointer;
  position: relative;
  height: 50px;
  border-bottom: 1px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-wrapper .flag-wrapper .flag_list1 {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  z-index: 3;
  top: 52px;
  right: 0;
  width: 100%;
}

.popup-wrapper .flag-wrapper .flag_list1 ul {
  padding: 0;
  background: #efefef;
}

.popup-wrapper .flag-wrapper .flag_list1 ul li span {
  display: block;
  margin-left: 7px;
}

@media only screen and (max-width: 767px) {
  .popup-wrapper h1 {
    font-size: 19px;
  }
  .popup-wrapper .subtitle {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .popup-wrapper .example-container .mat-form-field:nth-child(1) {
    width: 50%;
  }
  .popup-wrapper .example-container .mat-form-field:nth-child(2) {
    width: auto;
    float: right;
    overflow: hidden;
    margin-left: 16px;
  }
  .popup-wrapper .mat-form-field-infix span {
    font-size: 15px;
    font-weight: 500;
  }
  .popup-wrapper .mat-form-field-infix .resend {
    right: 0;
    bottom: -25px;
    font-size: 12px;
  }
  .popup-wrapper .example-container mat-form-field:nth-child(4) {
    margin-top: 0px;
  }
  .popup-wrapper .submit-btn {
    margin: 30px 0;
  }
  .popup-wrapper .new-raza {
    margin-bottom: 20px;
  }
  .popup-wrapper p {
    font-size: 14px;
  }
  .popup-wrapper span {
    font-size: 12px;
  }
  .popup-wrapper .forgot p {
    font-size: 12px;
  }
  .popup-wrapper .forgot h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .popup-wrapper .flag-wrapper {
    width: 60%;
  }
  .popup-wrapper .submit-btn a {
    padding: 2px 50px;
  }
}

@media only screen and (max-width: 767px) {
  .popup-wrapper .flag-wrapper {
    width: 40%;
  }
  .popup-wrapper .mat-form-field-infix input {
    font-size: 16px;
    font-weight: 500;
  }
  .flag-wrapper span {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  .popup-wrapper .flag-wrapper {
    width: auto;
  }
  .popup-wrapper .example-container .mat-form-field:nth-child(2) {
    width: 100%;
    float: right;
    overflow: hidden;
    margin-left: 26px;
  }
  .popup-wrapper .flag-wrapper .select_top1:after {
    font-size: 23px;
    right: -16px;
    color: #717171;
  }
  .cdk-overlay-pane {
    height: unset !important;
    max-width: 100% !important;
  }
}

.no-data .material-icons {
  font-size: 76px;
}

.no-data .subtitle {
  color: black;
  font-weight: 500;
  font-size: 24px;
}
/*# sourceMappingURL=nodata-found.component.css.map */