<div class="new-payment-form">
  <form [formGroup]="paymentInfoForm" (ngSubmit)='onPaymentInfoFormSubmit()' novalidate>
    <div class="form__wrapper">
      <!--<div class="row form_holder5Row" style="display:none;">
        <div class="col-sm-12">
         <div class="align-items-center d-flex flex-wrap flex-lg-nowrap">
          <mat-form-field class="example-full-width order-2 order-lg-0">
            <input matInput placeholder="Card Number" autocomplete="off" type="tel" formControlName="cardNumber"
              maxlength="19" ccNumber>
            <span class="lock"><img src="../assets/images/lock_icon.png" alt="" /></span>
          </mat-form-field>
          <label>
            <span class="floatRight pl-0 pl-lg-3 order-1 order-lg-0">
              <img src="../assets/images/credit_cards_icon.png" alt="" />
            </span>
          </label>
         </div>
        </div>
        <div class="col-sm-4">
          <div>
            <mat-form-field>
              <mat-select placeholder="Month" formControlName="validFrom">
                <mat-option *ngFor="let item of months" [value]="item.Code">{{item.Value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div>
            <mat-form-field>
              <mat-select placeholder="Year" formControlName="validTo">
                <mat-option *ngFor="let item of years" [value]="item.Code">{{item.Value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Security Code" type="password" formControlName="cvv" maxlength="4" ccCvc>
            <span class="lock"><img src="../assets/images/lock_icon.png" alt="" /></span>
          </mat-form-field>
        </div>
      </div>
      <mat-divider class="mb-3"></mat-divider>-->
      <!-- <div class="row form_holder5Row">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name on the card" formControlName="firstName">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        </div>
      </div>
      <div class="row form_holder5Row">
        <div class="col-sm-12">
          <label>
            <span class="i_icon">
              <img matTooltipPosition="left"
                matTooltip="Lorem ipsum dolor sit amet, telloines consectetur adipiscing elit, sed do cani eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim demi veniam."
                src="../assets/images/i_icon.png" alt="" /></span></label>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>
  
      </div> -->
      <div class="col-sm-6">

        <div *ngIf="isPromotion==false" class="col-sm-12 formRowM15 text-left current-country">
          <img alt="flag" height="20" src="./../../assets/images/blank.gif" width="30" [class]="countryFlagCss">
          
        </div>
        <div *ngIf="isPromotion==true" class="position-relative">
        <div class="select_top1 text-left" (click)="openFlagDropDown()">
          <img src="./../../assets/images/blank.gif" alt="flag" width="30" height="20"
            [ngClass]="'flag flag-f-'+ currentSetting?.country?.CountryId">
          <svg version="1.1" class="ml-2" height="15" width="15" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 386.257 386.257" style="enable-background:new 0 0 386.257 386.257;" xml:space="preserve">
          <polygon points="0,96.879 193.129,289.379 386.257,96.879 "/>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          </svg>
            You are in {{currentSetting.country?.CountryName}}
            {{countryFrom}}
        </div>
        <div class="flag_list1" *ngIf="showDropdown">
          <ul>
            <li *ngFor="let item of countryFrom" (click)="onSelectCountrFrom(item)" >
            
                
                <img src="./../../assets/images/blank.gif" alt="flag" width="30" height="20"
                  [ngClass]="'flag flag-f-'+ item.CountryId">
               
            </li>
          </ul>
        </div>
      </div>

        <mat-form-field class="example-full-width ">
          <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
        </mat-form-field>
      </div>

      <div class="row form_holder5Row">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width ">
            <input matInput placeholder="First Name" formControlName="firstName" required>
          </mat-form-field>
        </div>
  
        <div class="col-sm-6">
          <mat-form-field class="example-full-width ">
            <input matInput placeholder="Last Name" formControlName="lastName" required>
          </mat-form-field>
        </div>
        
        <div class="col-sm-6">
          <label>
            <span class="i_icon">
              <img matTooltipPosition="left"
                matTooltip="Payment confirmation will be sent to."
                src="../assets/images/i_icon.png" alt="" /></span></label>
          <mat-form-field class="example-full-width ">
            <input matInput placeholder="Email (Payment confirmation will be sent to)" formControlName="email" >
          </mat-form-field>
        </div>
        
        <!--<div class="col-sm-12"> 
          <mat-form-field class="example-full-width ">
          
            <input matInput placeholder="Address" required class="input search_google" (keypress)="getPlaceAutocomplete()" #addresstext formControlName="address"  >
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="City" formControlName="city" required> 
          </mat-form-field>
        </div>
 
        <div class="col-sm-6" *ngIf="search_country_id != 3">
          <mat-form-field *ngIf="!isFreeStateText">
            <mat-select placeholder="State" formControlName="state" required>
              <mat-option *ngFor="let item of states" [value]="item.Id">{{item.Name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="isFreeStateText">
            <input matInput placeholder="State" formControlName="state" required>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field class="example-full-width ">
            <input matInput placeholder="Zip/Postal code" formControlName="zipcode" required>
          </mat-form-field>
        </div>
              
        <div class="col-sm-6" >
          <mat-form-field>
            <mat-select placeholder="Country" formControlName="country" (selectionChange)="onCountryChange($event.value)" required>
              <mat-option *ngFor="let item of countries" [value]="item.CountryId">{{item.CountryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>-->

      </div>
  
      
      <div class="greyLine"></div>
    </div>

    <div class="form_row1 full-width-btn fixed-btn">
      <div class="input_holder1 d-block d-lg-flex justify-content-end px-4">
        
        <button type="submit" mat-button class="submitButton_confirms">Confirm</button>
        
      </div>
    </div>
  </form>
</div>

 
<!--Open dialog if error comes. Do not remove this functionality is attached with this.-->
<button type="hidden" style="display:none!important;" id="auto_trigger" (click)="editModal()"class="btn btn-warning"></button>
<!--EOF Open dialog if error comes -->

<div id="mybraintreeDiv" style="position:absolute; width:100%;height:100%; z-index:9999;">
  <div id="el" style="position:absolute; z-index:9999; width:auto; background-color:#fff;height:auto; left:40%;top:40%;"></div>
</div>


 