<div class="promotion-top">
<div class="popupGlobalCall globalCallPopUp christmas">
    <div class="selectRechargeamountMain">
        <div class="background-effect"></div>
        <span class="closeIcon globalCall" (click)="closeIcon()" mat-dialog-close><i
                class="material-icons">close</i></span>
        <h1 class="mb-0 promo-title" *ngIf="currentSetting?.country?.CountryId !=3">GET Up to 20% Bonus Minutes</h1>
        <h1 class="mb-0 promo-title" *ngIf="currentSetting?.country?.CountryId ==3">GET Up to 10% Bonus Minutes</h1>
        <p class="text-center sub-heading">BEST OFFER of the year</p>

        <mat-dialog-content #matContent>
            <div class="selectRechargeamount pt-0">
                <!-- <div class="bonusArea">
                    <span>Regular mins</span>
                    <span class="relative">
                        <mat-slide-toggle [(checked)]="isAutorefill" (change)="onChange($event)">PROMO MINS
                        </mat-slide-toggle><img class="i_icon" matTooltip="1. Enroll to Auto-refill and earn 20% bonus minutes.
                            2. We will recharge your plan only when the account balance falls below $2.
                            3. Cancel online or by calling customer service anytime." matTooltipPosition="right"
                            src="assets/images/i_icon.png" alt="" />
                    </span>
                    <span class="bonusMin2"><img src="assets/images/bonus20.png" alt="" /></span>
                </div> -->
                <div class="selectRechargeAmnt">
                    <ul class="d-none">
                        <li class="d-none d-md-block">
                        <div class="commonminArea">
                            <div class="callRate">
                                <!-- <span><img src="assets/images/promotions/Eid2020/mosque-for-ratepopup.png"></span> -->
                                    <!--<span><img src="/assets/images/promotions/vd2020/heart-for-ratepopup.jpg"></span>-->
									<span><img src="/assets/images/promotions/thanks2020/ratepopup.png" class="cracker-img "></span>
                                </div>
                            </div>
                        </li>

                        <li *ngFor="let item of Denominations.slice().reverse(); let i = index" class="rate-item ng-star-inserted"
                            style="margin:20px 10px 0 0" (click)="buyPlan(item)">
                            <div class="commonpriceArea popular ripple-container mat-ripple" matripple="">
                                <div class="commonminArea">
                                    <small class="text-left text-uppercase"><b>Bonus</b></small>
                                    <p class="mins">{{item.OfferPercentage}}<b style="font-size:30px">%</b> </p>
                                    <div class="smallLine"></div>
                                    <p class="charge"> {{item.Price | bCurrency}}</p>
                                </div>
                                <div class="popuplarTag" *ngIf="i==2">
                                    <img src="assets/images/popular_tag.png" alt="" />
                                </div>
                            </div>
                        </li>

                    </ul>

                    <div class="popup-card">
                        <div class="promotions-wrapper">
                            <div class="box-wrapper" *ngFor="let item of Denominations.slice().reverse(); let i = index">
                                <div class="card-wrapper">
                                    <div class="card-head">
                                        <p>Bonus</p>
                                        <h1 class="discount-percentage">{{item.OfferPercentage}}%</h1>
                                    </div>
                                    <hr>
                                    <p class="price">{{item.Price|bCurrency:item.CurrencyCode}}</p>
                                    <ul class="feature-list">
                                        <li><img src="../../../../assets/images/promotions/christmas/check.png" alt="" class="mr-1"> Call Global</li>
                                        <li><img src="../../../../assets/images/promotions/christmas/check.png" alt="" class="mr-1"> Mins never expire</li>
                                        <li><img src="../../../../assets/images/promotions/christmas/check.png" alt="" class="mr-1"> Excellent quality</li>
                                        <li><img src="../../../../assets/images/promotions/christmas/check.png" alt="" class="mr-1"> 100% Money back</li>
                                    </ul>
                                    <div class="button-wrapper text-center">
                                        <a href="javascript:void(0)" (click)="buyPlan(item)" type="button" class="btn btn-gredients">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="text-right mr-0 mr-md-5 bottom-text pr-0 pr-md-5 py-4">
                                <p class="text-blue">
                                    <span>Have a question?
                                        <a (click)="contactUs()" class="text-blue">Call us</a>
                                        <!-- <a>Chat with us</a> -->
                                    </span>
                                </p>
                                <p class="text-right"> *Valid for both New and Existing customers ,Limited time offer only.</p>
                            </div>
                        </div>
                    </div>
                    

                    <div class="container popup-card" style="display:none;">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-wrapper">
                                    <div class="card-head">
                                        <p>Bonus</p>
                                        <h1 class="discount-percentage">20%</h1>
                                    </div>
                                    <p class="price"><sup>$</sup> 100</p>
                                    <ul class="feature-list">
                                        <li>Call Global</li>
                                        <li>Mins never expire</li>
                                        <li>Excellent quality</li>
                                        <li>100% Money back</li>
                                    </ul>
                                    <div class="button-wrapper text-center">
                                        <a href="#" type="button" class="btn btn-gredients">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-wrapper">
                                    <div class="card-head">
                                        <p>Bonus</p>
                                        <h1 class="discount-percentage">15%</h1>
                                    </div>
                                    <p class="price"><sup>$</sup> 50</p>
                                    <ul class="feature-list">
                                        <li>Call Global</li>
                                        <li>Mins never expire</li>
                                        <li>Excellent quality</li>
                                        <li>100% Money back</li>
                                    </ul>
                                    <div class="button-wrapper text-center">
                                        <a href="#" type="button" class="btn btn-gredients">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-wrapper">
                                    <div class="card-head">
                                        <p>Bonus</p>
                                        <h1 class="discount-percentage">12%</h1>
                                    </div>
                                    <p class="price"><sup>$</sup> 20</p>
                                    <ul class="feature-list">
                                        <li>Call Global</li>
                                        <li>Mins never expire</li>
                                        <li>Excellent quality</li>
                                        <li>100% Money back</li>
                                    </ul>
                                    <div class="button-wrapper text-center">
                                        <a href="#" type="button" class="btn btn-gredients">Buy Now</a>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-wrapper">
                                    <div class="card-head">
                                        <p>Bonus</p>
                                        <h1 class="discount-percentage">5%</h1>
                                    </div>
                                    <p class="price"><sup>$</sup> 10</p>
                                    <ul class="feature-list">
                                        <li>Call Global</li>
                                        <li>Mins never expire</li>
                                        <li>Excellent quality</li>
                                        <li>100% Money back</li>
                                    </ul>
                                    <div class="button-wrapper text-center">
                                        <a href="#" type="button" class="btn btn-gredients">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <p *ngIf="viewAllPlan">Rates not found.</p>
                    <div class="viewAllRatesPanel" *ngIf="viewAllrate">
                        <div class="row">

                            <div class="col-md-9">
                                <h4>Global call rates to call {{countryName}}</h4>
                                <p>These rates apply to call {{countryName}} only, rates to call other countries may
                                    differ.</p>
                                <table class="table">
                                    <thead>
                                        <th>Operator</th>
                                        <th>Minutes</th>
                                        <th>Rate / min</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of FilteredSubPlans">
                                            <td>{{item.CountryName}}</td>
                                            <td>{{item.TotalTime}}</td>
                                            <td>{{item.CallRate | sCurrency : globalPlanData.CurrencyCode }} / min</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="input_holder1" style="margin-bottom:18px;">
                                    <button (click)="buyPlan()" mat-button class="submitButton">BUY NOW</button>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select (selectionChange)="selectDenomination()" placeholder="Select amount"
                                        [formControl]="denominationSelectControl">
                                        <mat-option *ngFor="let item of denominationList" [value]="item">
                                            {{item | bCurrency}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <p class="descText marginTop15 d-none">*All the rates are calculated on the highest denomination calling
                        plan. For your convenience the plan is set to Auto-refill please uncheck to view the rates
                        without auto-refill.</p>
                </div>
                
            </div>
        </mat-dialog-content>
    </div>
</div>
</div>