@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
.rate-item {
	cursor: pointer;
}
.ripple-container {
	cursor: pointer;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}
.popupGlobalCall {
	width: 100%;
	max-width: 100%;
	.selectRechargeAmnt {
		ul {
			li {
				.commonpriceArea {
					padding: 60px 0;
				}
				&:first-child {
					margin-right: -5px;
				}
			}
		}
	}
}
.card-wrapper {
	border-radius: 16px;
	padding-bottom: 20px;
	background: #fff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	hr {
		width: 75%;
		margin: 0 auto;
	}
	.feature-list {
		display: block !important;
		list-style: disc !important;
		padding-left: 20px !important;
		padding-bottom: 20px !important;
		margin-left: 0% !important;
		li {
			color: #404040;
			text-align: left;
			text-transform: none;
			font-weight: 400;
			font-size: 13px;
			line-height: 26px;
			margin: 0 !important;
			float: none;
			list-style: none;
		}
	}
}
.card-head {
	text-align: center;
	background: #ffffff;
	padding: 20px 0;
	border-radius: 16px 16px 0 0;
	p {
		margin: 0;
		color: #603702;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
	}
	h1 {
		&.discount-percentage {
			color: #603702;
			font-size: 50px;
			font-weight: 900;
			margin: 0;
			line-height: 40px;
		}
	}
}
.btn-gredients {
	width: 80%;
	color: #fff;
	font-weight: 500;
	border-radius: 7px;
	background: rgb(250,92,69);
	background: -moz-linear-gradient(90deg, rgba(250,92,69,1) 23%, rgba(254,157,21,1) 60%);
	background: -webkit-linear-gradient(90deg, rgba(250,92,69,1) 23%, rgba(254,157,21,1) 60%);
	background: linear-gradient(90deg, rgba(250,92,69,1) 23%, rgba(254,157,21,1) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa5c45",endColorstr="#fe9d15",GradientType=1);
}
p {
	&.price {
		color: #42495e;
		font-weight: 400;
		font-size: 36px;
		text-align: center;
		margin: 0;
		padding: 15px 0;
		sup {
			left: 10px;
			font-size: 19px;
			font-weight: 300;
			top: -14px;
		}
	}
}
.container {
	&.popup-card {
		margin-top: 30px;
	}
}
h1 {
	&.mb-0 {
		&.promo-title {
			font-size: 40px;
			font-weight: 600;
			position: relative;
			z-index: 1;
			padding-top: 20px;
			color: #000000;
			text-transform: uppercase;
			padding-bottom: 5px;
		}
	}
}
.christmas {
	position: relative;
	.closeIcon {
		top: 0 !important;
		right: 0;
		z-index: 99;
	}
	&:before {
		content: '';
			content: '';
			 
			width: 279px;
			height: 197px;
		left: 0;
		bottom: 0px;
		position: absolute;
		z-index: 1;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&:after {
		content: '';
	 
		width: 162px;
		height: 347px;
		right: 0px;
		bottom: 0;
		position: absolute;
		z-index: 999;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.sub-heading {
	font-size: 22px;
	font-weight: 500;
	position: relative;
	z-index: 999;
	margin-bottom: 10px;
	color: #000000;
	text-transform: uppercase;
}
.background-effect {
	width: 100%;
	height: 100%;
	background: #f8f1e8;
	height: 221px;
	grid-column: 1/-1;
	-ms-grid-column: 10;
	-ms-grid-column-span: 6;
	-ms-grid-row: 1;
	grid-row: 1;
	margin-top: 0;
	border-radius: 0;
	position: absolute;
}
.popup-card {
	.col-md-3 {
		&:nth-child(3) {
			.card-wrapper {
				position: relative;
				.card-head {
					padding: 30px 0 20px 0;
				}
			}
		}
	}
	.textARea {
		p {
			margin-right: 40px;
		}
	}
}
.promotions-wrapper {
	display: flex;
	justify-content: center;
	gap: 20px;
	.box-wrapper {
		&:nth-child(3):before {
			content: '';
			 
			position: absolute;
			height: 23px;
			width: 84px;
			top: 26%;
			left: -4px;
		}
		&:nth-child(3) {
			position: relative;
		}
	}
}
.box-wrapper {
	z-index: 1;
	z-index: 1;
	min-width: 200px;
}
.promotion-top {
	position: relative;
	&:before {
		content: '';
		 
		position: absolute;
		width: 203px;
		height: 188px;
		left: -1px;
		top: 0;
		z-index: 9;
		background-size: contain;
    background-repeat: no-repeat;
	}
	&:after {
		content: '';
		 
		position: absolute;
		width: 127px;
    height: 220px;
		right: 0;
		top: 0;
		z-index: 9;
		background-size: contain;
    background-repeat: no-repeat;
	}
}
.bottom-text {
	z-index: 999999;
	position: relative;
	p {
		margin-bottom: 0;
	}
}
.text-blue {
	color: #1f3676;
	font-weight: 500;
}



@media only screen and (max-width: 567px) {
  h1.mb-0.promo-title {
    font-size: 24px;
  }
  .sub-heading {
    font-size: 15px;
  }
  .card-head h1.discount-percentage {
    font-size: 28px;
  }
  .card-wrapper {
    margin-top: 20px;
  }
  .popup-card .col-md-3 {
    padding: 0;
  }
  .card-wrapper .feature-list li {
    font-size: 12px;
    line-height: 21px;
  }
  .card-wrapper .feature-list {
    display: block !important;
    list-style: disc !important;
    padding-left: 10px !important;
    margin-left: 0px !important;
    padding-bottom: 20px !important;
  }
  .background-effect {
    display: none;
  }
  .box-wrapper {
    width: 85%;
    margin: auto;
}

.promotions-wrapper {
    display: block;
}

.christmas:after,.christmas:before,.promotion-top:after,.promotion-top:before {
    content: none;
}

}

// .promotions-wrapper:after {
// 	content: "";
//     position: absolute;
//     height: 91px;
//     width: 105px;
//      
// 	right: 0;
//     top: 50%;

// }
// h1.mb-0.promo-title:before {
//     content: '';
//     position: absolute;
// 	height: 43px;
//     width: 44px;
//     
//     left: 43%;
// 	top: -7px;
// }

@media only screen and (max-width:650px){
	.promotions-wrapper:after {
		content: none;
	
	}
	h1.mb-0.promo-title:before {
		content: none;
	}
}