<a mat-list-item routerLink="/">
  <span class="mainSpan">HOME
    <span class="slider"></span>
  </span>
</a>
   
<a mat-list-item routerLink="/recharge/quick"> 
  <span class="mainSpan">QUICK RECHARGE
    <span class="slider"></span>
  </span>
</a>
<a mat-list-item routerLink="/searchrates">
  <span class="mainSpan">SEARCH RATES
    <span class="slider"></span>
  </span>
</a>
<a mat-list-item routerLink="/mobiletopup">
  <span class="mainSpan">MOBILE TOP-UP
    <span class="slider"></span>
  </span>
</a>
<a mat-list-item routerLink="/mobiledeals" class="hide-desktop">
  <span class="mainSpan">DEALS
    <span class="slider"></span>
  </span>
</a>
<!-- <a mat-list-item routerLink=".">
  <span class="mainSpan">CALL ME LOCAL
    <span class="slider"></span>
  </span>
  <span class="subMenu"><img src="assets/images/sub_menu_icon.svg" alt="arrow down" /></span>
</a> -->
<a mat-list-item  (click)="redirectClick();" >
  <span class="mainSpan">SIGNUP / LOGIN
    <span class="slider"></span>
  </span>
  <span class="subMenu"><img src="assets/images/sub_menu_icon.svg" alt="arrow down" /></span>
</a>
<!-- <a mat-list-item routerLink=".">
  <span class="mainSpan">LIVE CHAT
    <span class="slider"></span>
  </span>
</a> -->

<a mat-list-item routerLink="/features">
  <span class="mainSpan">FEATURES
    <span class="slider"></span>
  </span>
</a>
<a mat-list-item routerLink="/contactus">
  <span class="mainSpan">CONTACT US
    <span class="slider"></span>
  </span>
</a>

