<!-- tab navigation start here -->
<div class="tab-wrapper">
  <div *ngFor="let item of data;  let i = index" [ngClass]="main_bg == i? 'active' : ''" class="main_bg main_bg_{{i}}" style="background: url({{item.bg_img}}); background-size: cover"></div>
  <div class="containers">
    <div class="title-wrapper">
<!--       <h1 class="heading_style1">
    Features<br />
    <span>The Industry Leader in International Calling Plans, Raza Keeps You Talking.</span>
  </h1> -->
    </div>
    <mat-tab-group dynamicHeight animationDuration="0ms" mat-stretch-tabs [(selectedIndex)]="main_bg">
      <mat-tab *ngFor="let item of data;  let i = index">
        <ng-template mat-tab-label>
          <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
          <div class="custom_label">
            <img src="{{item.tab.img}}">
            <p>{{item.tab.title}}</p>
          </div>
        </ng-template>
        <div class="content-wrapper">
          <h1 [innerHTML]="item.heading"></h1> 
          <p [innerHTML]="item.subhead"></p>
          
          <mat-list role="list" class="horizontal" *ngFor="let img_l of item.img_list;" (mouseover)="(main_img = img_l.img_hover)">
            <mat-list-item role="listitem">
				<div class="icon-wrapper" matTooltip="{{img_l.tool}}" matTooltipPosition="above">
          <img src="{{img_l.img}}" >
        <img src="{{img_l.img_hover}}"  >
        </div>
			</mat-list-item>
          </mat-list>
          <div class="button-tab">
            <div class="example-button-row">
              <span *ngFor="let btn of item.button">
                <button mat-raised-button color="#0071e3" class="higlighted" *ngIf="btn.primary==true" (click)="setitUp(i)" >{{btn.label}}</button>
                 
                <button mat-button color="primary" *ngIf="btn.label=='How it works?'" (click)="howItWorksPopup(i)">{{btn.label}}</button>
                <button mat-button color="primary" *ngIf="btn.label=='FAQ'" (click)="faqPopup(i)">{{btn.label}}</button>
              </span>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- one touch dialing -->
    </mat-tab-group>
    <div class="bottom-image hide_desktop">
      <div *ngFor="let item of data;  let i = index" [ngClass]="main_bg == i? 'active' : ''" class="main_bg main_bg_{{i}}" style="background: url({{item.bg_img}}); background-size: cover; background-position: center;"></div>
    </div>
  </div>
</div>

