$tab-bg :"/assets/images/features/tab-bg.png";
$common-font-color: #000;
$content-bg-color: #fff;
$tab-bg-color: #ffffff;
$font-size-desc: 16px;
$font-size-head: 56px;
$font-family:'Montserrat',
sans-serif;

.mat-tab-label-content {
  display: block !important;
}

.tab-wrapper {
  // margin-top: 100px;
  // background-image: url($tab-bg);
  // padding: 100px 0 200px;
  background-size: cover;
  position: relative;


  .title-wrapper {
    .heading_style1 {
      top: 20%;
  }
  }

  mat-tab-group {
    // padding: 400px 0 200px 00px;
    padding: 200px 0 200px 00px;
  }

  .main_bg {
    transform: scale(1.05);
    transition: all .5s ease-in-out !important;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    &.active {
      transform: scale(1);
      transition: all .5s ease-in-out !important;
      opacity: 1;
    }
  }

  .containers {
    width: 73.6%;
    margin: auto;
  }

  .mat-tab-label-content {
    display: block !important;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
  }

  .mat-tab-label {
    height: 120px !important;
    opacity: 1;
    background: none;
  }

  .mat-tab-header {
    background: $tab-bg-color;

    p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: bolder;
      font-family: $font-family;
      color: #000;
      margin-top: .8rem;
    }
  }

  .content-wrapper {
    background: $content-bg-color;
    width: 50%;
    padding: 50px;

    h1 {
      font-size: $font-size-head;
      font-weight: 500;
      color: $common-font-color;
      line-height: 60px;
      font-family: $font-family;
    }

    p {
      font-size: $font-size-desc;
      color: $common-font-color;
      font-weight: 500;
      margin: 0;
      font-family: $font-family;
    }

    .horizontal {
      display: inline-flex;
      margin-bottom: 1rem;
    }

    .bg-white {
      background-color: #ffF;
    }

    .mat-tab-header {
      background: #fff;
    }

    .mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-before.mat-elevation-z4.mat-tab-header-pagination-disabled {
      display: none;
    }

    .mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-after.mat-elevation-z4 {
      display: none;
    }

    .mat-tab-label,
    .mat-tab-link {
      color: rgb(0 0 0);
    }

    .custom_label {
      img {
        height: 24px;
        width: 24px;
        object-fit: scale-down;
      }
    }

    button.higlighted {
      background: #0071e3;
      color: #fff;
      border-radius: 0;
      font-weight: 300;
    }

    button {
      color: #0071e3;
      margin-right: 10px;
    }
  }

  .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus {
    background: none;
  }

  .mat-ink-bar {
    height: 4px;
    background-color: #031d37 !important;
  }

  .bottom-image {
    height: 400px;
    position: relative;
  }
}

@media only screen and (max-width: 1033px) {
  .tab-wrapper {
    padding: 0;

    mat-tab-group {
      padding: 100px 0 0px 0px;
    }
      .title-wrapper .heading_style1 {
    top: 15%;
}


    .main_bg {
      transform: scale(1);
    }

    .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron,
    .mat-tab-header-pagination-chevron {
      border-color: #000 !important;
    }

    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
      display: none !important;
    }
  }

  .tab-wrapper .containers {
    width: 100%;
    margin: auto;
  }

  .tab-wrapper .content-wrapper {
    width: 100%;
  }

}

@media only screen and (min-width: 1034px) {
  .hide_desktop {
    display: none;
  }

}

.mat-list {
	.mat-list-item-content {
		.icon-wrapper {
			img {
				&:nth-child(2) {
					display: none;
				}
			}
		}
		&:hover {
			.icon-wrapper {
				background: linear-gradient(to right,#e6167f,#ff8000);
				border-radius: 50%;
				img {
					&:nth-child(1) {
						display: none;
					}
					&:nth-child(2) {
						display: block;
					}
				}
			}
		}
	}
}
.icon-wrapper {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	padding: 12px;
	img {
		height: 25px;
		width: 25px;
		object-fit: contain;
	}
}
.mat-list-item-content {
	padding-right: 10px;
	padding-left: 0!important;
}



@media only screen and (min-width: 1034px){
    .main_bg {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
}
}
