<div class="first_fold">

  <h1 class="heading_style1">
    FAQ's<br />
    <span>Most common questions</span>
  </h1>
  <div class="home_banner faq_banner">
    <!-- <img src="../assets/images/banner_image.png" alt="banner"> -->
  </div>
</div>
<!-- common wrapper -->
<div class="commonWrapperArea newcustomer deals faqs">
  <div class="commonWrapperAreaShadowArea">
    <div class="coverShadow"></div>
  </div>
  <!-- <mat-form-field>
        <input matInput placeholder="How do we help?" type="text">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> -->
  <!-- <div class="headingText">What is the coupon code for Buy 1 Get 1 Offer?</div> -->

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Once I purchase a calling plan, how do I place my first call?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Upon purchasing a calling plan you will receive a confirmation Email providing you with a local access number
        to dial out.</p>
      <p>1. Use your registered phone and dial the local access number.</p>
      <p>2. Dial 011+ Country code + Destination number to get connected.</p>
      <p>3. Keep Talking!</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can I use my calling plan to dial any country other than what I selected while sign up.
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p> Yes, however the rates advertised on the web only apply to the specific country of selection. Please visit our
        “search rate” page to view all rates.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Will my calling plan expire?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Most of our calling plans have no expiration date; there is 6 month validity on our special or discounted
        plans.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Why do I have to wait for my account to be activated?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>At Raza Communications confirming your order is our way of ensuring consumer protection against credit card
        fraud. Our highly trained customer service representatives inspect and verify all new orders to guarantee your
        online security. You can recharge anytime once your account is verified successfully. </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How do I know which Calling Plan is right for me?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Calling rates differ from Country to Country and to Mobile and Landlines. All our plans are tailored to call
        anywhere in the world at the best rates possible. Chat or call our 24/7 customer service for any additional
        assistance.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How do I make purchase without using Credit Card?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Yes, you can mail us a money order to:</p>
      <p>Raza communications </p>
      <p>5219 N. Harlem Ave. </p>
      <p>Chicago IL, 60656 </p>
      <p>Please be sure to include your Name, Address, Phone Number and Email. Once we receive your payment we will call
        or e-mail your plan details. </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Why are the rates different when calling a cell phone?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>In most non-domestic countries, a surcharge is applied when calling a Mobile phone. This additional charge
        results in rate increases. However, for certain countries it is cheaper to call Mobiles than landlines.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Is it safe to purchase your service over the Internet?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Our technology makes it possible for sensitive data to be safely transmitted over the Internet; the information
        is encrypted using proprietary and secure socket layer (SSL) technology. We are also certified secure by McAfee,
        Thawte and Visa/MasterCard.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          I lost my password, how do I reset?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Click <a routerLink="/auth/sign-in">Forgot Password</a> link on the login page to receive your password by
        Text or E-mail.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          I lost my access number. How do I get that back?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Login and visit Account Overview page to view your current Raza access number.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What if the rate on the website differs from the rate on the calling plan purchased?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>If the rates on the site differ from the rate of the calling plan, call customer service immediately for
        assistance. In most of the cases we will refund your money back.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can I cancel my auto-refill now and continue using my balance?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Only premium plans will allow you to use the remaining balance on the account. Discounted plans will cancel
        automatically upon auto-refill cancellation.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What is Money Back Guarantee?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>If for any reason you are not satisfied with our product, the unused balance on your account will be refunded
        back. Any Balance that is 6 months or older will not be refunded.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can I recharge my Raza Calling Plan?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Absolutely, our website will allow you to add more money to your plan at any time! You can even use our
        Auto-Refill Feature to automatically recharge your account once it falls below $2. Some auto-refill plans may
        not allow you to recharge online. Please call the customers service or chat with a live agent for more details.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Do i need to enroll first to be eligible to earn Raza Reward points?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Yes, you must be enrolled to Raza Rewards to earn points on all eligible  recharge transactions.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How can I contact you for further details?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> <a routerLink="/contactus">Click here</a> to Call, Chat or email us.</p>
    </mat-expansion-panel>

  </mat-accordion>

</div>
<!-- common wrapper -->