.header_about {
  background-color: #8488e2;
}

.header_about h1 {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  margin: 0px 60px;
}

.header_about button {
  margin: 0px 20px;
  background: transparent;
}

.header_about img {
  width: 40px;
}

.header_about ul {
  padding: 35px 0px;
}

.header_about li {
  display: inline-block;
}

.white_containe {
  background-color: #ffffff;
  border-radius: 30px;
  margin-top: -30px;
  padding: 10px 15px;
}

.new_menu {
  font-size: 18px;
  margin: 10px;
  color: #13222b;
  font-weight: 700;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobileOnly p {
  font-weight: 400;
  color: #000000;
}

.hideinMobile {
  display: block;
}

.showInmobile {
  display: none;
}

.mat-toolbar {
  background: none;
}

.nobg {
  background: none;
  cursor: pointer;
  border: none;
}

.three_service {
  height: auto !important;
}

.first_fold {
  margin-bottom: 35px;
}

.aboutusCont h5 {
  color: #0B203E;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 26px;
  padding: 0 52px 0 0;
}

.aboutusCont h4 {
  color: #0B203E;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 32px;
}

.aboutusCont p {
  color: #000000;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 27px;
}

.aboutusCont ul {
  padding-left: 17px;
}

.aboutusCont ul li {
  color: #808080;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 27px;
}

.aboutUsblueArea {
  background: #0367DE;
  min-height: 200px;
  padding: 50px 0;
}

.aboutUsblueArea h3 {
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.aboutUsblueArea p {
  color: #fff;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

.icon_holder1 {
  height: auto;
}

.second_fold {
  padding: 10px 0px 35px 0;
}

.mobileOnly {
  display: none;
  margin: 0 20px 30px 20px !important;
}

.deskTopOnly {
  display: block;
}

@media only screen and (max-width: 650px) {
  .hideinMobile {
    display: none;
  }
  .showInmobile {
    display: block;
  }
  .three_service {
    height: 360px;
  }
  .second_fold {
    padding: 30px 14px;
  }
  .deskTopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
    margin: 0 20px;
  }
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hideinMobile {
  display: block;
}

.showInmobile {
  display: none;
}

.mat-toolbar {
  background: none;
}

.nobg {
  background: none;
  cursor: pointer;
  border: none;
}

.commonWrapperArea p.label {
  color: #103F8A;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.commonWrapperArea p.label span {
  display: block;
  font-size: 12px;
  color: #808080;
}

.commonWrapperArea p.price {
  color: #103F8A;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 25px;
}

.commonWrapperArea p.price span {
  font-size: 12px;
  color: #808080;
  line-height: 12px;
}

.newcustomer h3 {
  color: #0B203E;
  font-size: 24px;
  text-transform: uppercase;
}

.newcustomer h3 span {
  font-weight: 500;
  padding: 0 16px;
  border-left: 1px solid #0B203E;
  margin-left: 10px;
}

.newcustomer p.headerText {
  color: #808080;
  font-size: 15px;
}

.newcustomer p.label2 {
  color: #0B203E;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

.newcustomer p.haveAccountAlready {
  color: #0B203E;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.newcustomer p.haveAccountAlready a {
  color: #0B3D8D;
}

.newcustomer p.agreementtopolicytext {
  color: #0B203E;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 25px;
  text-align: center;
}

.forgetPass {
  position: absolute;
  right: 15px;
  font-size: 12px;
  top: 15px;
  color: #0A1F3F;
  z-index: 2;
}

.forgetPass a {
  color: #0B3D8D;
}

.deals {
  padding: 42px 60px !important;
}

.deals h2 {
  color: #0B203E;
  font-size: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.deals .table {
  margin-top: 60px;
}

.deals .table thead th {
  border: none;
  color: #E70520;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.deals .table tr td {
  color: #808080;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.deals .table-striped tbody tr:nth-of-type(odd) {
  background-color: #F8F8F8;
}

.deals .submitButton {
  width: auto;
  padding: 13px 30px;
}

.deals .buttonArea {
  margin: 30px 0;
}

.deals .card-header a {
  color: #808080 !important;
  font-size: 16px;
}

.deals .table td, .deals .table th {
  border: none;
  padding: 15px 30px;
}

.deals .table td:last-child, .deals .table th:last-child {
  text-align: right;
}

.dropDownArea {
  width: 60%;
  margin: 30px auto 10px;
}

.linethroughArea {
  position: relative;
  height: 40px;
  margin: 68px 0 23px;
}

.linethroughArea span {
  background: #fff;
  color: #3A4B63;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: absolute;
  padding: 10px 40px;
  left: 41%;
  top: -26px;
}

.line {
  height: 1px;
  background: #0B203E;
}

.mapAreaD {
  width: 437px;
  height: 476px;
  margin: 60px auto;
  position: relative;
}

.mapAreaD h4 {
  font-size: 80px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 21%;
  color: #fff;
}

.mapAreaD h4 span {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

p.mapText {
  color: #808080;
  font-size: 16px;
  margin: 20px 0 30px 0;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p.charge {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.mostpopularButon {
  background: #265194;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 10px 20px;
  position: absolute;
  right: 0px;
  top: 60px;
}

a.learMore {
  text-decoration: underline;
  color: #0160E0;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}

.learnMorearea {
  text-align: center;
}

.callRate {
  text-align: center;
  margin: 30px 0;
}

.callRate span {
  color: #0B203E;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin: 0 10px;
  display: block;
  margin: 10px auto;
}

.callRate span:last-child {
  font-weight: 500;
  font-size: 23px;
}

.callRate image {
  margin: 0 auto;
}

.commonminArea {
  width: 100%;
  border: 1px solid #E2E7ED;
  text-align: center;
  padding: 30px 0 20px 0;
  margin-bottom: 25px;
}

.commonminArea p.mins {
  color: #0B203E;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  line-height: 37px;
  margin-top: 65px;
}

.commonminArea p.mins span {
  display: block;
  font-size: 20px;
}

.smallLine {
  width: 30px;
  height: 1px;
  background: #919EAE;
  margin: 10px auto;
}

.twoIcon {
  width: 95px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}

.twoIcon img:first-child {
  float: left;
}

.twoIcon img:last-child {
  float: right;
  margin-top: 7px;
}

.deal4Textare {
  clear: both;
  overflow: hidden;
  margin: 40px 0;
}

.deal4Textare ul {
  list-style-type: none;
  float: left;
  margin: 0px;
  padding: 0px;
}

.deal4Textare ul li {
  float: left;
  margin-right: 10px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.deal4Textare ul li a {
  text-decoration: underline;
  color: #0160E0;
}

.deal4Textare ul li:last-child {
  margin: 0px;
}

.deal4Textare ul:first-child {
  float: left;
}

.deal4Textare ul:last-child {
  float: right;
}

.viewAllrate {
  text-align: center;
  margin-top: 30px;
}

.viewAllrate a {
  text-decoration: underline;
  color: #0160E0;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.headingText {
  color: #0B203E;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.aboutUsblueArea p {
  color: #fff;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

@media only screen and (max-width: 650px) {
  .hideinMobile {
    display: none;
  }
  .showInmobile {
    display: block;
  }
  .three_service {
    height: 360px;
  }
  .virtual1Form {
    width: auto;
    margin: 25px auto 0;
  }
  .commonWrapperArea h3 {
    font-size: 12px;
  }
  .commonWrapperArea {
    padding: 30px 12px;
  }
  .commonWrapperArea p.headerText {
    font-size: 14px;
    line-height: 20px;
  }
  .virtualNumberList h4 {
    font-size: 19px;
  }
  .forgetPass {
    top: -13px;
  }
  ul.deal1commonUl li {
    width: 100%;
    display: block;
    border-right: none;
    border-bottom: 1px solid #E2E7ED;
    height: auto;
  }
  ul.deal1commonUl li:last-child {
    border-bottom: none;
  }
  .deals {
    padding: 30px 10px !important;
  }
  .deals h2 {
    font-size: 20px !important;
  }
  .deals .table th, .deals .table td {
    font-size: 14px !important;
  }
  .deals .card-header a {
    font-size: 13px !important;
    line-height: 26px !important;
  }
  .mostpopularButon {
    position: unset;
    display: table;
    margin: 20px auto;
  }
  .mapAreaD {
    width: 100%;
    height: auto;
  }
  .mapAreaD img {
    max-width: 100%;
  }
  .mapAreaD h4 {
    font-size: 47px;
  }
  .mapAreaD h4 span {
    font-size: 14px;
  }
  p.mapText {
    font-size: 14px;
  }
  .commonminArea {
    margin-bottom: 25px;
  }
  .deal4Textare {
    margin: 10px 0;
  }
  .deal4Textare ul {
    display: table;
    margin: 9px auto;
    float: none !important;
  }
  .deal4Textare ul li {
    font-size: 12px;
  }
  .callRate span {
    display: block;
    margin: 10px auto;
  }
  .callRate image {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=new-faq.component.css.map */