<div class="form_holder commonPopup addNumber">
  <span class="closeIcon" (click)="closeIcon()" mat-dialog-close><i class="material-icons">close</i></span>
  <h2>Phone Number already exist, Please Login</h2>
  <mat-dialog-content>
    <form class="example-form" name="passwordForm" [formGroup]="passwordForm" (ngSubmit)='onPasswordFormSubmit()'
      novalidate>
      <div class="row commonPopupRow">
        <div class="col-sm-12">
          <span class="floatRight forgetPass">
            <a tabindex="-1" (click)="navigateToForgotPassword()">Forgot password?</a></span>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter password" tabindex="0" type="password" formControlName="password">
            <mat-error *ngIf="passwordForm.get('password').errors?.required">
              password is required.
            </mat-error>
            <mat-error *ngIf="passwordForm.get('password').errors?.invalid">
              password is invalid.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form_row1">
        <div class="input_holder1">
          <button mat-button class="submitButton">Confirm</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>