.heading_style4 {
  padding: 0;
  margin: 0 0 25px 0;
  color: #0b203e;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.heading_style4:after {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #0b203e;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "";
}

.heading_style4 span {
  padding: 0 15px;
  margin: 0 auto;
  display: inline-block;
  background-color: #f6f8fa;
  position: relative;
  z-index: 2;
}

h2.heading_style4 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #0B203E;
  font-size: 24px;
  text-align: center;
}

.form_holder {
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 10px #456D99;
          box-shadow: 2px 10px #456D99;
  box-shadow: 1px 3px 21px #ddd;
  -moz-box-shadow: 1px 3px 21px #ddd;
  -webkit-box-shadow: 1px 3px 21px #ddd;
}

.form_holder > *:last-child {
  margin-bottom: 0;
}

.form_holder > div:nth-last-of-type(2) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e4e9ee;
}

.form_holder input.mat-input-element {
  height: 25px;
}

.form_holder5Row {
  padding: 15px 33px;
}

@media only screen and (max-width: 480) {
  .form_holder2.express_checkout {
    margin-bottom: 25px !important;
  }
}

.express_checkout {
  text-align: center;
  padding: 30px 20%;
}

.express_checkout .formRowM15 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.express_checkout p.mobile_guest {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #103F8A;
}

.express_checkout p.noWorryText {
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.express_checkout p.haveAccountTxt {
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.express_checkout .submitButton {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .express_checkout {
    margin-bottom: 25px !important;
  }
  .express_checkout p.haveAccountTxt, .express_checkout p.noWorryText {
    font-size: 13px;
  }
  .rechargeStepMain {
    margin-top: -69px;
  }
  .containerMobile {
    width: 100%;
  }
}

.clearBoth {
  clear: both;
  overflow: hidden;
}

.heading_style8 {
  padding: 0;
  margin: 0 0 25px 0;
  color: #D3D3D3;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.heading_style8 span {
  padding: 5px 10px;
  margin: 0 auto;
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

h2.heading_style8 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0B203E;
  font-size: 16px;
  text-align: center;
  border: 1px solid #D3D3D3;
}

.showmore_country {
  cursor: pointer;
}
/*# sourceMappingURL=pinless-switch.component.css.map */