<div class="align-content-center card-header d-flex justify-content-between">
<div class="header-title">
    Where is my CVV
</div>
    <button class="bg-white border-0 text-dark" (click)="close()">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g>
<g xmlns="http://www.w3.org/2000/svg">
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717    L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859    c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287    l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285    L284.286,256.002z" fill="#656565" data-original="#000000" style="" class=""/>
	</g>
</g>
</g></svg>

      </button>
</div>
<div class="card-body">
    <div class="align-content-center d-flex justify-content-around">
        <div class="img-1">
            <div>Back of the card</div>
            <img src="../../../../assets/images/app-icons/cvv2.png" alt="">
        </div>
        <div class="divider"></div>
        <div class="img-1">
            <div>Front of the card</div>
            <img src="../../../../assets/images/app-icons/cvv1.png" alt="">
        </div>
        
    </div>
</div>