<div class="align-content-center card-header d-flex justify-content-between">
    <div class="header-title">
        Google Pay
    </div>
    <button class="bg-white border-0 text-dark" (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0"
            viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
                <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path
                            d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717    L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859    c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287    l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285    L284.286,256.002z"
                            fill="#656565" data-original="#000000" class="" />
                    </g>
                </g>
            </g>
        </svg>

    </button>
</div>
<div class="card-body p-0 mx-3">
    <div class="payment__wrapper">
        <div class="d-flex align-items-center w-60">
            <div class="option-logo">
                <img src="./assets/images/app-icons/google-pay-primary-logo.svg" alt="" height="19" width="47"> 
            </div>
            <div class="details">
                <div class="amount">CAD <span>10.00</span></div>
                <a href="#">
                    <div class="card-end">VISA....0008</div>
                </a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="details pl-4 w-40">
            <div class="amount">CAD <span>12.50</span></div>
            <a href="#">
                <div class="card-end">You Pay</div>
            </a>
        </div>
    </div>
    <div class="payment__wrapper">
        <div class="d-flex align-items-center w-60">
            <div class="option-logo">
                <img src="./assets/images/app-icons/RazaAppIcon_120x120.png" alt="" height="27" class="rounded-circle">
            </div>
            <div class="details">
                <div class="amount">CAD <span>10.00</span></div>
                <div class="card-end">Add Credit Card</div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="details pl-4 w-40">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <div class="amount">CAD <span>11.00</span></div>
                    <div class="card-end">You Pay</div>
                </div>
                <mat-icon>chevron_right</mat-icon>
            </div>

        </div>
        
    </div>

    <div class="note py-4">
        By tapping “BUY” you accept the following terms of service: Terms of Service-Android ( Canada ) Privacy Notice.
        <a href="">More</a>
        <span>By tapping “BUY” you accept the following terms of service: Terms of Service-Android ( Canada ) Privacy Notice</span>
    </div>
</div>