
  <div class="first_fold">
  
  <h1 class="heading_style1">	
  Feedback<br/>
  <span>We welcome your comments and questions</span>
  </h1>
  <div class="home_banner feedback_banner">
      <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
  </div>
  </div>
  
  <div class="second_fold feedbackTextarea">
      <div class="container">
        <div class="row">
          <h2 class="heading_style2 marginBottom">We welcome your comments, questions or complaints</h2>
          <div class="col-md-7">
            <p>Please use the form below to submit your feedback. We will use this feedback to continuously improve your experience with Raza.com.</p> 
  
            <p>For immediate assistance with your account, password retrieval, transaction difficulties or other queries, please call our 24/7 customer support.</p>
          </div>
          
              <div class="col-md-5 marginB2">
                  <a  href="tel:1-877-463-4233"><div class="countryNumber">
                      <img src="assets/images/feedback_usamap.jpg" alt="icon">
                      <span style="padding-left: 25px;">1-877-463-4233</span>
                  </div></a>
                  <a  href="tel:1-800-550-3501"><div class="countryNumber">
                      <img src="assets/images/feedback_canadamap.jpg" alt="icon">
                      <span style="padding-left: 25px;">1-800-550-3501</span>
                  </div></a>
                  <a  href="tel:44-800-520-0329"><div class="countryNumber">
                      <img src="assets/images/feedback_ukmap.jpg" alt="icon">
                      <span style="padding-left: 25px;">44-800-041-8192</span>
                  </div></a>
              </div>
        </div>
      </div>
  </div>
  
  <div class="signupformArea">
    <div class="container">
      <form class="example-form" [formGroup]="feedbackForm" #formDirective="ngForm" (ngSubmit)="onFeedbackFormSubmit(feedbackForm,formDirective)">
          <h2 class="heading_style2">Submit Feedback </h2>
          <div class="row">
              <div class="col-sm-6">
                  <div class="floatRight">
                      <mat-form-field class="example-full-width">
                          <input formControlName="firstName" placeholder="First Name" matInput value="" >
                          <mat-error *ngIf="feedbackForm.get('firstName').hasError('required')">
                                First Name is required.
                          </mat-error>
                        </mat-form-field>
                  </div>
              </div>
              <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                      <input formControlName="lastName" placeholder="Last Name" matInput value="">
                      <mat-error *ngIf="feedbackForm.get('lastName').hasError('required')">
                            Last Name is required.
                      </mat-error>
                    </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <div class="floatRight">
                      <mat-form-field class="example-full-width">
                          <input formControlName="email" placeholder="Email" matInput value="">
                          <mat-error *ngIf="feedbackForm.get('email').hasError('email')">
                                Incorrect email format.
                          </mat-error>
                          <mat-error *ngIf="feedbackForm.get('email').hasError('required')">
                                Email is required.
                          </mat-error>
                        </mat-form-field>
                  </div>
              </div>
              <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                      <input formControlName="phoneNumber"  placeholder="Phone" matInput value="">
                      <mat-error *ngIf="feedbackForm.get('phoneNumber').hasError('maxlength')">
                            Your phone cannot exceed 10 characters.
                      </mat-error>
                      <mat-error *ngIf="feedbackForm.get('phoneNumber').hasError('pattern')">
                            Only number values allowed.
                      </mat-error>
                      <mat-error *ngIf="feedbackForm.get('phoneNumber').hasError('required')">
                            Phone number is required.
                      </mat-error>
                    </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <div class="floatRight">
                      <mat-form-field>
                          <mat-select formControlName="typeOfFeedback" placeholder="Type of Feedback">
                                <mat-option value="About our new website">About our New Website</mat-option>
                                <mat-option value="Feedback &amp; Suggestions">Feedback &amp; Suggestions</mat-option>
                                <mat-option value="I am unable to Login">I am unable to Login</mat-option>
                                <mat-option value="I am unable to Recharge">I am unable to Recharge</mat-option>
                                <mat-option value="Remove Numbers from PinLess SetUp">Remove Numbers from PinLess SetUp</mat-option>
                                <mat-option value="The above access number is not working">The Access Number(s)are not working</mat-option>
                                <mat-option value="I want to Cancel My Auto Refill">I want to Cancel My Auto Refill</mat-option>                                                                                        
                                <mat-option value="My card is not recharged yet">My Plan is not recharged yet</mat-option>
                                <mat-option value="I was Charged by PAYPAL but order could not be processed">I was Charged by PAYPAL but order could not be processed</mat-option>
                                <mat-option value="Other Description">Other Issue</mat-option>
                          </mat-select>
                          <mat-error *ngIf="feedbackForm.get('typeOfFeedback').hasError('required')">
                                Feedback type is required.
                        </mat-error> 
                      </mat-form-field>
                  </div>
              </div>
              <div class="col-sm-12 textarea">
                  <mat-form-field>
                    <textarea formControlName="yourFeedback" matInput placeholder="Your Feedback" ></textarea>
                    <mat-error *ngIf="feedbackForm.get('yourFeedback').hasError('required')">
                            Your feedback is required.
                    </mat-error>  
                </mat-form-field>
              </div>
          </div>
          <button mat-button class="submitButton"><b>Submit</b></button>  
      </form>
    </div>
  </div>


  