$testimonial-front-name: #fff;
$color: red;
$hover-bg: #2e3438;
$box-1: #2e3438;
$testimonial-bg: "/assets/images/testimonials/testimonialbg.jpg";
$example-header-image: "/assets/images/shiba1.jpg";
$main-bg: "/assets/images/main-bg.jpg";

.main {
  h1 {
    color: $color;
  }
}

.main_bg {
  transform: scale(1.05);
  transition: all .5s ease-in-out !important;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  &.active {
    transform: scale(1);
    transition: all .5s ease-in-out !important;
    opacity: 1;
  }
}

.testimonials {
  padding-bottom: 30px;

  .grid-wrapper {
    overflow: hidden;
    position: relative;
    //background: url($testimonial-bg);
    background-size: cover;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out !important;
    animation: width 1s;

    @keyframes width {
      0% {
        transform: scale(1.5);
      }

      50% {
        transform: scale(1.3);
      }

      100% {
        transform: scale(1);
      }
    }

    .mat-grid-tile {
      box-sizing: content-box;
      border: 1px solid #dee6e39e;
    }

    .main-bg {
      background-image: url($main-bg);
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .box {
      height: 100%;
      width: 100%;
    }

    .box {
      position: relative;

      &:hover {

        // .front1 {
        //   opacity: 0.9;
        // }
        .back1 {
          opacity: 0.9;

          .name__user {
            opacity: 1;
            bottom: 0px;
          }
        }

        .front1 {
          p {
            opacity: 0;
            margin-top: -70px;
          }
        }
      }

      .back1 {
        opacity: 0;
        position: absolute;

        // color:#666;
        // .item_title{
        //   right: 20px;
        //   text-align: right;
        //   font-size: 20px!important;
        // }
        .name__user {
          opacity: 0;
          bottom: -50px;
          // color:#666;
        }
      }

      .front1 {
        height: 100%;
        width: 100%;
        position: relative;
        top: 0;

        .front-back {
          position: absolute;
          right: 1rem;
          bottom: 0;
          animation: text 1s;
          overflow: hidden;
          height: 50px;

          @keyframes text {
            0% {
              bottom: -100px;
            }

            100% {
              bottom: 0;
            }
          }

          p {
            color: $testimonial-front-name;
            text-align: right !important;
            font-weight: 400;
            font-size: 16px;
            text-align: right;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
          }
        }
      }

      .back1 {
        .name__user {
          opacity: 0;
          position: absolute !important;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }
      }
    }

    //.front1 p,
    .name__user {
      color: $testimonial-front-name;
      position: absolute;
      right: 0px;
      bottom: 0;
      font-weight: 400;
      font-size: 16px;
      text-align: right;
    }

    .back1 {
      opacity: 0.9;
      width: 100%;
      height: 100%;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      position: relative;
      top: 0;
      left: 1px;
      cursor: pointer;
      overflow: hidden;
      color: #fff;
      padding: 20px;

      // background: $hover-bg;
      p {
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        position: unset;
      }

      .front-back {
        position: absolute;
        right: 1rem;
        bottom: 0;
        width: 100%;
        animation: text 1s;

        @keyframes text {
          0% {
            bottom: -100px;
          }

          100% {
            bottom: 0;
          }
        }

        p {
          text-align: right !important;
        }
      }
    }

    .avatar-wrapper {
      border: 1px solid #fff;
      border-radius: 50%;
      position: absolute;
      overflow: hidden;
      bottom: 16px;
      padding: 7px;
      height: 80px;
      width: 80px;
      text-align: center;

      .example-header-image {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      .front:hover .back {
        display: block;
      }
    }
  }
}

// slider css start here
$font-family: 'Montserrat',
sans-serif;
$left-slider-button: '/assets/images/testimonials/arrow_left.svg';
$right-slider-button: '/assets/images/testimonials/arrow_right.svg';
$slider-height: 600px;
$content-height: 30%;


.slider-wrapper {
  height: $slider-height;

  li.carousel-slide {
    height: $slider-height !important;
  }

  .carousel-indicators {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5px !important;
  }

  .slider-inner {
    background-image: url(/assets/images/testimonials/testimonial-bg-1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    height: $slider-height;
  }

  .slider-content-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: .9;
    height: $content-height;
  }

  .slider-content {
    display: flex;
    width: 90%;
    margin: auto;
    vertical-align: middle;
    align-items: center;
    height: 100%;
  }

  .images-part {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;

    img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}
  }

  .content-part {
    margin-left: 15px;

    p,
    span {
      font-size: 15px;
      font-family: $font-family;
      font-weight: 400;
      color: #fff;
    }

    p {
      margin-bottom: 10px;
      line-height: 18px;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      display: block;
    }
  }

  .carousel {
    ul {
      li {
        &:nth-child(5) {
          .slider-inner {
            background-position: 86%;
          }
        }
        &:nth-child(3) {
          .slider-inner {
            background-position: 40%;
          }
        }
      }
    }


    .mat-icon-button {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      background-size: 30px 30px;
      background-repeat: no-repeat;
      border-radius: 0;
      opacity: 0.5;

      mat-icon {
        display: none;
      }

      &:nth-child(2) {
        background-image: url($left-slider-button);

        left: 0 !important;
      }

      &:nth-child(3) {
        background-image: url($right-slider-button);

        right: 0 !important;
      }
    }
     .mat-mini-fab[disabled][disabled] {
    background-color: #e75a67;
}.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    color: rgba(0,0,0,.87);
    background-color: #bedaef;
}
  }

}



// media queries start here
@media only screen and (max-width: 1030px) {
  .hideinMobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
  .testimonials .grid-wrapper .back1 p {
    font-size: 12px;
  }

  .testimonials .grid-wrapper .avatar-wrapper {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (min-width:1031px) {
  .slider-wrapper {
    display: none;
  }
}
