.main h1 {
  color: red;
}

.main_bg {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .5s ease-in-out !important;
  transition: all .5s ease-in-out !important;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.main_bg.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-in-out !important;
  transition: all .5s ease-in-out !important;
  opacity: 1;
}

.testimonials {
  padding-bottom: 30px;
}

.testimonials .grid-wrapper {
  overflow: hidden;
  position: relative;
  background-size: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out !important;
  -webkit-animation: width 1s;
          animation: width 1s;
}

@-webkit-keyframes width {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes width {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.testimonials .grid-wrapper .mat-grid-tile {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #dee6e39e;
}

.testimonials .grid-wrapper .main-bg {
  background-image: url("/assets/images/main-bg.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
}

.testimonials .grid-wrapper .box {
  height: 100%;
  width: 100%;
}

.testimonials .grid-wrapper .box {
  position: relative;
}

.testimonials .grid-wrapper .box:hover .back1 {
  opacity: 0.9;
}

.testimonials .grid-wrapper .box:hover .back1 .name__user {
  opacity: 1;
  bottom: 0px;
}

.testimonials .grid-wrapper .box:hover .front1 p {
  opacity: 0;
  margin-top: -70px;
}

.testimonials .grid-wrapper .box .back1 {
  opacity: 0;
  position: absolute;
}

.testimonials .grid-wrapper .box .back1 .name__user {
  opacity: 0;
  bottom: -50px;
}

.testimonials .grid-wrapper .box .front1 {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
}

.testimonials .grid-wrapper .box .front1 .front-back {
  position: absolute;
  right: 1rem;
  bottom: 0;
  -webkit-animation: text 1s;
          animation: text 1s;
  overflow: hidden;
  height: 50px;
}

@-webkit-keyframes text {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes text {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

.testimonials .grid-wrapper .box .front1 .front-back p {
  color: #fff;
  text-align: right !important;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.testimonials .grid-wrapper .box .back1 .name__user {
  opacity: 0;
  position: absolute !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.testimonials .grid-wrapper .name__user {
  color: #fff;
  position: absolute;
  right: 0px;
  bottom: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}

.testimonials .grid-wrapper .back1 {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
  top: 0;
  left: 1px;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  padding: 20px;
}

.testimonials .grid-wrapper .back1 p {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  position: unset;
}

.testimonials .grid-wrapper .back1 .front-back {
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 100%;
  -webkit-animation: text 1s;
          animation: text 1s;
}

@keyframes text {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

.testimonials .grid-wrapper .back1 .front-back p {
  text-align: right !important;
}

.testimonials .grid-wrapper .avatar-wrapper {
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  bottom: 16px;
  padding: 7px;
  height: 80px;
  width: 80px;
  text-align: center;
}

.testimonials .grid-wrapper .avatar-wrapper .example-header-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.testimonials .grid-wrapper .avatar-wrapper .front:hover .back {
  display: block;
}

.slider-wrapper {
  height: 600px;
}

.slider-wrapper li.carousel-slide {
  height: 600px !important;
}

.slider-wrapper .carousel-indicators {
  left: 0;
  right: 0;
  margin: auto;
  bottom: 5px !important;
}

.slider-wrapper .slider-inner {
  background-image: url(/assets/images/testimonials/testimonial-bg-1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  height: 600px;
}

.slider-wrapper .slider-content-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: .9;
  height: 30%;
}

.slider-wrapper .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.slider-wrapper .images-part {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
}

.slider-wrapper .images-part img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
}

.slider-wrapper .content-part {
  margin-left: 15px;
}

.slider-wrapper .content-part p,
.slider-wrapper .content-part span {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
}

.slider-wrapper .content-part p {
  margin-bottom: 10px;
  line-height: 18px;
}

.slider-wrapper .content-part span {
  font-weight: 400;
  font-size: 14px;
  display: block;
}

.slider-wrapper .carousel ul li:nth-child(5) .slider-inner {
  background-position: 86%;
}

.slider-wrapper .carousel ul li:nth-child(3) .slider-inner {
  background-position: 40%;
}

.slider-wrapper .carousel .mat-icon-button {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  border-radius: 0;
  opacity: 0.5;
}

.slider-wrapper .carousel .mat-icon-button mat-icon {
  display: none;
}

.slider-wrapper .carousel .mat-icon-button:nth-child(2) {
  background-image: url("/assets/images/testimonials/arrow_left.svg");
  left: 0 !important;
}

.slider-wrapper .carousel .mat-icon-button:nth-child(3) {
  background-image: url("/assets/images/testimonials/arrow_right.svg");
  right: 0 !important;
}

.slider-wrapper .carousel .mat-mini-fab[disabled][disabled] {
  background-color: #e75a67;
}

.slider-wrapper .carousel .mat-flat-button, .slider-wrapper .carousel .mat-raised-button, .slider-wrapper .carousel .mat-fab, .slider-wrapper .carousel .mat-mini-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: #bedaef;
}

@media only screen and (max-width: 1030px) {
  .hideinMobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonials .grid-wrapper .back1 p {
    font-size: 12px;
  }
  .testimonials .grid-wrapper .avatar-wrapper {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (min-width: 1031px) {
  .slider-wrapper {
    display: none;
  }
}
/*# sourceMappingURL=testimonials.component.css.map */