<div class="first_fold">

</div>

<div class="recharge_block">
    <div class="container containerMobile">
        <div class="row">
            <div class="col-xl-6">
                <div class="col-md-12">
                    <h2 class="heading_style4">
                        <span>Quick Recharge/Top Up</span>
                    </h2>
                </div>
                <div class="col-md-12">
                    <form [formGroup]="rechargeForm" (ngSubmit)='onRechargeFormSubmit()' novalidate>
                        <div class="form_holder">
                            <div class="col-sm-12 formRowM15">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Phone Number" type="tel" formControlName="phoneNumber">
                                    <mat-error *ngIf="rechargeForm.get('phoneNumber').errors?.required">
                                        Phone Number is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div *ngIf="!isAuthenticated" class="col-sm-12 formRowM15">
                                <span class="floatRight forgetPass">
                                    <a routerLink='/auth/forgot-password' href="#">Forgot Password?</a>
                                </span>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="password" formControlName="password">
                                    <mat-error *ngIf="rechargeForm.get('password').errors?.required">
                                        Password is required.
                                    </mat-error>
                                    <mat-error *ngIf="rechargeForm.get('phoneNumber').errors?.Invalid_grant">
                                        Phone Number/Password is not valid.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 formRowM15">
                                <div class="form_label1">Recharge Amount</div>
                                <div class="input_holder1">
                                    <div class="radio_checkbox_wraper1">

                                        <mat-radio-group formControlName="rechargeAmount">
                                            <mat-radio-button value="10">$10</mat-radio-button>
                                            <mat-radio-button value="20">$20</mat-radio-button>
                                            <mat-radio-button value="50">$50</mat-radio-button>
                                            <mat-radio-button value="100">$100</mat-radio-button>
                                        </mat-radio-group>
                                        <mat-error
                                            *ngIf="rechargeForm.get('rechargeAmount').errors?.required && rechargeForm.get('rechargeAmount').touched">
                                            Recharge amount is required.
                                        </mat-error>

                                    </div>
                                </div>
                            </div>
                            <div class="cardRow formRowM15">
                                <div class="cardRowLeft">
                                    <mat-form-field class="example-full-width">
                                        <input matInput maxlength="5" placeholder="Last 4 Digits of Your Credit Card"
                                            formControlName="lastDigitsOfCard">
                                        <mat-error *ngIf="rechargeForm.get('lastDigitsOfCard').errors?.required">
                                            Credit card is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="cardRowRight">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="password" maxlength="4" placeholder="CVV"
                                            formControlName="cvv">
                                        <mat-error *ngIf="rechargeForm.get('cvv').errors?.required">
                                            Cvv is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-sm-12 formRowM15">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Do you have a Promo Code?(Optional)"
                                        formControlName="couponCode">
                                </mat-form-field>
                            </div>
                            <div class="form_row1">
                                <div class="input_holder1">
                                    <button mat-button type="submit" class="submitButton">Recharge</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 text-center">
                <h4 class="heading_style5 paddingLR">Login to your account and get access to plan details, payment
                    option, Access number, One touch dial, Call details, Pin-less setup &amp; much more.</h4>
                <button mat-button class="submitButton" (click)="openPopup('login')">Login</button>
                <h3 class="heading_style6"><span>OR</span></h3>
                <h4 class="heading_style7">Download Raza mobile app and <br />
                    start calling now!</h4>
                <div class="app_list">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="../assets/images/icon_googleplaystore.svg" alt="app" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../assets/images/icon_appstore.svg" alt="app" />
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="clearfix login_text">
                    <span class="float-left">
                        Existing Customer? <a (click)="openPopup('login')" href="javascript:void(0);">Login</a>
                    </span>
                    <span class="float-right">
                        New Customer? <a (click)="openPopup('signup')" href="javascript:void(0);">Sign up now</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<div id="mybraintreeDiv" class="payment__box">
    <div id="el" style="position:absolute; z-index:9999; width:auto; background-color:#fff;height:auto; left:40%;top:40%;"></div>
  </div>