<div class="form_holder commonPopup addNumber">
  <span class="closeIcon" (click)="closeIcon()" mat-dialog-close><i class="material-icons">close</i></span>
  <h2>Promo Code</h2>
  <mat-dialog-content>
    <form class="example-form" name="redeemPromoForm" [formGroup]="redeemPromoForm" (ngSubmit)='redeemPromoFormSubmit()'
      novalidate>
      <div class="row commonPopupRow">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Promo code" formControlName="couponCode">
            <mat-error *ngIf="redeemPromoForm.get('couponCode').errors?.required">
              Promo Code is required.
            </mat-error>
            <mat-error *ngIf="redeemPromoForm.get('couponCode').errors?.invalid">
              Invalid Promo code.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form_row1">
        <div class="input_holder1">
          <button mat-button class="submitButton">Submit</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>