.deals-wrapper .title {
  text-align: left;
  border-bottom: 1px solid #dedede;
}

.deals-wrapper .title p {
  color: #000;
  margin: 0;
  padding: 10px 10px 10px;
  font-size: 18px;
  font-weight: 500;
}

.deals-wrapper .deals-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.deals-wrapper .deals-option .arrows {
  position: absolute;
  right: 30px;
}

.deals-wrapper .deals-option .arrows img {
  width: 22px !important;
  height: 22px !important;
}

.deals-wrapper .containers {
  background-repeat: no-repeat !important;
  background-position: 91% 100% !important;
  background-color: #fff !important;
  -webkit-transition: fade-in .5s;
  transition: fade-in .5s;
}

.deals-wrapper .deals-option-wrapper {
  margin-left: 5%;
  background: #fff;
  width: 40%;
  -webkit-box-shadow: 0px 0px 19px 1px #d2d2d2;
          box-shadow: 0px 0px 19px 1px #d2d2d2;
}

.deals-wrapper .text-part {
  margin-left: 28px;
  line-height: 20px;
  line-height: 25px;
}

.deals-wrapper .text-part p {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  color: #000000;
}

.deals-wrapper .text-part span {
  font-size: 15px;
  font-weight: 400;
  color: #909090;
}

.deals-wrapper .text-part small {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.deals-wrapper .img-part img {
  height: 70px;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.deals-wrapper .img-part img:nth-child(2) {
  display: none;
}

.deals-wrapper .mat-list-base {
  padding-top: 0;
}

.deals-wrapper .mat-list-item-content {
  margin: 0;
  padding: 0 20px !important;
}

.deals-wrapper a {
  text-decoration: none;
}

.deals-wrapper .mat-list-item {
  height: 135px !important;
  border-bottom: 1px solid #dedede;
  position: relative;
}

.deals-wrapper .mat-list-item:hover {
  background: #0055d8;
  -webkit-transition: ease-in .5s;
  transition: ease-in .5s;
}

.deals-wrapper .mat-list-item:hover a .text-part p,
.deals-wrapper .mat-list-item:hover a .text-part span, .deals-wrapper .mat-list-item:hover a .text-part small {
  color: #fff;
}

.deals-wrapper .mat-list-item:hover .img-part img:nth-child(2) {
  display: block;
}

.deals-wrapper .mat-list-item:hover .img-part img:nth-child(1) {
  display: none;
}

.deals-wrapper .mat-list-item:last-child {
  position: relative;
  border-bottom: none;
}

.deals-wrapper .mat-list-item:last-child:after {
  width: 100%;
  content: '';
  height: 30px;
  position: absolute;
  background: #fff;
  border-radius: 0 0 30px 30px;
}

.deals-wrapper .mat-list-item:hover:last-child:after {
  background: #0055d8;
  -webkit-transition: ease-in .5s;
  transition: ease-in .5s;
}
/*# sourceMappingURL=deals-tab.component.css.map */