.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.hideinMobile {
	display: block;
}
.showInmobile {
	display: none;
}
.mat-toolbar {
	background: none;
}
.nobg {
	background: none;
	cursor: pointer;
	border: none;
}
.three_service {
	height: auto !important;
}

  
  @media only screen and (max-width: 650px)  {
    
    .hideinMobile{display: none;}
    .showInmobile { display: block;}
    
    .three_service{ height: 360px;}
    .second_fold{ padding: 30px 0px;}
  }