<div class="bg-comman">
    <div class="main__wrapper">
  
      <div class="bg-top">
        <div class="d-flex align-items-center pt-4 justify-content-between"> </div>
      </div>
   
    </div>
  </div>
  