<div class="bg-comman">
    <div class="main__wrapper">
      <div class="bg-top bg-top-inners fixed-top" >
        <div class="d-flex align-items-center pt-4 w-100">
          <button class="bg-icon-blue border-0 text-white">
            <span class="material-icons" (click)="goBack('Back/Closed denomination page')" > keyboard_arrow_left </span>
          </button>
          <h4 class="title_bold_country mb-0" >Terms and Conditions</h4>
        </div>
      </div>

      <section class="section-wrapper">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Terms and conditions
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul>
                <li>Definitions</li>
                <li>Suspending/Canceling a Product.</li>
                <li>Restrictions on Use: Intellectual Property.</li>
                <li>Indemnification.</li> 
                <li>App Notifications.</li>
                <li>Limitations of Liability.</li>
                <li>Credit Allowances for Interruptions.</li>
                <li>Miscellaneous.</li>
              </ul>
              <p>This Raza.com Customer Agreement ("Agreement") sets forth the terms and conditions that apply to your purchases of calling plans and other products from Raza.com Mobile Application or the "Raza. Communications Website". By registering to use this application/Website or by purchasing and using our products, You (as hereinafter defined) agree to the terms and conditions in this Agreement, the Conditions of Use for Raza.com and any changes that may be made to the Agreement or to the Conditions of Use. If you do not agree to the terms of this Agreement or have any questions about the Agreement, do not purchase or use our products without contacting Raza communications immediately at 1877-463-4233</p>
               
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    DEFINITIONS
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>"You" and "Your" mean the purchaser and/or the user of the Products (as defined below). "Raza.com," "We," "Our," and "Us" mean Raza communications and any Raza.com affiliates authorized to sell and/or distribute the Products. "Product" or "Products" means any and all Products you purchase and/or use from the Raza.com Mobile Application /Website now or in the future. "Raza communications" is found at www.Raza.com and contains the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products. You can also request information about the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products by calling Raza.com toll free at 1-877-463-4233.</p>
                <p>This Agreement incorporates by reference to a Product's prices, charges, restrictions and the terms and conditions for such Product listed on our website, as well as any disclosures, provisions, limitations or other information provided with, or printed on, the Products.</p>
              </mat-expansion-panel>


              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    RESTRICTIONS ON USE & IP
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>All of Raza.com's Products, trademarks, service marks, symbols, logos and the intellectual property rights thereto (collectively "Marks") are the property of Raza communications or its affiliates and You shall have no right in or to the Marks or any right to use the Marks. You are not permitted to commercially re-sell the Products or to print, produce, sell or distribute any telecommunication products that use or are based upon the Products, the telecommunication services provided with the Products and/or the Marks.</p>
              </mat-expansion-panel>


              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    INDEMNIFICATION 
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>You agree that Raza.com shall not be responsible for any third party claims against Us that arise from Your purchase or use of the Products. Further, You agree to reimburse Raza.com for all costs and expenses related to the defense of any such claims, including any type of fee, unless such claims are based upon Our willful misconduct or gross negligence. This provision will continue to remain in force after the Agreement expires or is otherwise terminated.</p>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    App Notifications 
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>You Consent to Receive SMS/MMS, in-App messages including push notifications, In-App Promotions, text and/or emails from Raza.com. Only customers registered with Raza.com are eligible for these promotions. You may refuse to consent to receive messages and texts from Raza.com. Your ability to access /manage and use certain features or services could be limited if you refuse or withdraw your consent to receive these messages.Messages and data rates may apply when you receive SMS/MMS, text or push notification messages on your mobile phone.</p>
              </mat-expansion-panel>


              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    GIFT CARDS
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <strong>1. Redemption</strong>
                <p>
                  Raza.com gift cards can be redeemed only on the Raza.com website towards the usage of Raza.com services. The recipient who is not yet a Raza.com customer will need to open an account before redeeming a gift card. The recipient may use a gift card to make the first. However, we cannot pay a referral bonus unless before redeeming the gift, the recipient adds credit to their account using a credit or debit card not used on another account. Once a gift card is redeemed, the credit is posted on the recipient's account on Raza.com website.</p>
                  <strong> 2. Limitations</strong>
                 <p> Gift cards unclaimed or rejected by the recipient within 180 days will expire. Gift cards have no cash redemption value and are not transferable or assignable except to the sender as well. Our gift program cannot be combined with the Referral, Rewards or any other Raza.com promotional program.</p>
                 <strong>3. Risk of Loss</strong>
                  <p>The risk of loss and title for Gifts card to the purchaser upon our electronic transmission to the purchaser or recipient, whichever is applicable. We are not responsible if a gift card is lost, stolen, used without your permission or redeemed by an unintended recipient.</p>
                <strong>4. Fraud</strong>
                <p>
                  Raza.com will have the right to close customer accounts and bill alternative forms of if a fraudulently obtained gift card is redeemed and/or used on Raza.com.
                </p>
                 
                <strong>Miscellaneous</strong>
                <strong>1. No Third Party Rights</strong>
                <p>
                  
                  This Agreement does not provide any third party with a remedy, claim, or right of reimbursement.
                </p>
                <strong>2. Acts Beyond Our Control</strong>
                <p> 
                  
                  Neither You nor Raza.com will be responsible to the other for any delay, failure in performance, loss or damage due to fire, explosion, power blackout, earthquake, volcanic action, flood, the weather elements, strike, embargo, labor disputes, civil or military authority, war, acts of God, acts or omissions of carriers or suppliers, acts of regulatory or governmental agencies, or other causes beyond, as applicable, yours or our reasonable control.
                </p>
                <strong>3. Bankruptcy by Carrier</strong>
                <p>
                  
                  Raza communications will not be liable or responsible to reimburse for loss of minutes or loss of value in prepaid phone plans if any of the telecommunications carrier of the prepaid phone plans declare bankruptcy.
                </p>
                <strong>4. Security Issues</strong>
                <p>
                  
                  This site has security measures (SSL) in place to protect the loss, misuse and alteration of the information under our control. Raza.communications however shall not be responsible for the security of your data or for fraudulent use of credit card to make purchases on this web site nor shall Raza communications be obligated to make refunds or to provide any compensation where such fraudulent use occurs. Raza communications will actively cooperate with law enforcement authorities in prosecuting any one who uses this web site or products/services sold over this web site for unlawful use.
                </p>
                <strong>5. Dispute Resolution</strong>
                <p>
                  
                  Dispute arising from purchase on this web site or relating to this agreement, if not settled by the parties in good faith, may at their discretion, be submitted for arbitration to American Arbitration Association (AAA) at their offices in Chicago. All disputes, including interpretation of Arbitration Award shall be subject to laws of State of Illinois, and jurisdiction shall reside with Federal and State Court in Illinois. Prevailing party in the dispute shall be entitled to, in addition to any damages or relief, to reasonable expenses and attorney fees from the other party.
                </p>
                <strong>6. Assignment</strong>
                <p>
                  
                  We can assign all or part of our rights or duties under this Agreement without notifying You. If We elect to make such an assignment, We will have no further obligations to You under this Agreement or in connection with Your purchase or use of the Products. You may not assign this Agreement without Our prior written consent.
                </p>
                <strong>7. Notices</strong>
                <p>
                  
                  Any notice from Raza.com to You under this Agreement will be provided by one or more of the following: posting on the Raza.com Website, a recorded announcement on a Product, postcard, letter, or a call to a telephone number provided by You, or an e-mail to an e-mail address provided by you. You may contact Us either by phone or by e-mail to:support@Raza.com. Notice from You to Us is effective as of the date that Our records show that We received Your call or correspondence.
                </p>
                <strong>8. Separability</strong>
                <p>
                  
                  If any part of this Agreement is found invalid, the rest of the Agreement will remain valid and enforceable.
                </p>
                <strong>9. Governing Law</strong>
                <p>
                  
                  This Agreement will be governed by the law of the State of Illinois, without regard to its choice of law rules. This governing law provision applies no matter where You reside, or where You use, purchase or pay for the Products.
                </p>
                <strong>10. Entire Agreement</strong>
                <p>
                  
                  This Agreement (which incorporates by reference the Raza.com Mobile Application /Website) constitutes the entire agreement between You and Us and supersedes all prior agreements, understandings, statements or proposals, and representations, whether written or oral. This Agreement can be amended only as provided in the Changes to the Agreement section below. No written or oral statement, advertisement, or Product description not expressly contained in the Agreement or the Raza.com Mobile app/Website will be allowed to contradict, explain, or supplement this Agreement or the Product description. Neither You nor We are relying on any representations or statements by the other party or any other person that is not included in this Agreement.
                </p>
                <strong>11. Severability of Provisions</strong>
                <p>
                  
                  In the event that any section or portion of this agreement is deemed unenforceable by a judicial authority having jurisdiction over the matter, such section or portion shall be deleted from the Agreement, and the Agreement shall be enforced as if that section or portion was not a part of the Agreement in the first instance.
                </p>
                <strong>12. Changes to the Agreement</strong>
                <p>
                  
                  This Agreement may only be changed in the manner provided for in this section. We may change this Agreement and the information contained elsewhere on the App/Website from time to time. All such changes will be effective at the time of posting on www.Raza.com. You may also request a copy of the revised Agreement by calling us toll free at 1-877-463-4233.
                </p>
                  
				  
				  <strong>13. SMS OPT-IN</strong>
                <p>
                  
                 Be the first to get the best deals. Get information about current and upcoming promotions.
                </p> 
				
				<strong>14. Contacting the Web Site</strong>
                <p>
                  
                  If you have any questions about this Mobile Application, you may contact:
                </p>
                <p> 
                  Mailing Address:
                  Customer Service
                  Raza communications<br/>
                  5219 N Harlem Ave<br/>
                  Chicago, IL 60656<br/>
                  Voice:<br/>
                  US: 877-463-4233
                  Canada: 800-550-3501
                  UK: 0808-234-7012<br/>
                  Email:<br/>
                  support@Raza.com, info@Raza.com
                  </p>
              </mat-expansion-panel>

 








              </mat-accordion>
      </section>




    </div>
    </div>