<div class="confirmation pb-3" *ngIf="transType=='Top-up'">
    <h1 mat-dialog-title>Top-up Successfull</h1>
<div mat-dialog-content>Top-up of {{topupAmount}} has been successfully sent to <br> <span class="mboile-numeber">+{{topupPhone}}</span></div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn-close px-5" (click)="closeIcon()"  mat-dialog-close>OK</button>
</div>
</div>


<div class="form_holder commonPopup promoCode "  *ngIf="transType!='Top-up'">
    <!--<span class="closeIcon orderConfirm" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
    <mat-dialog-content>

    <div class="row commonPopupRow">
        <h2>Thank You for your purchase.</h2>
            <div class="col-sm-12">
                <p>Your plan is successfully recharged, You can start making calls.</p>  
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="btn-close px-5" (click)="closeIcon()"  mat-dialog-close>Done</button>
          </div>
	</mat-dialog-content>-->

    <mat-dialog-content>

        <div class="thankyou-area">
            <img src="../../../../assets/images/imgpsh_fullsize_anim_ok.png" alt="thankyou" class="img-fluid ok-img">
            <div class="title">Thank You</div>
            <div class="note">Purchase was successful</div>
            <div class="button-wrapper">
                <button class="btn" (click)="showThankYou()" mat-button>DONE</button>
            </div>
        </div>

        <!-- <div class="row commonPopupRow">
            <h2 style="width:100%;">Thank You</h2>
                <div class="col-sm-12">
                    <p>Purchase was Successfull.</p>  
                </div>
            </div>
             
                <button mat-button mat-dialog-close class="btn-close px-5" (click)="closeIcon()"  mat-dialog-close>Done</button> -->
               
        </mat-dialog-content>

</div>