 
<mat-sidenav-container>
  <!--<mat-sidenav class="slidemenu hideSome" fixedInViewport="true" #sidenav [mode]="mode.value">
    <div class="closs_area">
      <span class="cross-icon" (click)="toggleSideNav()">
        <img src="assets/images/cross_icon_sidemenu.jpg" alt="" />
      </span>
      <span>
      
      </span>
    </div>
     
  </mat-sidenav>-->

  <mat-sidenav-content>
    <div class="wraper"> 
      <div style="min-height: 50px;">
	 
      <router-outlet></router-outlet>
     </div>
    </div>
    <raza-spinner-taghelper></raza-spinner-taghelper>
     
  </mat-sidenav-content>
</mat-sidenav-container>







<!--

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    
  </mat-sidenav-content>
</mat-sidenav-container>

-->