 
  <div class="first_fold">
  
  <h1 class="heading_style1">	
  How it works<br/>
  <span>3 Step Simple Calling Process</span>
  </h1>
  <div class="home_banner howitworks_banner">
      <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
  </div>
  </div>
  
  <div class="second_fold">
      <div class="shadowtype2">
        <div class="row">
          <div class="col-md-4 howitworksSection number1">
            <div class="icon_holder1"><img src="assets/images/howitworks_icon1.svg" alt="icon"></div>
            <h3 class="heading_style2">Step 1</h3>
            <p>Dial the RAZA access number.</p>
          </div>
          <div class="col-md-4 howitworksSection number2">
            <div class="icon_holder1"><img src="assets/images/howitworks_icon2.svg" alt="icon"></div>
            <h3 class="heading_style2">Step 2</h3>
            <p class="first-child">Dial 011 + country code + the phone number, followed by #.</p>
            <p class="last-child">To Call within USA, Canada or Caribbean: Dial 1 + Area Code + Number followed by # Key</p>
          </div>
          <div class="col-md-4 howitworksSection number3">
            <div class="icon_holder1"><img src="assets/images/howitworks_icon3.svg" alt="icon"></div>
            <h3 class="heading_style2">Step 3</h3>
            <p>Keep talking</p>
          </div>
        </div>
        <div class="row">
          <div class="gradientArea">
            <p>Once you have dialed the destination # Do not press the send button</p>
          </div>
        </div>
      </div>
  </div>
