 
<div class="main__wrapper" *ngIf="platforms !='' && promotionCode =='' ">
      <div class="bg-top bg-top-inner">
        <div class="d-flex align-items-center justify-content-between w-100">
          <button class="bg-icon-blue border-0 text-white">
            <span class="material-icons" (click)="goBack('Back/Closed denomination page')" > keyboard_arrow_left </span>
          </button>
          <h4 class="title_bold m-auto" *ngIf="recharge_screen !=''">Recharge</h4>
          <h4 class="title_bold m-auto" *ngIf="topup_no !=''">Mobile Top-up</h4>
          <h4 class="title_bold m-auto" *ngIf="customer_id !=''">Country Rates</h4>
          <button class="bg-icon-blue border-0 text-white" (click)="closeApp('Back/Closed denomination page')">
            <span class="material-icons close-screen">close</span>
          </button>
          
        </div>
      </div>
    
      <div class="pt-3 text-center pb-3">
        <div style="min-height:300px;max-height: 326px;object-fit: contain;">
        <img src="./assets/images/splash.png" alt="" class="img-fluid pb-3" *ngIf="recharge_screen !='' || customer_id !=''" >
        <img src="./assets/images/topup_splash.png" alt="" class="img-fluid pb-3" *ngIf="topup_no!=''" >
      </div>
   
        <div class="splash-content" *ngIf="recharge_screen !=''" >
          <p class="welcome-text">Welcome to Raza</p>
          <h1 >Recharge</h1>
          <p class="text-note">Click recharge now to add credit and keep taking..</p>
        </div>


        <div class="splash-content" *ngIf="topup_no !=''" >
          <p class="welcome-text">Welcome to Raza</p>
          <h1 >Mobile Top-up</h1>
          <p class="text-note">Click Top-up now to send Mobile Recharge</p>
        </div>

        <div class="splash-content" *ngIf="customer_id !=''" >
          <p class="welcome-text"></p>
          <h1 >Enjoy Best Calling Rates</h1>
          <p class="text-note">Guaranteed Low Rates With Excellent Quality And 24/7 Client Support</p>
        </div>

        
      </div>
    
      <div class="button-wrapper" > 
        <button *ngIf="recharge_screen !='' && showContinue" class="btn btn-gradient btn-block mt-3" (click)="processLogin1()" mat-button>RECHARGE NOW</button>
        <button *ngIf="topup_no !='' && showContinue" class="btn btn-gradient btn-block mt-3" (click)="processLogin1()" mat-button>TOP-UP NOW</button>
        <button *ngIf="customer_id !='' && showContinue" class="btn btn-gradient btn-block mt-3" (click)="processLogin1()" mat-button>Continue</button>
      </div>
    
    
    
    
    
    </div>
    
     

  <div class="main__wrapper promotion" *ngIf="platforms!='' && promotionCode!=''">
    <div class="bg-top bg-top-inner">
      <div class="d-flex align-items-center justify-content-between w-100">
        <button class="bg-icon-blue border-0 text-white">
          <span class="material-icons" (click)="goBack('Back/Closed denomination page')" > keyboard_arrow_left </span>
        </button>
        <h4 class="title_bold m-auto" *ngIf="topup_no==''">Recharge</h4>
        <h4 class="title_bold m-auto" *ngIf="topup_no !=''">Mobile Top-up</h4>
        <button class="bg-icon-blue border-0 text-white" (click)="closeApp('Back/Closed denomination page')">
          <span class="material-icons close-screen">close</span>
        </button>
        
      </div>
    </div>
  
    
    <div class="text-center pb-3">
      <div style="min-height:210px;max-height: 326px;object-fit: contain;">
      <img src="./assets/images/promotion/promotion-top.png" alt="" class="img-fluid pb-3 w-100" >
    </div>
    
    <div class="offer">
      <img src="./assets/images/promotion/offer.png" alt="" class="img-fluid">
      <a (click)="processLogin1()" *ngIf="topup_no=='' && showContinue" class="btn btn-primary bg-primary" mat-button type="button">Buy Now</a>
      <a (click)="processLogin1()" *ngIf="topup_no !=''&& showContinue" class="btn btn-primary bg-primary" mat-button type="button">Buy Now</a>
    </div>

    <img src="./assets/images/promotion/promotion-bottom.png" alt="" class="img-fluid bottom-img">



    </div>
  
  
  
  
  
  </div>
  
