.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

.mat-toolbar {
  background: none;
}

.nobg {
  background: none;
  cursor: pointer;
  border: none;
}

.colorWhite {
  color: #0B203E;
}

.mat-radio-button {
  padding-right: 6px;
}

.header_style {
  background: #fff;
}

.recharge_block {
  padding: 60px 0;
  margin: 0;
  width: 100%;
  background-color: #f6f8fa;
}

.recharge_block.recharge2 label {
  display: block !important;
}

.heading_style4 {
  padding: 0;
  margin: 0 0 25px 0;
  color: #0b203e;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.heading_style4:after {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #0b203e;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "";
}

.heading_style4 span {
  padding: 0 15px;
  margin: 0 auto;
  display: inline-block;
  background-color: #f6f8fa;
  position: relative;
  z-index: 2;
}

h2.heading_style4 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #0B203E;
  font-size: 24px;
  text-align: center;
}

.form_holder {
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 10px #456D99;
          box-shadow: 2px 10px #456D99;
  box-shadow: 1px 3px 21px #ddd;
  -moz-box-shadow: 1px 3px 21px #ddd;
  -webkit-box-shadow: 1px 3px 21px #ddd;
  padding: 0px 0px 0px 0 !important;
}

.form_holder > *:last-child {
  margin-bottom: 0;
}

.form_holder > div:nth-last-of-type(2) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e4e9ee;
}

.form_holder input.mat-input-element {
  height: 25px;
}

.form_row1 {
  padding: 0;
  margin: 0 0 15px 0;
}

.input_holder1 {
  padding: 0;
  margin: 0;
  width: 100%;
}

.input_style1 {
  padding: 0 15px;
  margin: 0;
  width: 100%;
  height: 40px;
  border: 1px solid #9ba7b6;
  outline: none !important;
  color: #9ba7b6;
  font-size: 14px;
}

.form_label1 {
  padding: 0;
  margin: 0 0 5px 0;
  color: #103F8A;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.form_label1 a {
  padding: 0;
  margin: 0;
  color: #0b203e;
  font-size: 12px;
  text-decoration: none;
}

.form_label1 a:hover {
  text-decoration: underline;
}

.form_row2 {
  padding: 0;
  margin: 0;
  width: 75%;
}

.form_row3 {
  padding: 0;
  margin: 0;
  width: 20%;
}

.submit_btn1 {
  padding: 0;
  margin: 0 10%;
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  background-color: #f4d03c;
  color: #233651;
  font-size: 14px;
}

.submit_btn1:hover {
  background-color: #233651;
  color: #f4d03c;
}

.rechare_block label {
  display: block;
  color: #103F8A;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.rechare_block .mat-form-field {
  display: block !important;
}

.cardRowLeft {
  float: left;
  width: 60%;
  margin-right: 5%;
}

.cardRowRight {
  float: left;
  width: 35%;
}

.floatRight {
  float: right;
}

.forgetPass {
  font-size: 11px;
  color: #103F8A;
}

.cardRow {
  padding: 0 15px;
  display: block;
  clear: both;
  overflow: hidden;
}

.radio_checkbox_wraper1 {
  padding: 0;
  margin: 0 0 15px 0;
  width: 100%;
}

.radio_checkbox_wraper1 > *:last-child {
  margin-right: 0;
}

.radiobutton_holder1 {
  padding: 0;
  margin: 0 5px 0 0;
  position: relative;
  display: inline-block;
}

.radiobutton_holder1 input[type="radio"] {
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
}

.radiobutton_holder1 input[type="radio"] + label {
  padding: 0 0 0 30px;
  margin: 0;
  color: #8c8c8c;
  font-size: 14px;
  cursor: pointer;
}

.radiobutton_holder1 input[type="radio"] + label:before {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #a1acb9;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 0;
  text-align: center;
  content: "";
}

.radiobutton_holder1 input[type="radio"] + label:after {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 4px;
  top: 12px;
  font-size: 30px;
  line-height: 0;
  text-align: center;
  content: "\2022";
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  color: #a1acb9;
}

.radiobutton_holder1 input[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.heading_style5 {
  padding: 0;
  margin: 45px 0 20px 0;
  color: #808080;
  font-size: 16px;
  text-align: center;
  position: relative;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.login_link {
  padding: 0;
  margin: 0 25% 30px 25%;
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f4d03c;
  color: #233651;
  font-size: 14px;
  display: block;
}

.login_link:hover {
  background-color: #233651;
  color: #f4d03c;
  text-decoration: none;
}

.heading_style6 {
  padding: 0;
  margin: 0 0 30px 0;
  color: #0b203e;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.heading_style6:after {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #979797;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "";
}

.heading_style6 span {
  padding: 0 15px;
  margin: 0 auto;
  display: inline-block;
  background-color: #f6f8fa;
  position: relative;
  z-index: 2;
}

.heading_style7 {
  padding: 0;
  margin: 0 0 30px 0;
  color: #0B203E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  position: relative;
  line-height: 27px;
}

.login_text {
  padding: 0;
  margin: 30px auto 0;
  width: 100%;
  display: block;
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 80%;
}

.login_text a {
  color: #0061E8;
  text-decoration: none;
}

.login_text a:hover {
  text-decoration: underline;
}

h3.heading_style6 {
  width: 150px;
  display: block;
  margin: 50px auto;
}

h3.heading_style6 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #0B203E;
}

.mat-radio-label-content {
  color: #808080;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.savedCard {
  padding: 5px 20px;
  border-bottom: 1px solid #eee;
}

.cardImg, .cardDetails {
  float: left;
}

.cardImg {
  padding: 30px 4px 0 15px;
}

.cardDetails {
  padding: 23px 4px 0 15px;
  width: 78%;
}

.cardDetails p.cardNumber {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #0B203E;
  font-size: 16px;
  margin-bottom: 10px;
}

.cardDetails p.cardExpires {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #0B203E;
  font-size: 14px;
}

.cardDetails p span a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #103F8A;
  float: right;
}

.table td {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #808080;
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
}

.table td:first-child {
  text-align: left;
}

.table td:last-child {
  text-align: right;
}

.table tr.total td {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #0B203E;
  padding: 28px 0;
}

a.redeemPromo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #0160E0;
  text-decoration: underline;
  cursor: pointer;
}

.cvvCard {
  padding-left: 20px;
}

.cardOpacity {
  opacity: 0.5;
}

p.updateCard {
  color: #919EAE;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 35px 0;
  margin-top: 60px;
}

p.step {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #969DA5;
  font-size: 14px;
  margin-bottom: 3px;
}

p.stepName {
  color: #969DA5;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.rechargeStepMain {
  clear: both;
  overflow: hidden;
  background: #fff;
  padding: 33px 0 21px 0;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.rechargeStep {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.step1, .step2, .step3 {
  float: left;
  text-align: center;
  width: 33.33%;
}

.step1.active p.stepName, .step2.active p.stepName, .step3.active p.stepName {
  color: #0B203E;
}

.lock {
  position: absolute;
  right: 5px;
  top: 7px;
}

.i_icon {
  padding-left: 5px;
}

.form_holder5Row {
  padding: 15px 33px;
}

@media only screen and (max-width: 1000px) {
  .recharge_block {
    margin-top: 104px !important;
  }
}

@media only screen and (max-width: 675px) {
  .containerMobile {
    width: 100%;
  }
  .recharge_block {
    margin-top: 104px;
  }
}

.mt-40 {
  margin-top: 40px;
}

.paypal-box {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.body-tab {
  padding-bottom: 90px;
  overflow-y: scroll;
}

.body-tab::-webkit-scrollbar {
  display: none;
}

.payment-bottom {
  height: 100%;
  overflow: hidden;
}

.submit-wrapper {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e0e0e8;
  width: 100%;
  z-index: 99;
  text-align: right;
  border-top: 2px solid #b9b9b9a6;
  border-bottom: 2px solid #b9b9b9a6;
}

.submit-wrapper small {
  color: #969DA5;
}

.submit-wrapper a {
  color: #969DA5;
  font-weight: 500;
}

.submit-wrapper a.btn.btn-warning {
  background: #f4cb26;
  border-radius: 24px !important;
  -moz-border-radius: 24px !important;
  -webkit-border-radius: 24px !important;
  border: none;
  padding: 13px 20px !important;
  width: 280px;
  display: block !important;
  color: #0b203e;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.submit-wrapper .gap {
  gap: 20px;
}

::ng-deep .recharge_block .mat-tab-body.mat-tab-body-active {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

::ng-deep .required label span::first-letter {
  color: red !important;
}

.button-wrapper {
  width: 25%;
}

@media only screen and (max-width: 768px) {
  .button-wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=checkout-payment.component.css.map */