<div class="header_about">
    <ul>
        <li>
    <button class="bg-icon-blue border-0 text-white">
        <!--<span class="" (click)="goBack('Back/Closed denomination page')"> </span>-->
        <img src="./assets/images/new_app/arrow.png">
      </button>
      </li>
      <li>
    <h1>About us</h1>
    </li>
   </ul>
</div>
<section class="top_w_container">
    <div class="white_container">
        <h5>
            about us
        </h5>
        <p>
            Since 1995, we've been the industry pioneer, creating reliable
            and affodrable international calling plant that keep you talking for less.
            Staying connected in today's fast-paced world is easy when you get an international 
            calling plan from <span class="raza_span">Raza.com.</span> our state-of-the-art fiber optic 
            network puts you in touch with more than 200 different countries. We stand behind every 
            purchase to provide Unparalled customer service 24/7 & 100% money back guarantee if 
            you are not satisfied with our service and quality at anytime.
        </p>
        <h3>
            RAZA "Keep Talking"
        </h3>
        <p>
            Make crystal clear, quality international calls at the cheapest rates 
            possible. We beat or meet all international calling service providers 
            around. Easy and affodrable calling rates starting as low as 1c per minute 
            to over 50 countries
        </p>
        <h3>
        Product available for you on <br>Mobileapp
        </h3>
        <p class="border_para">
            <img src="./assets/images/new_app/About us_one.png" class="img_set">
            Raza International calling
        </p>
        <p class="border_para">
            <img src="./assets/images/new_app/About us_two.png" class="img_set">
            Raza Mobile Top up
        </p>
        <p>
            Simply download the app and get $2 USD free.
        </p>
        <p>
            Get started right away, you are only few steps 
            <br>
            away from making your first call.
        </p>
    </div>
</section>
