@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

.header_about{
	background-color: #8488e2;
    opacity: 1;
    position: fixed;
    width: 100%;
    top: 0%;
    transition: opacity .7s;
	h1{
	    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin: 0px 60px;
	}
	button{
		margin: 0px 20px;
		background: transparent;
    }
	img{
        width: 40px;
    }
	ul{
		padding: 35px 0px;
	}
	li{
		display: inline-block;
	}
  }
  .top_w_container{
    position: absolute;
    top: -60px;
  }
.white_container{
    background-color: #ffffff;
    border-radius: 30px;
    position: fixed;
    max-height: 700px;
    margin-top: 150px;
    padding: 20px 30px 50px 25px;
    padding-top: -510px;
    overflow: scroll;
    
    padding-top: -230px;
    
    
    h5{
        font-size: 19px;
        color: #13222b;
        font-weight: 600;
        text-align: left;
        text-transform: capitalize;
       
        margin-left: 10px;

    }
    p{

    line-height: 25px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: #13222b;
    margin-top: 20px;

    }
    h3{
        font-size: 15px;
    color: #5458a7;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    }
    img{
        padding: 10px;
    }
}
.raza_span{
    color: #5458a7;
    text-decoration: underline;
}
.border_para{
    border-bottom: 2px solid #e6ecf0;
}

