<!-- Amount denomination -->



<div class="bg-comman">
  <div class="main__wrapper">

    <div class="bg-top" *ngIf="promotionCode ==''">
      <div class="d-flex align-items-center pt-4 justify-content-between">
        <button class="bg-icon-blue border-0 text-white" (click)="closeApp()">
          <span class="material-icons"> keyboard_arrow_left </span>
        </button>
        <h4 class="title_bold mb-0">Mobile Top-up</h4>
        <button class="bg-icon-blue border-0 text-white" (click)="closeApp()">
          <span class="material-icons close-screen">close</span>
        </button>
      </div>
    </div>
      <div class="container" *ngIf="!mobileTopupData">
        <div class="row comman-shadow mb-2 p-2 br-radius bg-white balance__amount">
          <div class="waller-amount-wrapper">
            <div class="wallet-amount">
              <div class="recipient">Recipient Information</div>
             
            </div>
          </div>
        </div>
      </div>
    

    <div *ngIf="!mobileTopupData">
      <form [formGroup]="mobileTopupForm" (ngSubmit)="onMobileTopupFormSubmit()">
        <div class="section-wrapper shadow-common overflow-hidden mt-4 select-benef">
          <div class="card-wrapper payment-card">
            <div class="card-content comman-padding choose-country  pb-0">

              <mat-form-field appearance="legacy" class="w-100">
                <mat-label class="font-weight-bold text-dark">Choose Country</mat-label>

                <span *ngIf="mycountryId > 0" matPrefix class="prefix-mobiletopup">
                  <img src="assets/images/blank.gif" [ngClass]="'flag flag-' + mycountryId" />
                </span>
                <input matInput type="text" [matAutocomplete]="auto" formControlName="countryTo" (keyup)="unsetFlag()"
                  class="ml-2" />

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let country of filteredCountry | async" [value]="country"
                    (click)="onSelectCountrFrom(country)">
                    <span class="mr-2">
                      <img src="assets/images/blank.gif" [ngClass]="'flag flag-' + country.CountryId"
                        [alt]="country.CountryName" />
                    </span>
                    {{ country.CountryName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


              <mat-form-field appearance="legacy" class="w-100">
                <mat-label class="font-weight-bold text-dark">Enter Number</mat-label>
                <span matPrefix class="prefix-mobiletopup"
                  *ngIf="this.mobileTopupForm.get('countryTo').value?.CountryCode">+{{
                  this.mobileTopupForm.get("countryTo").value?.CountryCode }}
                </span>

                <input type="tel" matInput formControlName="phoneNumber" class="ml-2" />
                <span class="floatRight forgetPass" *ngIf="isTopUpEnable">
                  <a tabindex="3" (click)="changeNumber()">Change Number?</a></span>
              </mat-form-field>
              <!--<p class="numberXX">+971 5299XXXXX</p>-->
              <mat-error *ngIf="showError">
                Sorry, Top-up to this number is unavailable.
              </mat-error>
              <mat-error *ngIf="ResponseMessage!=''">
                {{ResponseMessage}}
              </mat-error>

              <!--<a mat-button href="#" class="submit-btn">SUBMIT</a>-->



            </div>
          </div>
        </div>
        <!-- <div class="button-wrapper">
      <button mat-button class="submit-btn btn-block mb-3 mb-md-0">Continue</button>
    </div> -->
        <div class="container mt-4">
          <div class="row">
            <div class="col-12 px-0">
              <button mat-button class="btn btn-gradient btn-block"
                (click)="onMobileTopupFormSubmit()">CONTINUE</button>
            </div>
          </div>
        </div>
      </form>
    </div>






    <div *ngIf="mobileTopupData">
    <div class="container" >

      <div class="row comman-shadow mb-2 p-2 br-radius bg-white balance__amount">
        <div class="order-details-wrapper py-3">
          <div class="order-details-label mb-3">
            <div class="order-details">Order details</div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">

              <img src="assets/images/blank.gif" [ngClass]="'flag flag-' + mycountryId" [alt]="countryName" />


              <div class="ml-3 text-uppercase">{{countryName}}</div>
            </div>
            <button type="button" class="bg-white border-0" (click)="changeCountry()"><img
                src="./assets/images/edits.svg" alt="" height="16px" width="16px"></button>
          </div>
          <div class="d-flex justify-content-between align-items-center py-4">
            <div class="d-flex align-items-center">
              <mat-icon> call</mat-icon>
              <div class="ml-3">
                <span>+{{this.mobileTopupForm.get("countryTo").value?.CountryCode}}</span>{{this.mobileTopupForm.get('phoneNumber').value}}
              </div>
            </div>
            <button type="button" class="bg-white border-0" (click)="changeNumber()"><img
                src="./assets/images/edits.svg" alt="" height="16px" width="16px"></button>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img class="operator mr-2" [src]="operatorImage" alt="" />

              <div class="ml-2">{{mobileTopupData.Operator}}</div>
            </div>
            <button class="bg-white border-0" (click)="changeOperator()" ><img
                src="./assets/images/edits.svg" alt="" height="16px" width="16px"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="container bg-white comman-shadow br-radius mb-2 p-2 operatorsList" *ngIf="mobileTopupData && showOperators">
      <div class="justify-content-md-between row align-items-center">
        <div class="col-12">
          <div class="order-details">Choose the correct operator</div>
        </div>
        <div class="col-md-6" *ngFor="let oprt of operatorsList; let i = index">
          <div (click)="setOperator(oprt)"> <img class="operator mr-2" [src]="get_optr_image(oprt)" alt="" /> {{oprt}}</div>
        </div>
        
      </div>
    </div>

      <div class="section-wrapper topup-wrapper mt-3 mb-0" *ngIf="!showOperators">
        <div class="payment-card">
          <div class="card-head border-0 pb-0">
            <div class="main-title pl-2">Choose Amount</div>
          </div>
          <div class="card-content comman-padding px-2 pt-2 denomination-height">
            <div class="denomination-wrapper"
              *ngFor="let item of mobileTopupData?.OperatorDenominations; let i = index">
              <div *ngIf="item.UsDenomination <= 20"  class="comman-border denomination justify-content-between p-10 radius-10 {{getChecked(item.UsDenomination)}}"
                (click)="onClickAmountOption(item)">

                <div class="d-flex align-items-center">
                  <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
                  <div class="topup_amount ml-2">{{item.UsDenomination | bCurrency}}</div>
                </div>
                <div class="topup-price"><span
                    class="mr-1">{{item.DestinationCurrency}}</span>{{item.DestinationAmount}}</div>
                <mat-icon class="checked">check_circle</mat-icon>
              </div>


              <div *ngIf="item.UsDenomination > 20" class="blur comman-border denomination justify-content-between p-10 radius-10 {{getChecked(item.UsDenomination)}}"
               >

              <div class="d-flex align-items-center">
                <mat-checkbox disabled class="example-margin" color="primary"></mat-checkbox>
                <div class="topup_amount ml-2">{{item.UsDenomination | bCurrency}}</div>
              </div>
              <div class="topup-price"><span
                  class="mr-1">{{item.DestinationCurrency}}</span>{{item.DestinationAmount}}</div>
              <mat-icon class="checked">check_circle</mat-icon>
            </div>


            </div>

          </div>
        </div>
      </div>
    


    <div class="container mt-0" *ngIf="mobileTopupData">
      <div class="row">
        <div class="col-12 px-0">
          <button *ngIf="showContinue" mat-button class="btn btn-gradient btn-block mt-4"
            (click)="onMobileTopupFormSubmit()">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

<!-- Amount denomination end-->