<div class="confirmation pb-3">
    <h1 mat-dialog-title>Top-up Successfull</h1>
<div mat-dialog-content>Top-up of CAD 5.50 has been successfully sent to <br> <span class="mboile-numeber">+919848013100</span></div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn-close px-5">OK</button>
</div>
</div>