.heading_style4 {
  padding: 0;
  margin: 0 0 25px 0;
  color: #0b203e;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.heading_style4:after {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #0b203e;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: "";
}

.heading_style4 span {
  padding: 0 15px;
  margin: 0 auto;
  display: inline-block;
  background-color: #f6f8fa;
  position: relative;
  z-index: 2;
}

h2.heading_style4 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #0B203E;
  font-size: 24px;
  text-align: center;
}

.form_holder {
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 10px #456D99;
          box-shadow: 2px 10px #456D99;
  box-shadow: 1px 3px 21px #ddd;
  -moz-box-shadow: 1px 3px 21px #ddd;
  -webkit-box-shadow: 1px 3px 21px #ddd;
  padding: 0px 0px 0px 0 !important;
}

.form_holder > *:last-child {
  margin-bottom: 0;
}

.form_holder > div:nth-last-of-type(2) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e4e9ee;
}

.form_holder input.mat-input-element {
  height: 25px;
}

.form_holder5Row {
  padding: 15px 33px;
}

::ng-deep .width-full .mat-tab-label {
  width: 100% !important;
}

.paypal-button-container {
  margin: 30px;
}
/*# sourceMappingURL=payment-options.component.css.map */