<!-- Amount recharge new customer -->
<style>
    .paypal-buttons.paypal-buttons-context-iframe.paypal-buttons-label-paypal.paypal-buttons-layout-vertical 
{
    max-width: 80px!important;
    min-width: 80px!important;
width: 80px!important;
}
</style>
<div class="bg-comman">
    <div class="main__wrapper">
        <div class="bg-top bg-top-inners">
            <div class="d-flex align-items-center pt-4 justify-content-between align-items-center w-100">
                <button class="bg-icon-blue border-0 text-white" (click)="goBack()">
          <span class="material-icons"> keyboard_arrow_left </span>
        </button>
                <h4 class="title_bold">{{headingText}}</h4>


                <button class="bg-icon-blue border-0 text-white mr-2" (click)="closeApp2()">
          <span class="material-icons close-screen">close</span>
        </button>
            </div>
            <!--<div class="container scroll-fixed">
        <div class="row comman-shadow mb-2 p-2 br-radius bg-white balance__amount">
          <div class="waller-amount-wrapper">
            <div class="wallet-icon">
              <img src="../../assets/images/app-icons/wallet.svg" alt="icon">
            </div>
            <div class="wallet-amount">
              <div class="wallet-msg">Current Balance</div>
              <div class="wallet__amount">{{balance}}</div>
            </div>
          </div>
        </div>
      </div> -->
        </div>
        <a href="javascript:void(0)" id="show_google_payfunction" style="display:none;" (click)="show_google_payfunction()"></a>
        <a href="javascript:void(0)" id="show_apple_payfunction" style="display:none;" (click)="show_apple_payfunction()"></a>
        <div class="section-wrapper overflow-hidden mt-1 paymen-section" *ngIf="topup_no!=''">
            <div class="payment-method" >&nbsp;</div>
         </div>
        <div class="section-wrapper overflow-hidden mt-1 paymen-section" *ngIf="!showCartInfo && topup_no==''">
            <div class="payment-method" *ngIf="show_google_pay_button || show_apple_pay_button">
                <div class="checked-payment" *ngIf="DeviceType =='ios'">
          <button mat-button class="btn-block">Credit card</button>
        </div>

        <div class="checked-payment" *ngIf="DeviceType !='ios' && (countryFromId == 1 || countryFromId == 2)">
            <button mat-button class="btn-block">Credit card</button>
          </div>

                <div class=" mx-3" *ngIf="DeviceType !='ios' && (countryFromId == 1 || countryFromId == 2)">


                    <!--<div class=" mx-3"  > -->
                    <button mat-button class="btn-block " (click)="showGooglepayDia()"><img
              src="./assets/images/app-icons/google.svg" alt="icon"> <span class="ml-2">Pay</span></button>
                </div>

                

                <div *ngIf="show_apple_pay_button && DeviceType =='ios'">
                    <button mat-button class="btn-block" (click)="showApplePayDia()"><img
              src="./assets/images/app-icons/apple.svg" alt="icon"> <span class="ml-2">Pay</span></button>
                </div>
                
                <!-- <div>
                     
                    
                      <button mat-button class="btn-block" *ngIf="topup_no==''">
                        <a href="javascript:void(0)" *ngIf="!showCartInfo" class="px-0" mat-button (click)="showCartInfoClick()"><img
                      src="./assets/images/app-icons/paypal_logo.svg" style="width: 74px;" alt="icon"></a>
                    </button> 
                </div> -->
            </div>
            
        </div>
        <div class="credit-card shadow-common overflow-hidden mt-1" *ngIf="havingExistingCard && !addNewCard && !editCard ">
            <div class="card-wrapper card-content">
                <div class="card-head">
                    <div class="main-title">Your Saved Credit Cards</div>
                    <div *ngIf="selectedCard?.CardId">
                        <img src="assets/images/edit.svg" alt="icon" class="card-img pr-3" (click)="editCardClick('editCrd')">
                        <img src="assets/images/app-icons/delete.svg" alt="icon" (click)="deleteCardDetails()" class="card-img pr-3">
                    </div>
                </div>
                <div class="card-content comman-padding py-0 save-card-header">
                    <mat-radio-group class="example-radio-group" name="cardNumber" [(ngModel)]="selectedCard">
                        <div class="d-flex gap-20 edit-card align-items-start" *ngFor="let item of customerSavedCards; let ind = index" [ngClass]="{'cardOpacity': selectedCard?.CardId != item.CardId }">
                            <div class="card__img">
                                <img [src]="getCardIcon(item)" alt="icon" />
                            </div>

                            <div class="d-flex justify-content-between edit__card">
                                <div class="d-flex justify-content-between flex-column w-75">

                                    <div class="d-flex justify-content-between">
                                        <div class="card__details">
                                            <p class="card-label">Card Number</p>
                                            <div class="card-number">{{ getFormatedCard(item.CardNumber) }}</div>
                                        </div>
                                        <div class="card__details">
                                            <p class="card-label">Expires On</p>
                                            <div class="card-number">{{item.ExpiryMonth}}/{{item.ExpiryYear}}</div>
                                        </div>
                                    </div>

                                    <div class="cvv_input" *ngIf="item.CardId === selectedCard?.CardId">
                                        <form class="example-form">
                                            <mat-form-field class="w-100">
                                                <mat-label class="label">CVV Code</mat-label>
                                                <input matInput type="password" maxlength="4" placeholder="Security code" name="{{item.CardId}}" [(ngModel)]="item.Cvv" (keyup)="modelChangeFn($event)">
                                                <div matSuffix><a href="javascript:void(0)" (click)="whatiscvv() && onIconClick($event)" class="hint">what is CVV</a></div>
                                            </mat-form-field>
                                            <mat-error *ngIf="isDisplayCvvRequired(item) || cardCvvError">
                                                CVV is required
                                            </mat-error>
                                        </form>
                                    </div>
                                </div>
                                <div class="check__box">
                                    <mat-radio-button (click)="setItem(item)" [checked]="getChecked(item)" [value]="item">
                                    </mat-radio-button>
                                </div>
                            </div>

                        </div>
                    </mat-radio-group>
                </div>

                <div class="card-content comman-padding py-0">
                    <div class="d-flex gap-20 edit-card align-items-start" *ngIf="customerSavedCards">
                        <div class="card__img">
                            <img src="assets/images/app-icons/blue_card.svg" alt="icon">
                        </div>
                        <div class="d-flex justify-content-between edit__card">
                            <div class="add_Card">
                                <a href="javascript:void(0)">ADD NEW CARD</a>
                            </div>
                            <div class="check__box">
                                <mat-radio-button (click)="addCardClick('newCrd')" [checked]="getChecked('')" [value]="newCard">
                                </mat-radio-button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="container my-5" *ngIf="havingExistingCard && !addNewCard && !editCard && !showCartInfo">
            <div class="row">
                <div class="col-12 px-0">
                    <button class="btn btn-gradient btn-block" (click)="addNewOrPay()" mat-button>CONTINUE</button>
                </div>
            </div>
        </div>

       


        <div class="credit-card shadow-common overflow-hidden mt-1" *ngIf="addNewCard && !showCartInfo">

            <app-new-credit-card [checkOutModel]="currentCart" (onPaymentSubmit)="onPaymentInfoFormSubmit($event)">
            </app-new-credit-card>

        </div>
        <div class="credit-card shadow-common overflow-hidden mt-1" *ngIf="editCard && !showCartInfo">

            <app-add-card [selectedCard]="selectedCard" [selectedCardPay]="selectedCardPay" [billingInfo]="billingInfo" (onNextClick)="addCreditCardClick($event)" (onPaymentSubmit)="onPaymentInfoFormSubmit($event)">
            </app-add-card>

        </div>

        <div class="form_row1 paypal-box px-3 mx-1 mb-3" >
            <div class="input_holder1">
                <div id="paypal-button-container" class="paypal-button-container">
                    <raza-paypal [config]="payPalConfig"></raza-paypal>
                </div>
            </div>
        </div>
        <div class="section-wrapper shadow-common overflow-hidden" [ngClass]="getOrderClass(currentCart)" *ngIf="showCartInfo">
            <div class="card-wrapper pb-0" *ngIf="!currentCart.topupOption">
                <!--<div class="card-head">
                    <div class="main-title">Order Summary</div>
                </div>-->
                <div class="card-content comman-padding pt-1">
                    <table class="table summary mb-0 border-bottom">
                        <!--<tr>
                            <td>Mobile Number</td>
                            <td>+{{userPhone}}</td>
                        </tr>
                        <tr>
                            <td>Plan Name</td>
                            <td>{{this.plan.CardName}}</td>
                        </tr>
                        <tr *ngIf="!processWithPaypal && !processWithGpay && !processWithApplepay">
                            <td>Credit Card</td>
                            <td>Ending {{getlast4digit()}}</td>
                        </tr>-->
                        <tr>
                            <td>Recharge Amount</td>
                            <td> {{ currentCart?.getPurchaseAmount() | bCurrency : currentCart?.currencyCode }}
                                <!--<span class="pl-3">(USD)</span>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Fees</td>
                            <td>{{ currentCart?.calculateServiceFee() | bCurrency : currentCart?.currencyCode }}</td>
                        </tr>
                        
 

                        <tr>
                            <td>Total</td>
                            <td>{{currentCart?.totalAmount() | bCurrency : currentCart?.currencyCode }}</td>
                        </tr>

                        <!-- <tr>
                            <td>Promotion</td>
                            <td >
                                <div *ngIf="currentCart?.getPurchaseAmount() > 5"><img src="assets/images/check.png" /> Applied</div>
                                <div > {{promotionCode}}</div> </td>
                        </tr>  -->

                    </table>
                </div>
            </div>
            <div class="card-wrapper pb-0" *ngIf="currentCart.topupOption">
                <div class="card-head">
                    <div class="main-title">Recharge</div>
                </div>
                <div class="card-content comman-padding pt-1">
                    <table class="table summary mb-0 border-bottom">
                        <tr>
                            <td>Number</td>
                            <td>+ {{currentCart.country.CountryCode}} {{currentCart.phoneNumber}}</td>
                        </tr>

                        <tr>
                            <td>Operator</td>
                            <td><img class="operator mr-2" src="{{operatorImage(currentCart.topupOption.Operator)}}" alt="icon" /> {{currentCart.topupOption.Operator}} </td>
                        </tr>

                        <tr>
                            <td>Country</td>
                            <td> {{currentCart.country.CountryName}} </td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td> {{currentCart.topupOption.UsDenomination | bCurrency : currentCart?.currencyCode}} ( {{currentCart.topupOption.DestinationCurrency}} {{currentCart.topupOption.DestinationAmount}})</td>
                        </tr>


                        <tr>
                            <td>Fees</td>
                            <td>{{ currentCart?.calculateServiceFee() | bCurrency : currentCart?.currencyCode }}</td>
                        </tr>
                        <tr>
                            <td>Credit Card</td>
                            <td>Ending {{getlast4digit()}}</td>
                        </tr>

                        <tr>
                            <td>Total</td>
                            <td>{{currentCart?.totalAmount() | bCurrency : currentCart?.currencyCode }}</td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
        <div *ngIf="showCartInfo && !processWithPaypal && !processWithGpay && !processWithApplepay">
            <div class="button-wrapper my-3">
                <button class="btn btn-gradient btn-block" (click)="processPayment()" mat-button>{{btnText}}</button>
            </div>
        </div>

        <!-- <div class="paypal-btn" *ngIf="topup_no==''">
            <a href="javascript:void(0)" *ngIf="!showCartInfo" mat-button (click)="showCartInfoClick()">Pay with <img
          src="./assets/images/app-icons/paypal_logo.svg" alt="icon"></a>
        </div> -->

        <div class="form_row1 paypal-box px-3 mx-1 mb-3" *ngIf="processWithPaypal && topup_no=='' ">
            <div class="input_holder1">
                <div id="paypal-button-container" class="paypal-button-container">
                    <raza-paypal [config]="payPalConfig"></raza-paypal>
                </div>
            </div>
        </div>


        <!--<div class="form_row1 paypal-box px-3 mx-1 mb-3" *ngIf="showCartInfo && processWithGpay && topup_no==''">      
      <div id="google-button-container" class="google-button-container">
        <button mat-button class="btn-block Goolgepaybutton" (click)="setupGooglePayButton()"><img
          src="./assets/images/app-icons/google.svg"  alt="icon"> <span class="ml-2">Pay</span></button>
      </div>
    </div>-->

        <div class="form_row1 paypal-box px-3 mx-1 mb-3" *ngIf="showCartInfo && processWithGpay && topup_no==''">
            <div id="google-button-container" class="google-button-container">
                <button mat-button class="btn-block Goolgepaybutton" (click)="setupGooglePayAndroidButton()"><img
          src="./assets/images/app-icons/google.svg"  alt="icon"> <span class="ml-2">Pay</span></button>
            </div>
        </div>


        <div class="form_row1 paypal-box px-3 mx-1 mb-3" *ngIf="showCartInfo && processWithApplepay && topup_no==''">
            <!--<div class="form_row1 paypal-box px-3 mx-1 mb-3" *ngIf="showCartInfo && processWithApplepay && topup_no=='' && !hideApplepay">-->
            <div id="apple-button-container" class="apple-button-container">
                <apple-pay-button buttonstyle="black" type="pay" (click)="processApplePay()"></apple-pay-button>
            </div>
        </div>

        <div class="note pb-3">
            <div>
                <img src="assets/images/app-icons/ssl-lock.png" alt="icon">
            </div>
            <div>Its Safe, Secure and easy ! Your information is encrypted Using proprietary and secure socket layer ( SSL ) Technology
            </div>





        </div>
    </div>
</div>

<a href="javascript:void(0)" (click)="returnPaymentResp()" style="display:none" id="auto_trigger">Click here for </a>
<a href="javascript:void(0)" (click)="showCardEdit()" style="display:none" id="error_trigger"></a>
<!-- Amount recharge new customer end-->

<div id="mybraintreeDiv" class="payment__box">
    <div id="el" style="    position: absolute;
  z-index: 9999;
  width: auto;
  background-color: #fff;
  left: 0%;
  top: 20%;
  right: 0;"></div>
</div>


<!-- <div id="mybraintreeDiv" style="position:absolute; width:100%;height:100%; z-index:9999;">
  <div id="el" style="position:absolute; z-index:9999; width:auto; background-color:#fff;height:auto; left:0%;top:20%;"></div>
</div> -->