.thankyou-area {
    min-height: 100vh;
    background-image: url("../../assets/images/imgpsh_fullsize_anim.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    color: #071c39;
    font-size: 40px;
    font-weight: 300;
}

.note {
    color: #071c39;
    text-align: center;
    font-weight: 500;
}

.ok-img {
    margin: auto;
    display: block;
    padding-top: 20%;
    padding-bottom: 20%;
}

.button-wrapper {
    position: absolute;
    left: 40px;
    right: 40px;
    margin: auto;
    text-align: center;
    bottom: 80px;
    button {
        width: 100%;
        background-color: #223fc7;
        border: 0;
        color: #fff;
    }
}