<div class="thankyou-area">
    <img src="./assets/images/imgpsh_fullsize_anim_ok.png" alt="thankyou" class="img-fluid ok-img">
    <div class="title">Thank You</div>
    <div class="note">Purchase was successful</div>
    <div class="button-wrapper">
        <button class="btn" (click)="showThankYou()" mat-button>DONE</button>
    </div>
</div>