<!-- <div class="first_fold">
  <h1 class="heading_style1">
    Mobile Topup<br />
    <span>Send Minutes to your loved ones.</span>
  </h1>
  <div class="home_banner mobileterms_banner"> -->
<!-- <img src="assets/images/banner_image.png" alt="banner"> -->
<!--   </div>
</div>

<div class="commonWrapperArea mobileTopup">
  <div class="commonWrapperAreaShadowArea">
    <div class="coverShadow"></div>
  </div>
  <h3>Send minutes to mobiles from anywhere to anyone</h3>
  <p class="headerText">We deliver airtime to any prepaid phone in the world, instantly and securely.</p>

  <div class="virtual1Form">
    <form class="example-form" [formGroup]="mobileTopupForm" (ngSubmit)='onMobileTopupFormSubmit()'>
      <div class="row">
        <div class="col-sm-12"> -->
<!-- <mat-form-field>
            <mat-select placeholder="Select Country" formControlName="countryTo">
              <mat-option *ngFor="let country of allCountry" [value]="country">
                {{ country.CountryName }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
<!-- <mat-form-field>
            <input matInput placeholder="Select Country" type="text" [matAutocomplete]="auto"
              formControlName="countryTo">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let country of filteredCountry  | async" [value]="country">
                <span>
                  <img src="assets/images/blank.gif" [ngClass]="'flag flag-'+ country.CountryId"
                    [alt]="country.CountryName" />
                </span>
                {{country.CountryName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <p class="label">Phone Number</p>

          <span class="floatRight forgetPass" *ngIf="isTopUpEnable">
            <a tabindex="3" (click)="changeNumber()">Change Number?</a></span>
          <mat-form-field class="example-full-width">
            <span matPrefix
              *ngIf="this.mobileTopupForm.get('countryTo').value?.CountryCode">+{{this.mobileTopupForm.get('countryTo').value?.CountryCode}}
              &nbsp;</span>

            <input type="tel" matInput formControlName="phoneNumber">
          </mat-form-field>
          <p class="numberXX">+971 5299XXXXX</p>
          <mat-error *ngIf="mobileTopupForm.get('phoneNumber').errors?.Invalid_Operator">
            Top-up to this number is not available at this time.
          </mat-error>
        </div>

        <div class="col-sm-12" *ngIf="mobileTopupData">
          <p class="label">Operator</p>
          <div class="oparationImg">
            <img class="imgStyle" [src]="operatorImage" alt="" />
          </div>
        </div>
        <div class="col-sm-12 formRowM15">
          <p class="label" *ngIf="mobileTopupData">Amount</p>
          <div class="input_holder1">
            <div class="radio_checkbox_wraper1">
              <mat-radio-group formControlName="topUpAmount">
                <mat-radio-button *ngFor="let item of mobileTopupData?.OperatorDenominations; let i = index"
                  [value]="item">$ {{item.UsDenomination}}</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="mobileTopupForm.get('topUpAmount').errors?.Amount_Req && mobileTopupData">
                Amount is required.
              </mat-error>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="amountSent" *ngIf="mobileTopupForm.get('topUpAmount').value">
            <p>Amount Sent: {{mobileTopupForm.get('topUpAmount').value?.DestinationCurrency}}
              {{mobileTopupForm.get('topUpAmount').value?.DestinationAmount}} </p>
          </div>
        </div>
      </div>
      <button mat-button class="submitButtonSmall">{{buttonText}}</button>
    </form>
  </div>

</div> -->

<!-- New mobile topup section start here -->

<div class="mobile-topup-wrapper">
  <div class="top-banner hideinMobile">
    <div class="title-wrapper">
      <h1>Mobile Topup</h1>
      <p>Send Minutes to your loved ones.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 mt-5 mt-lg-0 mt-md-0">
        <div class="form-wrapper">
          <form
            class="example-form mobileTopup"
            [formGroup]="mobileTopupForm"
            (ngSubmit)="onMobileTopupFormSubmit()"
          >
            <p class="form-desc">
              Top up any International prepaid phone to over 200 countries.
            </p>

            <mat-form-field class="example-full-width">
              <mat-label class="font-weight-bold text-dark"
                >Choose Country</mat-label
              >

              <span
                *ngIf="mycountryId > 0"
                matPrefix
                class="prefix-mobiletopup"
              >
                <img
                  src="assets/images/blank.gif"
                  [ngClass]="'flag flag-' + mycountryId"
                />
              </span>
              <input
                matInput
                type="text"
                [matAutocomplete]="auto"
                formControlName="countryTo"
                (keyup)="unsetFlag()" class="ml-2"
              />
              <mat-icon matPrefix *ngIf="mycountryId <= 0">public</mat-icon>

              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let country of filteredCountry | async"
                  [value]="country"
                  (click)="onSelectCountrFrom(country)"
                >
                  <span class="mr-2">
                    <img
                      src="assets/images/blank.gif"
                      [ngClass]="'flag flag-' + country.CountryId"
                      [alt]="country.CountryName" 
                    />
                  </span>
                  {{ country.CountryName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width">
    <mat-label>Enter Number</mat-label>
    <input matInput #message maxlength="256" placeholder="" type="tel" matInput formControlName="phoneNumber">
    <mat-icon matPrefix> stay_primary_portrait</mat-icon>
	<p class="numberXX">+971 5299XXXXX</p>
          <mat-error *ngIf="mobileTopupForm.get('phoneNumber').errors?.Invalid_Operator">
            Top-up to this number is not available at this time.
          </mat-error>
  </mat-form-field>-->

            <mat-form-field
              class="example-full-width input-number"
            >
              <mat-label class="font-weight-bold text-dark"
                >Enter Number</mat-label
              >
              <mat-icon matPrefix> stay_primary_portrait</mat-icon>
              <span
                matPrefix
                class="prefix-mobiletopup"
                *ngIf="this.mobileTopupForm.get('countryTo').value?.CountryCode"
                >+{{ this.mobileTopupForm.get("countryTo").value?.CountryCode }}
              </span>

              <input type="tel" matInput formControlName="phoneNumber" class="ml-2"/>
              <span class="floatRight forgetPass" *ngIf="isTopUpEnable">
                <a tabindex="3" (click)="changeNumber()"
                  >Change Number?</a
                ></span
              >
            </mat-form-field>
            <!--<p class="numberXX">+971 5299XXXXX</p>-->
            <mat-error
              *ngIf="
                mobileTopupForm.get('phoneNumber').errors?.Invalid_Operator
              "
            >
              Top-up to this number is not available at this time.
            </mat-error>

            <div class="col-sm-12" *ngIf="mobileTopupData">
              <p class="label">Operator</p>
              <div class="oparationImg">
                <img class="imgStyle" [src]="operatorImage" alt="" />
              </div>
            </div>
            <div class="col-sm-12 formRowM15">
              <p class="label" *ngIf="mobileTopupData">Amount</p>
              <div class="input_holder1">
                <div class="radio_checkbox_wraper1">
                  <mat-radio-group formControlName="topUpAmount">
                    <mat-radio-button
                      *ngFor="
                        let item of mobileTopupData?.OperatorDenominations;
                        let i = index
                      "
                      [value]="item"
                      >$ {{ item.UsDenomination }}</mat-radio-button
                    >
                  </mat-radio-group>
                  <mat-error
                    *ngIf="
                      mobileTopupForm.get('topUpAmount').errors?.Amount_Req &&
                      mobileTopupData
                    "
                  >
                    Amount is required.
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div
                class="amountSent"
                *ngIf="mobileTopupForm.get('topUpAmount').value"
              >
                <p>
                  Amount Sent:
                  {{
                    mobileTopupForm.get("topUpAmount").value
                      ?.DestinationCurrency
                  }}
                  {{
                    mobileTopupForm.get("topUpAmount").value?.DestinationAmount
                  }}
                </p>
              </div>
            </div>
            <!--<a mat-button href="#" class="submit-btn">SUBMIT</a>-->

            <div class="button-wrapper">
              <button mat-button class="submit-btn">{{ buttonText }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
