.hideinMobile {
  display: block;
}

.showInmobile {
  display: none;
}

.mat-toolbar {
  background: none;
}

.nobg {
  background: none;
  cursor: pointer;
  border: none;
}

.commonWrapperArea {
  padding: 30px 7%;
}

.commonWrapperArea p.label {
  color: #103F8A;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.commonWrapperArea p.label span {
  display: block;
  font-size: 12px;
  color: #808080;
}

.commonWrapperArea p.price {
  color: #103F8A;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 25px;
}

.commonWrapperArea p.price span {
  font-size: 12px;
  color: #808080;
  line-height: 12px;
}

p.numberXX {
  color: #919EAE;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: -33px;
}

.oparationImg {
  margin: 15px 0;
}

.imgStyle {
  width: 60px;
}

.radio_checkbox_wraper1 {
  margin: 25px 0;
}

.virtual1Form {
  background: #F6F8FA;
  padding: 40px;
  position: relative;
  width: 620px;
}

.commonWrapperArea h3,
.commonWrapperArea p.headerText {
  font-weight: 300;
}

.amountSent {
  border: 1px solid #ccc;
  padding: 60px;
  margin: 0 0 30px 0;
}

.amountSent p {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .hideinMobile {
    display: none;
  }
  .showInmobile {
    display: block;
  }
  .three_service {
    height: 360px;
  }
  .virtual1Form {
    width: auto;
    margin: 25px auto 0;
    padding: 40px 20px;
  }
  .commonWrapperArea h3 {
    font-size: 19px;
  }
  .commonWrapperArea {
    padding: 30px 12px;
  }
  .commonWrapperArea p.headerText {
    font-size: 12px;
    line-height: 20px;
  }
  .virtualNumberList h4 {
    font-size: 19px;
  }
  .mobileTopup .mat-radio-button {
    margin-right: 10px !important;
  }
}

.forgetPass {
  position: absolute;
  right: 15px;
  font-size: 12px;
  top: 15px;
  color: #0A1F3F;
  z-index: 2;
}

.forgetPass a {
  color: #0B3D8D;
}

::ng-deep .mat-input-element:disabled {
  color: #212529 !important;
}

@media only screen and (max-width: 675px) {
  .home_banner.mobileterms_banner {
    height: 550px !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.mobile-topup-wrapper {
  background-color: #ebfffc;
  padding-bottom: 30px;
}

.mobile-topup-wrapper .col-lg-8 {
  margin: auto;
}

.mobile-topup-wrapper .top-banner {
  padding: 0;
  margin: 0;
  width: 100%;
  background: url("/assets/images/deals/mobiletopup-bg.png") center 100% no-repeat;
  height: 550px;
  background-size: cover;
  position: relative;
}

.mobile-topup-wrapper .top-banner .title-wrapper {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.mobile-topup-wrapper .top-banner .title-wrapper h1 {
  font-size: 44px;
}

.mobile-topup-wrapper .top-banner .title-wrapper h1,
.mobile-topup-wrapper .top-banner .title-wrapper p {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}

.mobile-topup-wrapper .top-banner .title-wrapper p {
  font-size: 35px;
}

.mobile-topup-wrapper .form-wrapper {
  border: 2px solid #000;
  padding: 60px 100px 50px;
}

.mobile-topup-wrapper .form-wrapper span.prefix-mobiletopup {
  margin-top: -10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.mobile-topup-wrapper .form-wrapper .mat-form-field-infix .mat-form-field-label {
  font-size: 18px;
  letter-spacing: 0px;
  color: #000 !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif;
}

.mobile-topup-wrapper .form-wrapper p {
  font-weight: 600;
}

.mobile-topup-wrapper .form-wrapper .form-desc {
  position: absolute;
  top: -11px;
  background: #ebfffc;
  padding: 0 10px;
  font-size: 18px;
  text-align: center;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 600;
}

.mobile-topup-wrapper .form-wrapper .button-wrapper {
  text-align: center;
}

.mobile-topup-wrapper .form-wrapper .button-wrapper .submit-btn {
  background: #F4CB26;
  padding: 10px 50px;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
  border: none;
  text-decoration: none;
}

.mobile-topup-wrapper .form-wrapper .button-wrapper .submit-btn:hover {
  background-color: #f4d24c;
}

.mobile-topup-wrapper .form-wrapper mat-form-field {
  margin-bottom: 50px;
  position: relative;
}

.mobile-topup-wrapper .form-wrapper .example-form {
  min-width: 100%;
  max-width: 100%;
}

.mobile-topup-wrapper .form-wrapper input.mat-input-element {
  margin-top: 8px;
  margin-bottom: 4px;
}

.mobile-topup-wrapper .form-wrapper .example-full-width {
  width: 100%;
}

.mobile-topup-wrapper .form-wrapper .mat-form-field-infix {
  margin-left: 10px;
}

.mobile-topup-wrapper .form-wrapper mat-icon {
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {
  .form-wrapper {
    padding: 30px !important;
  }
  .example-form {
    min-width: 100%;
    max-width: 100%;
    margin-top: 100px;
  }
  .form-wrapper .form-desc {
    font-size: 16px;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .top-banner {
    height: 550px !important;
    background-position: 0% !important;
  }
  .mobile-topup-wrapper .container {
    margin-top: 50px;
  }
  .title-wrapper h1 {
    font-size: 36px !important;
  }
  .title-wrapper p {
    font-size: 22px !important;
    font-weight: 500 !important;
  }
  .forgetPass {
    position: absolute;
    right: 0;
    bottom: -20px;
    top: unset;
  }
}

@media only screen and (max-width: 1366px) {
  .top-banner {
    height: 550px !important;
    background-position: 0% !important;
  }
  .mobile-topup-wrapper .container {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=mobiletopup.component.css.map */