<div class="confirmation pb-3" >
    <h1 mat-dialog-title>OOPS</h1>
<div mat-dialog-content>Top-Up to this country is unavailable.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn-close px-5" (click)="closeIcon()"  mat-dialog-close>OK</button>
</div>
</div>