.mobile-deal-wrapper {
  padding: 100px 0 50px;
}

.mobile-deal-wrapper .deal-box {
  background-color: #f0f0f0;
  max-height: 450px;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
  border: 2px solid #0071e300;
  overflow: hidden;
}

.mobile-deal-wrapper .deal-box:hover {
  border-color: #0071e3;
}

.mobile-deal-wrapper .deal-box:nth-child(3) h1 {
  margin-top: 30px;
  position: relative;
}

.mobile-deal-wrapper .deal-box:nth-child(3) h1:before {
  content: "Get up to";
  font-size: 18px;
  position: absolute;
  top: -27px;
  background: #000;
  color: #fff;
  padding: 5px;
}

.mobile-deal-wrapper .deal-box .btn-wrapper .learn-more {
  position: relative;
}

.mobile-deal-wrapper .deal-box .btn-wrapper .learn-more:after {
  font-family: "Material Icons";
  content: "keyboard_arrow_right";
  -webkit-font-feature-settings: "liga";
  font-size: 24px;
  position: absolute;
  top: -9px;
}

.mobile-deal-wrapper .deal-box .btn-wrapper .buy-now {
  background-color: #0071e3;
  padding: 0px 20px;
  border-radius: 20px;
  color: #fff;
}

.mobile-deal-wrapper .deal-box .btn-wrapper a {
  margin-left: 20px;
  color: #0066cc;
  text-decoration: none;
}

.mobile-deal-wrapper .deal-box .content-part {
  width: 100%;
  text-align: center;
}

.mobile-deal-wrapper .deal-box .content-part h1,
.mobile-deal-wrapper .deal-box .content-part p {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.mobile-deal-wrapper .deal-box .content-part h1 {
  font-weight: 600;
}

.mobile-deal-wrapper .deal-box .content-part p {
  font-weight: 300;
  font-size: 18px;
}

.mobile-deal-wrapper .deal-box .img-part {
  text-align: right;
  width: 100%;
}

.mobile-deal-wrapper .deal-box .img-part img {
  height: auto;
  max-width: 100%;
}

.mobile-deal-wrapper .deal-box:nth-child(even) .content-part {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (min-width: 768px) {
  .deal-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-part {
    width: 50%;
  }
  .content-part h1 {
    font-size: 3rem;
  }
  .img-part {
    width: 50%;
  }
  .btn-wrapper a {
    margin-left: 0 !important;
  }
  .btn-wrapper .learn-more {
    margin-left: 20px !important;
  }
  .content-part {
    text-align: left !important;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=mobiledeals.component.css.map */