// deals tab css start here

.mobile-deal-wrapper {
  padding: 100px 0 50px;

  .deal-box {
    // display: flex;
    background-color: #f0f0f0;
    max-height: 450px;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    border: 2px solid #0071e300;
    overflow: hidden;

    &:hover {
      border-color: #0071e3;
    }


    &:nth-child(3) h1 {
      margin-top: 30px;
      position: relative;

      &:before {
        content: "Get up to";
        font-size: 18px;
        position: absolute;
        top: -27px;
        background: #000;
        color: #fff;
        padding: 5px;
      }
    }

    .btn-wrapper{

    .learn-more {
      position: relative;

      &:after {
        font-family: "Material Icons";
        content: "keyboard_arrow_right";
        -webkit-font-feature-settings: "liga";
        font-size: 24px;
        position: absolute;
        top: -9px;
      }
    }


    .buy-now {
      background-color: #0071e3;
      padding: 0px 20px;
      border-radius: 20px;
      color: #fff;
    }

    a {
      margin-left: 20px;
      color: #0066cc;
      text-decoration: none;


    }
}


    .content-part {
      width: 100%;
      text-align: center;

      h1,
      p {
        font-family: "Montserrat", sans-serif;
        color: #000;
      }

      h1 {
        font-weight: 600;
      }

      p {
        font-weight: 300;
        font-size: 18px;
      }
    }

    .img-part {
      text-align: right;
      width: 100%;

      img {
        height: auto;
        max-width: 100%;
      }
    }
    &:nth-child(even) .content-part{

    order: 2;
   }
  }


}



@media only screen and (min-width: 768px){
	.deal-box {
    display: flex;
    align-items: center;
}


.content-part {
    width: 50%;
}
.content-part h1{
	font-size: 3rem;
}

.img-part {
    width: 50%;
}
.btn-wrapper a{
margin-left: 0!important;
}
.btn-wrapper .learn-more{
margin-left: 20px!important;
}
.content-part {
      text-align: left!important;
      margin-left: 20px;

	}

}

