
<div class="first_fold">



<div class="home_textarea">
  <h1>404</h1>
  <p class="oopsText">oops! page not found</p> 
  <p>Perhaps you can try to refresh the page, sometimes it works</p>
</div>
<div class="home_banner page404_banner ">
    <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
</div>
</div>
