.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.example-radio-group {
	display: block;
	border: 1px solid #555;
	margin: 20px;
	padding: 10px;
}
.mat-toolbar {
	background: none;
}
.nobg {
	background: none;
	cursor: pointer;
	border: none;
}
.colorWhite {
	color: #0B203E;
}
.mat-radio-button {
	padding-right: 6px;
}
.header_style {
	background: #fff;
}
.rechare_block {
	padding: 60px 0;
	margin: 0;
	width: 100%;
	background-color: #f6f8fa;
	label {
		display: block;
		color: #103F8A;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
	}
	.mat-form-field {
		display: block !important;
	}
}
.heading_style4 {
	padding: 0;
	margin: 0 0 25px 0;
	color: #0b203e;
	font-size: 24px;
	text-align: center;
	position: relative;
	&:after {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 1px;
		background-color: #0b203e;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		content: "";
	}
	span {
		padding: 0 15px;
		margin: 0 auto;
		display: inline-block;
		background-color: #f6f8fa;
		position: relative;
		z-index: 2;
	}
}
h2 {
	&.heading_style4 {
		span {
			font-family: 'Montserrat', sans-serif;
			font-size: 24px;
			color: #0B203E;
			font-size: 24px;
			text-align: center;
		}
	}
}
.form_holder {
	padding: 30px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 2px 10px #456D99;
	box-shadow: 1px 3px 21px #ddd;
	-moz-box-shadow: 1px 3px 21px #ddd;
	-webkit-box-shadow: 1px 3px 21px #ddd;
	padding: 0px 0px 15px 0 !important;
	& > *:last-child {
		margin-bottom: 0;
	}
	& > div {
		&:nth-last-of-type(2) {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #e4e9ee;
		}
	}
	input {
		&.mat-input-element {
			height: 25px;
		}
	}
}
.form_row1 {
	padding: 0;
	margin: 0 0 15px 0;
}
.input_holder1 {
	padding: 0;
	margin: 0;
	width: 100%;
}
.input_style1 {
	padding: 0 15px;
	margin: 0;
	width: 100%;
	height: 40px;
	border: 1px solid #9ba7b6;
	outline: none!important;
	color: #9ba7b6;
	font-size: 14px;
}
.form_label1 {
	padding: 0;
	margin: 0 0 5px 0;
	color: #103F8A;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	a {
		padding: 0;
		margin: 0;
		color: #0b203e;
		font-size: 12px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.form_row2 {
	padding: 0;
	margin: 0;
	width: 75%;
}
.form_row3 {
	padding: 0;
	margin: 0;
	width: 20%;
}
.submit_btn1 {
	padding: 0;
	margin: 0 10%;
	width: 80%;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	background-color: #f4d03c;
	color: #233651;
	font-size: 14px;
	&:hover {
		background-color: #233651;
		color: #f4d03c;
	}
}
.cardRowLeft {
	float: left;
	width: 60%;
	margin-right: 5%;
}
.cardRowRight {
	float: left;
	width: 35%;
}
.floatRight {
	float: right;
}
.forgetPass {
	font-size: 11px;
	color: #103F8A;
}
.cardRow {
	padding: 0 15px;
	display: block;
	clear: both;
	overflow: hidden;
}
.radio_checkbox_wraper1 {
	padding: 0;
	margin: 0 0 15px 0;
	width: 100%;
	& > *:last-child {
		margin-right: 0;
	}
}
.radiobutton_holder1 {
	padding: 0;
	margin: 0 5px 0 0;
	position: relative;
	display: inline-block;
	input[type="radio"] {
		margin: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		& + label {
			padding: 0 0 0 30px;
			margin: 0;
			color: #8c8c8c;
			font-size: 14px;
			cursor: pointer;
			&:before {
				padding: 0;
				margin: 0;
				width: 20px;
				height: 20px;
				background-color: #fff;
				border: 1px solid #a1acb9;
				border-radius: 100%;
				position: absolute;
				left: 0;
				top: 3px;
				font-size: 0;
				text-align: center;
				content: "";
			}
			&:after {
				padding: 0;
				margin: 0;
				position: absolute;
				left: 4px;
				top: 12px;
				font-size: 30px;
				line-height: 0;
				text-align: center;
				content: "\2022";
				opacity: 0;
				transform: scale(0);
				-webkit-transform: scale(0);
				transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0s;
				color: #a1acb9;
			}
		}
	}
	input[type="radio"]:checked {
		& + label {
			&:after {
				opacity: 1;
				transform: scale(1);
				-webkit-transform: scale(1);
				transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0s;
			}
		}
	}
}
.heading_style5 {
	padding: 0;
	margin: 45px 0 20px 0;
	color: #808080;
	font-size: 16px;
	text-align: center;
	position: relative;
	line-height: 24px;
	font-family: 'Montserrat', sans-serif;
}
.login_link {
	padding: 0;
	margin: 0 25% 30px 25%;
	width: 50%;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 20px;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #f4d03c;
	color: #233651;
	font-size: 14px;
	display: block;
	&:hover {
		background-color: #233651;
		color: #f4d03c;
		text-decoration: none;
	}
}
.heading_style6 {
	padding: 0;
	margin: 0 0 30px 0;
	color: #0b203e;
	font-size: 24px;
	text-align: center;
	position: relative;
	&:after {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 1px;
		background-color: #979797;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		content: "";
	}
	span {
		padding: 0 15px;
		margin: 0 auto;
		display: inline-block;
		background-color: #f6f8fa;
		position: relative;
		z-index: 2;
	}
}
.heading_style7 {
	padding: 0;
	margin: 0 0 30px 0;
	color: #0B203E;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	text-align: center;
	position: relative;
	line-height: 27px;
}
.login_text {
	padding: 0;
	margin: 30px auto 0;
	width: 100%;
	display: block;
	color: #808080;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	width: 80%;
	a {
		color: #0061E8;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
h3 {
	&.heading_style6 {
		width: 150px;
		display: block;
		margin: 50px auto;
		span {
			font-family: 'Montserrat', sans-serif;
			font-size: 22px;
			color: #0B203E;
		}
	}
}
.mat-radio-label-content {
	color: #808080;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
.savedCard {
	padding: 5px 20px;
	border-bottom: 1px solid #eee;
}
.cardImg,.cardDetails {
	float: left;
}
.cardImg {
	padding: 30px 4px 0 15px;
}
.cardDetails {
	padding: 23px 4px 0 15px;
	width: 78%;
	p {
		&.cardNumber {
			font-family: 'Montserrat', sans-serif;
			color: #0B203E;
			font-size: 16px;
			margin-bottom: 10px;
		}
		&.cardExpires {
			font-family: 'Montserrat', sans-serif;
			color: #0B203E;
			font-size: 14px;
		}
		span {
			a {
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				color: #103F8A;
				float: right;
			}
		}
	}
}
.table {
	td {
		font-family: 'Montserrat', sans-serif;
		color: #808080;
		font-size: 16px;
		padding-left: 0px;
		padding-right: 0px;
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}
	tr {
		&.total {
			td {
				font-family: 'Montserrat', sans-serif;
				color: #0B203E;
				padding: 28px 0;
			}
		}
	}
}
a {
	&.redeemPromo {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		color: #0160E0;
		text-decoration: underline;
	}
}
.cvvCard {
	padding-left: 20px;
}
.cardOpacity {
	opacity: 0.5;
}
p {
	&.updateCard {
		color: #919EAE;
		font-size: 26px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		padding: 15px 0;
	}
	&.step {
		font-family: 'Montserrat', sans-serif;
		color: #969DA5;
		font-size: 14px;
		margin-bottom: 3px;
	}
	&.stepName {
		color: #969DA5;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
	}
	&.updateCard2 {
		color: #919EAE;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		margin-bottom: 0px;
	}
	&.paymentText {
		color: #0B3D8D;
		font-size: 26px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		font-weight: 600;
	}
}
.rechargeStepMain {
	clear: both;
	overflow: hidden;
	background: #fff;
	padding: 33px 0 21px 0;
}
.rechargeStep {
	width: 80%;
	display: block;
	margin: 0 auto;
}
.step1,.step2,.step3 {
	float: left;
	text-align: center;
	width: 33.33%;
}
.step1.active p.stepName,.step2.active p.stepName, .step3.active p.stepName {
	color: #0B203E;
}
.lock {
	position: absolute;
	right: 5px;
	top: 7px;
}
.i_icon {
	padding-left: 5px;
}
.form_holder5Row {
	padding: 15px 33px;
}
td {
	&.productNumber {
		color: #103F8A !important;
	}
}
.msgArea {
	padding: 15px 0;
	margin-top: 60px;
}
.orderNumberArea {
	background: #103F8A;
	height: 70px;
	padding: 25px 13px;
	p {
		color: #fff;
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		span {
			float: right;
		}
	}
}
.emailSent {
	background: #fff;
	padding: 10px;
	p {
		color: #808080;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
	}
}
.downloadApp {
	background: #fff;
	text-align: center;
	margin-top: 20px;
	padding: 44px 20px;
}
.live_chatarea {
	margin-top: 25px;
	padding: 20px 0;
	border-top: 1px solid #E2E7ED;
	border-bottom: 1px solid #E2E7ED;
	ul {
		list-style-type: none;
		clear: both;
		overflow: hidden;
		padding: 0;
		margin: 0;
		li {
			float: left;
			margin-right: 7%;
			a {
				color: #0160E0;
				font-size: 16px;
				font-family: 'Montserrat', sans-serif;
				span {
					padding: 0px 8px 0 0;
				}
			}
		}
	}
}
.paymentInfoMsg {
	background: #fff;
	width: 80%;
	margin: 0 auto;
	padding: 55px 0;
	text-align: center;
	h2 {
		color: #0B203E;
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		margin: 20px 0;
		font-weight: 600;
	}
	p {
		color: #808080;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		margin: 22px 0;
	}
}

  
  
  @media only screen and (max-width: 675px) { 
    .rechare_block{margin: 59px 0 0 0;}
    .paymentInfoMsg{ width: 99%;}
    .msgArea{ margin-top: 10px;}
  }