<!-- Amount denomination -->
<div class="bg-comman">
    <div class="main__wrapper">
        <div class="bg-top">
            <div class="d-flex align-items-center pt-4 justify-content-between">
                <button class="bg-icon-blue border-0 text-white" (click)="goBack('Back/Closed denomination page')">
          <span class="material-icons"> keyboard_arrow_left </span>
        </button>
                <h4 class="title_bold mb-0">BUY 1 GET 1</h4>
                <button class="bg-icon-blue border-0 text-white mr-2" (click)="closeApp('Back/Closed denomination page')">
          <span class="material-icons close-screen">close</span>
        </button>
            </div>
        </div>

        <div class="buy1getimg">
            <img src="../../../assets/images/promotion/bu1get1.png" alt="bu1get1">
        </div>



        <div class="section-wrapper shadow-common overflow-hidden mt-1 {{get_promotion_class()}}">
            <div class="card-wrapper payment-card">
                <div class="card-head border-0">
                    <div class="main-title">Amount</div>
                </div>

                <div class="card-content comman-padding denomination__rates pt-0">
                    <div class="denomination-wrapper"(click)="setCurrentPlan(2, 11)">
                        <div class="denomination comman-border radius-10 p-1 {{getClass(2)}}">
                            <div>
                                <mat-checkbox class="example-margin" [checked]="getChecked(2)" color="primary"></mat-checkbox>
                            </div>
                            <div class="denom_amount">Was $ 4
                                <p class="deal">$2</p>
                            </div>
                        </div>
                    </div>


                    <div class="denomination-wrapper"(click)="setCurrentPlan(3, 12)">
                        <div class="denomination comman-border radius-10 p-1 {{getClass(3)}}">
                            <div>
                                <mat-checkbox class="example-margin" [checked]="getChecked(3)" color="primary"></mat-checkbox>
                            </div>
                            <div class="denom_amount">Was $ 6
                                <p class="deal">$3</p>
                            </div>
                        </div>
                    </div>

                    <div class="denomination-wrapper"(click)="setCurrentPlan(5, 2)">
                        <div class="denomination comman-border radius-10 p-1 {{getClass(5)}}">
                            <div>
                                <mat-checkbox class="example-margin" [checked]="getChecked(5)" color="primary"></mat-checkbox>
                            </div>
                            <div class="denom_amount">Was $ 10
                                <p class="deal">$5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4" style=" margin-top: -8px;  ">
            <div class="row">
                <div class="col-12 px-0">
                    <button  class="btn btn-gradient btn-block" (click)="continue()" mat-button>CONTINUE</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Amount denomination end-->