<!-- Amount denomination -->



<div class="bg-comman">
  <div class="main__wrapper">
    <div class="bg-top bg-top-inners fixed-top" *ngIf="!step_one">
      <div class="d-flex align-items-center pt-4 justify-content-between align-items-center w-100">
        <button class="bg-icon-blue border-0 text-white" (click)="goBack()">
          <span class="material-icons"> keyboard_arrow_left </span>
        </button>
        <h4 class="title_bold_country mb-0" >Country Rates (Per Minute)</h4>
        <button class="bg-icon-blue border-0 text-white" (click)="closeApp()">
          <span class="material-icons close-screen">close</span>
        </button>
      </div>
    </div>

    <!-- <div class="bg-top bg-top-inners" *ngIf="step_one">
      <div class="d-flex align-items-center pt-4 justify-content-between align-items-center w-100">
        <button class="bg-icon-blue border-0 text-white" (click)="goBack()">
          <span class="material-icons"> keyboard_arrow_left </span>
        </button>
        <h4 class="title_bold mb-0">Recharge</h4>
       
        
        <button class="bg-icon-blue border-0 text-white" (click)="closeApp()">
          <span class="material-icons close-screen">close</span>
        </button>
      </div>
    </div> -->

    <div class="bg-top fixed-top" *ngIf="step_one">
      <div class="d-flex align-items-center pt-4 justify-content-between">
        <button class="bg-icon-blue border-0 text-white" (click)="goBack('Back/Closed denomination page')">
          <span class="material-icons"> keyboard_arrow_left </span>
        </button>
        <h4 class="title_bold mb-0">Recharge</h4>
        <button class="bg-icon-blue border-0 text-white" (click)="closeApp('Back/Closed denomination page')">
          <span class="material-icons close-screen">close</span>
        </button>
      </div>
    </div>
      <div class="container scroll-fixed" *ngIf="step_one">
        <div class="row comman-shadow mb-2 px-2 py-3 br-radius bg-white balance__amount">
          <div class="button-wraaper">  
            <button mat-button (click)="onChange()"  class="rounded-pill {{isAutorefill?'':'active-button'}}">Regular Min</button>
            <button mat-button (click)="onChange()"  class="rounded-pill {{isAutorefill?'active-button':''}}">Auto-Refill Min</button>
          </div>
          <div (click)="tooltip.toggle()"
                            aria-label="Show/Hide tooltip on the button at the end of this section"
                            class="example-action-button">

                            <svg fill="#2b4964" class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                width="18px" height="18px">
                                <path
                                    d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 7 L 11 9 L 13 9 L 13 7 L 11 7 z M 11 11 L 11 17 L 13 17 L 13 11 L 11 11 z" />
                            </svg>
                        </div>
                        <div #tooltip="matTooltip" matTooltip="Enroll to auto-refill and get 10% bonus on every recharge. We will recharge your plan only when the balance falls below $2." matTooltipPosition="above"
                            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                        </div>
        </div>
      </div>
    

      <div *ngIf="!step_one" class="search-wrapper">
        <div class="input-group">
  
        <input aria-label="State" id="searchInput" class="form-control" [matAutocomplete]="auto"
              [formControl]="autoControl" (focusout)="onClickInput()" (focus)="onInputFocus()"
              placeholder="Search Calling Rates">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
  
              <mat-option *ngFor="let option of filteredCountry | async" [value]="option"
                (onSelectionChange)="viewRates($event,option.CountryName)">
                <img class="example-option-img" src="assets/images/blank.gif" aria-hidden
                  [ngClass]="'flag flag-'+ option.CountryId" height="25">
                <span class="width70">{{option.CountryName}}&nbsp;(+{{option.CountryCode}})</span>
                 
              </mat-option>
            </mat-autocomplete>
            <div class="input-group-append">
              <span class="input-group-text" style="background: #0386ea;"><img [src]="searchicon" alt="" style="width: 30px;"
                  (click)="onClickClose(searchicon)"></span>
            </div>
          </div>
      </div>

    <div class="section-wrapper section__wrapper denomination__wrapper d-flex view-main-screen" *ngIf="!step_one" #mainScreen>
      
      <div class="left country" *ngIf="show_currency_rate">
        <div class="denomination__box" *ngFor="let item of currency_rate; let i = index; let last = last;">
          <!--<div (click)="select_to_country(item)" (mouseover)='overEvent(last, index)' (scroll)="onScroll($event)" > -->
            <div (click)="select_to_country(item)"> 
            <mat-checkbox class="example-margin">
              <div class="align-items-center country-wrapper d-flex justify-content-between" *ngIf="plan_currency_code =='INR'">
                <div class="price__deno">{{item.CountryToName}}</div>
                <div class="min"> </div>
             
                <div class="rates">
                  {{plans_list.CurrencySymbol}} {{currencyPrice(item.CallingRate)}}  </div>
 
                  
              </div>


              <div class="align-items-center country-wrapper d-flex justify-content-between" *ngIf="plan_currency_code !='INR'">
                <div class="price__deno">{{item.CountryToName}}</div>
                <div class="min"> </div>
             
                <div class="rates" *ngIf="item.CallingRate >= 100">
                  {{getPriceSymbol(item.CallingRate) }} {{currencyPrice1(item.CallingRate)}}  </div>

                  <div class="rates" *ngIf="item.CallingRate < 100">{{currencyPrice1(item.CallingRate)}} {{getPriceSymbol(item.CallingRate) }} </div>
                  
              </div>

              
            </mat-checkbox>
          </div>
        </div>
        <a *ngIf="alphabet!= 'Z'" class="more-btn" href="javascript:void(0)" (click)="overEvent(true)"><img src="assets/images/down-arrow.png"></a>
      </div>
      <div class="left" *ngIf="show_currency_rate">
        <ul class="alphabet">
          <li *ngFor="let item of alphabets; let i = index">
            <a href="javascript:void(0)" class="{{alphabet== item?'selected':''}}" (click)="changeAlphabet(item)">{{item}}</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="section-wrapper denomination__wrapper" *ngIf="step_one">



      <div class="denom-headig">
        <div>Amount</div>
        <div>Minutes</div>
        <div>Rate/Min.</div>
      </div>

      <div *ngFor="let item of planInfo; let i = index" >
        <div class="denomination__box" class="{{getSelectedClass(item.amount_usd)}}">
          <div (click)="onClickAmountOption(item.amount_usd)" >
            <mat-checkbox class="example-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="price__deno text-center"><span class="mr-1">{{plans_list.CurrencyCode}}</span> 
                  
                   
                  {{item.amount}} 
                  <div *ngIf="item.is_last == 'yes'" class="slice ml-4 pl-3">{{item.hundred_price}} </div>
                  
                </div>
                <div class="min">{{item.minutes}} <span>Min.</span> 
                  <!--<div *ngIf="item.is_last == 'yes'" class="small"> 10 % Bonus</div>-->
                </div>
                <div class="rates" *ngIf="plan_currency_code =='INR'" ><span>{{plans_list.CurrencySymbol}}{{item.rate_pm}}  </span>/min</div>
                <div class="rates" *ngIf="plan_currency_code !='INR'" ><span>{{item.rate_pm}} {{SubCurrencySymbol}} </span>/min</div>
              </div>
            </mat-checkbox>
          </div>
        </div>
        
      </div>
      <!--<div *ngIf="amount">
        <div class="button-wrapper my-3 mx-0">
          <button *ng-if="selectedAmount" class="btn btn-gradient btn-block" (click)="processRecharge()" mat-button>Continue</button>
          
        </div>
      </div>-->

      <div class="auto-recharge-wrapper mt-3" >
        <p>Disclaimer :- In few cases, your default currency will not be supported by a payment method directly. To solve this we convert the cost of your order automatically to prevailing major currency exchange rates.</p>


     </div>

    </div>
  </div>
</div>
 
<!-- Amount denomination end-->