.plan-info {
  display: -webkit-flex;
  padding: 25% 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.plan-info .text-section {
  width: 60%;
  position: absolute;
  margin: 50px 0;
  background: #fff;
  left: 15%;
  z-index: 1;
  padding: 30px;
  border: 1px solid #2172cb;
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
          box-shadow: 0px 0px 6px 0px #000000;
  border-radius: 10px;
  grid-gap: 50px;
}

.plan-info .text-section h1 {
  color: #0B203E;
  text-align: center;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.plan-info .text-section .text-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.plan-info .text-section p {
  color: #0160e0;
  font-size: 24px;
  margin: 0;
  padding: 30px 0;
  font-weight: 500;
  line-height: 1;
}

.plan-info .text-section p span {
  color: #8b8b8b;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.plan-info .text-section mat-list:last-child img {
  /* width: 50px; */
}

.plan-info .text-section mat-list:first-child img {
  width: 70px;
}

.plan-info .text-section mat-list:first-child img {
  margin-right: 50px;
}

.plan-info .text-section mat-list:last-child {
  text-align: right;
}

.plan-info .text-section mat-list:last-child mat-list-item img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 50px;
}

.plan-info .blue-section {
  width: 50%;
  text-align: right;
  background: #0160e0;
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 10px 0 0 10px;
  padding: 50px 0;
}

.plan-info .blue-section img {
  width: 45%;
}

.plan-info .mat-list-base .mat-list-item {
  height: unset;
}

.call-us {
  padding-top: 50px;
}

.call-us p {
  margin: 0;
}

.call-us span a {
  color: #0160e0;
}

@media only screen and (min-width: 100px) and (max-width: 1200px) {
  .plan-info {
    padding: 0;
    margin-bottom: 0;
  }
  .plan-info .text-section h1 {
    font-size: 26px;
  }
  .plan-info .blue-section img {
    max-width: 200px;
  }
  .plan-info .text-section {
    width: 100%;
    position: static;
    margin: auto;
    padding: 10px;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
  }
  .plan-info .text-section .text-part {
    display: block;
  }
  .plan-info .text-section p {
    font-size: 24px;
    font-weight: 400;
    padding: 20px 0 20px;
    line-height: 28px;
  }
  .plan-info .text-section p span {
    font-size: 18px;
    margin: 10px 0;
  }
  .plan-info .text-section mat-list:first-child img {
    margin-right: 20px;
  }
  .plan-info .text-section mat-list:last-child mat-list-item img {
    margin-left: 20px;
  }
  .plan-info .blue-section {
    position: static;
    width: 100%;
    padding: 0;
    text-align: center;
    margin: auto;
    border-radius: 0 0 10px 10px;
  }
  .plan-info .blue-section img {
    margin: 50px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .searchic {
    display: none;
  }
  .bg-shapes img:nth-child(1) {
    top: -50px;
    right: 80px;
  }
  .bg-shapes img:nth-child(2),
  .bg-shapes img:nth-child(3),
  .bg-shapes img:nth-child(4),
  .bg-shapes img:nth-child(5),
  .bg-shapes img:nth-child(6),
  .bg-shapes img:nth-child(7) {
    display: none;
  }
  .plan-info .text-section mat-list:last-child mat-list-item img {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .plan-info .text-section mat-list:last-child {
    text-align: left;
  }
  .plan-info .text-section mat-list:last-child mat-list-item img {
    margin-left: 0 !important;
    margin-right: 20px;
    width: 70px;
  }
  .call-us {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .search-main {
    padding: 30px 0px 0 !important;
  }
  .plan-info .mat-list-base .mat-list-item .mat-list-item-content {
    display: block;
    text-align: center;
    padding: 20px 5px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1200px) {
  .plan-info .text-section h1 {
    font-size: 26px;
  }
  .plan-info .text-section {
    width: 80%;
    position: static;
    margin: auto;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  .plan-info .text-section .text-part {
    display: block;
  }
  .plan-info .text-section p {
    font-size: 18px;
    padding: 20px 0;
  }
  .plan-info .text-section p span {
    font-size: 14px;
  }
  .plan-info .text-section mat-list:first-child img {
    margin-right: 20px;
  }
  .plan-info .text-section mat-list:last-child mat-list-item img {
    margin-left: 20px;
  }
  .plan-info .blue-section {
    position: static;
    width: 80%;
    padding: 0;
    text-align: center;
    margin: auto;
    border-radius: 0 0 10px 10px;
  }
  .plan-info .blue-section img {
    margin: 50px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .plan-info .text-section mat-list:last-child mat-list-item img {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .plan-info .text-section mat-list:last-child {
    text-align: left;
  }
  .plan-info .text-section mat-list:last-child mat-list-item img {
    margin-left: 0 !important;
    margin-right: 20px;
    width: 70px;
  }
  .call-us {
    padding-top: 0px;
  }
  .search-main {
    padding: 30px 0px 0 !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .plan-info .text-section mat-list:last-child mat-list-item img {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .plan-info .text-section mat-list:last-child {
    text-align: left;
  }
  .plan-info .text-section mat-list:last-child mat-list-item img {
    margin-left: 0 !important;
    margin-right: 20px;
    width: 70px;
  }
  .call-us {
    padding-top: 0px;
  }
  .search-main {
    padding: 30px 0px 0 !important;
  }
  .plan-info .text-section {
    width: 80%;
  }
  .plan-info .blue-section {
    position: static;
    width: 80%;
  }
}
/*# sourceMappingURL=this-plan-include.css.map */