.divider {
  width: 1px;
  background: #cacaca;
  height: 50px;
}

.card-header {
  padding: 20px;
  border-bottom: 1px solid #cacaca;
}

.card-header .header-title {
  font-size: 14px;
  font-weight: 700;
  color: #253853;
}

.card-header svg {
  height: 16px;
  width: 16px;
}

::ng-deep mat-bottom-sheet-container {
  border-radius: 20px 20px 0 0;
  padding: 0 !important;
}

.payment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cacaca;
  padding: 13px 0;
}

.option-logo {
  margin-right: 20px;
  width: 47px;
}

.details .amount {
  text-align: left;
  letter-spacing: 0px;
  color: #2B4964;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 300;
  margin-bottom: 13px;
}

.details .amount span {
  font-weight: 500;
}

.card-end {
  letter-spacing: 0px;
  color: #017DE9;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
}

.note {
  font-size: 11px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 14px;
  color: #6F6F6F;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}
/*# sourceMappingURL=bottom-apple-pay.component.css.map */