<!--<div class="bg-comman">
    <div class="main__wrapper">
      <div class="bg-top bg-top-inners fixed-top" >
        <div class="d-flex align-items-center pt-4 w-100">
          <button class="bg-icon-blue border-0 text-white">
            <span class="material-icons" (click)="goBack('Back/Closed denomination page')"  > keyboard_arrow_left </span>
          </button>
          <h4 class="title_bold_country mb-0" >Contact Us</h4>
        </div>
      </div>

      <section class="section-wrapper">
        <h3 class="text-center text-white">Hi there</h3>
        <div class="center-image">
          <img src="./assets/images/man-image.png" alt="" class="img-fluid">
        </div>
        <div class="description">
          Sorry you're having trouble, but not to worry. We will take care as quickly as possible.
          <br>
          <br>
          Choose one of the option below.
        </div>

        <div class="icon">
          <div *ngIf="phoneNumber !=''">
            <a href="tel:{{phoneNumber}}"><img src="./assets/images/cell-phone-svgrepo-com.svg" alt=""> </a>
            <p class="mt-2 text-white">CALL</p>
          </div>
          <div>
            <a href="mailto:support@raza.com,info@raza.com"><img src="./assets/images/email-svgrepo-com.svg" alt=""></a>
            <p class="mt-2 text-white">EMAIL</p>
          </div>
        </div>
      </section>




    </div>
    </div>-->


    <div class="header_about">
      <ul>
     <li>
      <button class="bg-icon-blue border-0 text-white">
        <span class="" (click)="goBack('Back/Closed denomination page')"><img src="./assets/images/new_app/arrow.png"> </span>
      </button>
      </li>
      <li>
      <h1>Contacts</h1>
      </li>
      </ul>
  </div>
  <section class="top_w_container">
    <div class="white_container">
        <h5>
          Hi there!
        </h5>
        <p>
          Sorry you're having trouble, but not to worry. We will take care 
          as quickly as possible.
        </p>
        <p class="mt-4">
          Choose one of the option below
        </p>
       <div class="button_contact">
        <ul>
          <li *ngIf="phoneNumber !=''" >
            <a href="tel:{{phoneNumber}}"><img src="./assets/images/new_app/contact_call.png " class="img_set">call</a>
          </li>
          <li>
            <a href="mailto:support@raza.com,info@raza.com"><img src="./assets/images/new_app/contact_message.png" class="img_set">mail</a>
          </li>
        </ul>
       </div>
       <img src="./assets/images/new_app/Contacts_raza.jpg">
        </div>
        </section>