@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
._hj_feedback_container {
    display: none !important;
}

.bg-blue {
    background: #0380e8;
    min-height: 100px;
}

.bg-blue1 {
    background: #0380e8;
    min-height: 60px;
}

.bg-icon-blue {
    background: transparent;
}

.title_bold {
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
}

.bg-icon-blue span {
    font-size: 36px;
    display: table;
}

.wallet-price {
    gap: 15px;
    border-radius: 18px;
    margin-top: -35px;
}

.msg {
    font-size: 14px;
    font-weight: 500;
    color: #253853;
}

.amount {
    font-size: 36px;
    font-weight: 600;
    color: #253853;
}

.comman-shadow {
    box-shadow: 0px 1px 7px #d2d2d2;
}

.title {
    color: #253853;
    font-size: 16px;
    font-weight: 600;
}

.checkbox-wraper p {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin: 0;
    color: #253853;
}

.checkbox-wraper {
    min-width: 45%;
    border: 1px solid #d8e3eb;
    border-radius: 10px;
    padding: 10px 0;
}

.checkbox-main {
    gap: 21px;
    margin: 0 15px;
}

.br-radius {
    border-radius: 18px;
}

.payment-type img {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.payment-type p {
    color: #253853;
    font-weight: 600;
}

.payment-type {
    gap: 20px;
    min-width: 47%;
}

.price span {
    color: #2b4964;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 14px;
}

.price {
    color: #253853;
    font-size: 14px;
    font-weight: 400;
}

.btn-gradient {
    border-radius: 6px;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    background: #2140C7;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

::ng-deep {
    .mat-radio-label {
        margin-bottom: 0;
    }
}

.main__wrapper {
    min-height: 100vh;
    background-image: url("../../../assets/images/mobileview.png");
    background-size: cover;
    background-repeat: no-repeat;
}

// new scss start here
.bg-top {
    background-image: url("../../../assets/images/bg_app.png");
    min-height: 116px;
    background-size: cover;
}

.balance {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    line-height: 20px;
    margin-top: 12px;
}

.balance span {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
}

.price_box {
    display: flex;
    justify-content: space-between;
    border: 2px solid #edecec;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.rchge_amount {
    color: #3b4d65;
    font-size: 18px;
    font-weight: 600;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.rchge_label {
    color: #d8d8d8;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.checked .rchge_label {
    color: #04a2f6;
}

.price_box.checked {
    border-color: #f45237;
}

.rchge_label mat-icon {
    height: 14px;
    width: 14px;
    font-size: 14px;
}

::ng-deep {
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: #01a0f6;
    }
    .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: #01a0f6;
    }
    button.mat-tooltip-trigger {
        background: #01a0f6;
        border: 0;
        color: #fff;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        margin-left: 20px;
    }
    .cvv .mat-form-field-appearance-legacy .mat-form-field-underline,
    .add-card .mat-form-field-appearance-legacy .mat-form-field-underline,
    .billing-details .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: rgb(222 226 230);
    }
}

.add-card mat-label {
    color: #243752;
    font-weight: 500;
    letter-spacing: 2px;
}

.autorecharge {
    font-size: 16px;
    color: #20344f;
    font-weight: 700;
}

.bg-top.bg-top-inner {
    min-height: 61px;
    display: flex;
}

.bg-top-inner .title_bold {
    margin: 0;
    font-size: 18px;
}

.page-title h3 {
    text-align: center;
    font-weight: 800;
    margin-top: 40px;
    color: #243752;
}

.card-name {
    font-size: 18px;
    color: #243752;
    font-weight: 500;
}

.edit {
    color: #4fb1f3;
    font-size: 14px;
    font-weight: 500;
}

.card-type img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.card-details {
    margin-left: 16px;
}

.card-details p {
    color: #243752;
    font-weight: 500;
}

.ssl_msg {
    color: #243752;
    font-size: 8px;
    font-weight: 500;
    margin: 0;
    padding: 10px 0;
    line-height: 14px;
}

.billing-details mat-label {
    color: #243752;
    font-weight: 500;
    font-size: 14px;
}

input {
    color: #243752;
    font-weight: 500;
}

// new design css start here
input {
    color: #253853;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.shadow-common {
    box-shadow: 3px 3px 6px #00000014;
    border-radius: 20px;
}

.main-title {
    letter-spacing: 0.26px;
    color: #253853;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.card-wrapper {
    padding: 18px 0;
    background: #fff;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 18px;
}

.section-wrapper {
    padding: 90px 20px 20px 20px;
}

.section-wrapper.section__wrapper {
    margin: 20px!important;
}

.main-title {
    padding-left: 18px;
}

.card-img {
    padding-right: 18px;
}

.comman-padding {
    padding: 18px;
}

.card-content label {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #8d8d8d;
    margin-bottom: 7px;
}

.gap-10 {
    gap: 10px;
}

.what-cvv {
    color: #8d8d8d;
    font-size: 7px;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
}

.save-card {
    color: #454545;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 500;
}

::ng-deep {
    .card-content .mat-checkbox-background,
    .card-content .mat-checkbox-frame {
        border-radius: 50px;
    }
    .card-content .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
    .card-content .mat-checkbox-checked.mat-primary .mat-checkbox-background {
        background-color: #0996f6;
    }
}

.note {
    display: flex;
    margin: 0 20px;
    font-size: 10px;
    color: #2b4964;
    padding: 19px 10px;
    font-family: "ROBOTO";
    line-height: 14px;
}

.note img {
    margin-right: 10px;
}

.card-type {
    position: absolute;
    height: 24px;
    width: 24px;
    object-fit: contain;
    right: 10px;
    top: 50%;
}

.card__img img {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.card-label {
    color: #8d8d8d;
    font-size: 10px;
    font-family: "Roboto";
    margin-bottom: 3px;
}

.card-number {
    color: #253853;
    font-size: 13px;
    font-weight: 500;
    font-family: "ROBOTO";
}

::ng-depp {
    label.mat-checkbox-layout {
        margin-bottom: 0;
    }
}

.edit-card {
    border-bottom: 1px solid #e0e0e0;
    padding: 18px 0;
    align-items: center;
}

img.card-img {
    height: 18px;
    width: 34px;
    object-fit: contain;
}

.edit-card:last-child {
    border-bottom: 0;
}

.button-wrapper {
    margin: 0 20px;
}

.pr-18 {
    padding-right: 18px;
}

.card__img {
    display: flex;
    gap: 10px;
    align-items: center;
}

.selected {
    width: 16px;
    height: 16px;
    background: #0383e8;
    color: #FFFFFF !important;
    padding: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.non-selected {
    border: 1px solid #0482e8;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.card-content .table td,
.table th {
    padding: 1.2rem 0;
}

.summary tr td:first-child {
    color: #8d8d8d;
    font-size: 12px;
    font-family: "ROBOTO";
}

.summary tr td {
    vertical-align: middle;
}

.summary tr td:last-child {
    color: #253853;
    font-size: 13px;
    font-weight: 500;
    font-family: "ROBOTO";
    text-align: right;
}

.summary tr:first-child td {
    border-top: 0;
}

::ng-deep {
    .card-content .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #ebebeb;
    }
    .default-card .mat-checkbox-inner-container {
        height: 20px;
        width: 20px;
        background: #eef9ff;
        border-radius: 50%;
    }
    .payment-card .mat-checkbox-inner-container {
        height: 16px;
        width: 16px;
        background: #eef9ff;
        border-radius: 50%;
    }
    .default-card .mat-checkbox-layout {
        margin: 0;
    }
    .default-card .mat-checkbox-frame,
    .payment-card .mat-checkbox-frame {
        border-color: #0996f6;
        border-width: 1px !important;
    }
    .default-card .mat-checkbox-frame {
        border-radius: 50% !important;
    }
    .default-card .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 7px 0 14px 0;
    }
}

.form-control {
    padding: 1.32rem 0.75rem;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

.placeholder::placeholder {
    color: #bcbcbc;
    font-size: 11px;
    font-weight: 400;
}

.placeholder {
    padding-left: 23px !important;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #0996f6;
}

.gap-20 {
    gap: 20px;
}

.waller-amount-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    height: 52px;
}

.wallet-amount {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.wallet-icon {
    padding-left: 15px;
    border-right: 1px solid #dee2e6;
    padding-right: 20px;
    padding: 10px 20px 10px 15px;
}

.wallet-msg {
    font-size: 12px;
    color: #253853;
    font-weight: 400;
    font-family: "Roboto";
}

.wallet__amount {
    font-size: 50px;
    font-weight: 400;
    font-family: "Roboto";
    padding-right: 20px;
    position: relative;
}

.wallet__amount:before {
    content: "$";
    font-family: "Roboto";
    font: normal normal bold 18px/69px Roboto;
    letter-spacing: 0.36px;
    color: #253853;
    position: absolute;
    top: 0;
    left: -13px;
    top: -6px;
}

.balance__amount {
    margin-top: -34px;
}

.comman-border {
    border: 1px solid #d8e3eb;
}

.radius-10 {
    border-radius: 10px;
}

.radius-6 {
    border-radius: 6px;
}

.p-10 {
    padding: 10px;
}

.rechg_amount {
    font-size: 13px;
    font-weight: 500;
    color: #253853;
    font-family: "ROBOTO";
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.selected-dom {
    color: #fff;
    position: relative;
    border: 1px solid #0996f6;
}

.selected-dom p.deal {
    color: #fff;
    opacity: 1;
}

.selected-dom .rechg_amount {
    color: #253853;
}

.auto-recharge-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    background: #f2f2f2;
    padding: 16px 20px;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto";
    border: 1px solid #dddddd;
    border-radius: 6px;
}

.auto-rechage {
    display: flex;
    gap: 9px;
    align-items: center;
}

.auto-rechage p {
    color: #575757;
    font-size: 13px;
    font-weight: 500;
}

.cvv .form-group {
    max-width: 135px;
}

.cvv {
    display: flex;
    gap: 27px;
}

.label {
    color: #8d8d8d;
    opacity: 0.7;
    font-size: 12px;
}

.hint {
    font-size: 7px;
    color: #8d8d8d;
    text-decoration: underline;
    font-family: "Roboto";
}

.cards {
    padding: 6px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.cards img {
    width: 150px;
}

.edit__card {
    width: 85%;
}

.add_Card a {
    color: #253853;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 500;
}

.label_address {
    font-size: 14px;
}

.rechg_amount img {
    width: 59px;
    object-fit: contain;
}

.rechg_amount {
    min-width: 83px;
}

.dom {
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

::ng-deep {
    .dom .mat-checkbox {
        visibility: hidden;
        position: absolute;
        top: -10px;
        right: -8px;
    }
    .dom .mat-checkbox-inner-container {
        height: 16px !important;
        width: 16px !important;
    }
}

// denomination scss start here
.denom_amount {
    font-size: 20px;
    font-weight: 500;
    color: #253853;
    font-family: "ROBOTO";
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: auto;
}

.denomination-wrapper {
    flex: 1 0 45%;
}

.denomination__rates {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.selected-dom .denom_amount {
    color: #fff;
}

.selected-dom {
    background: #0996f6;
}

::ng-deep {
    .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
        background-color: #0386ea;
    }
    .denomination label {
        margin: 0;
        margin-left: 10px;
    }
    .denomination .mat-checkbox-inner-container {
        height: 12px !important;
        width: 12px !important;
    }
    .selected-dom mat-checkbox {
        position: absolute;
        top: -10px;
        right: -8px;
    }
    .selected-dom .mat-checkbox-inner-container {
        height: 16px !important;
        width: 16px !important;
    }
    .selected-dom .mat-checkbox-checked .mat-checkbox-checkmark {
        opacity: 1;
        height: 13px;
        width: 13px;
        margin: auto;
    }
    .new-customer .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 7px 0 9px 0;
    }
    .selected-dom .mat-checkbox-frame,
    .payment-card .mat-checkbox-frame {
        border-color: #0996f6;
        border-width: 1px !important;
    }
    .selected-dom .mat-checkbox-frame {
        border-radius: 50% !important;
    }
    .selected-dom .mat-checkbox-background {
        border-radius: 50px;
    }
    .selected-dom .mat-checkbox-checked.mat-primary .mat-checkbox-background {
        background-color: #0996f6 !important;
    }
}

.slice:after {
    content: "";
    width: 2px;
    height: 35px;
    background: red;
    position: absolute;
    left: 67%;
    transform: rotate(45deg);
    top: -6px;
}

.slice {
    position: relative;
}

p.deal {
    font-size: 10px;
    opacity: 0.4;
    font-family: "Roboto";
    color: #2b4964;
    margin: 0;
    // line-height: 4px;
    // padding-bottom: 10px;
}

.denomination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.auto-rechage .auto {
    border: 1px solid #2b4964;
    text-align: center;
    border-radius: 50%;
    color: #2b4964;
    font-size: 12px;
    padding: 2px 6px;
}

// new pages css start here
.recipient {
    text-align: left;
    letter-spacing: 1.17px;
    color: #253853;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

::ng-deep {
    .choose-country label {
        color: #253853 !important;
        font-size: 16px;
        font-weight: 600;
    }
    .topup-wrapper .payment-card .mat-checkbox-inner-container {
        background: #ffffff;
    }
    .topup-wrapper .payment-card .mat-checkbox-frame {
        border-color: #b1c0cb;
        border-width: 1px !important;
    }
    .topup-wrapper .payment-card .selected-plan .mat-checkbox-frame {
        border-color: #0996f6;
        border-width: 2px !important;
    }
    .selected-plan {
        border: 2px solid #0996f6 !important;
    }
}

.order-details-wrapper {
    width: 100%;
    align-items: center;
    padding: 0 20px;
    color: #253853;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.33px;
}

.order-details {
    text-align: left;
    letter-spacing: 1.17px;
    color: #253853;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
}

.flag {
    object-fit: contain;
}

.topup_amount {
    font-size: 16px;
    font-weight: 500;
    color: #2b4964;
    font-family: "ROBOTO";
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: auto;
}

.topup-price {
    font-size: 20px;
    font-weight: 500;
    color: #2b4964;
    font-family: "ROBOTO";
}

.topup-wrapper {
    .denomination {
        background: #fff;
    }
    .main-title {
        letter-spacing: 0.26px;
        color: #253853;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.checked {
    display: none !important;
}

.selected-plan .checked {
    display: block !important;
    position: absolute;
    right: -10px;
    top: -12px;
    background: #fff;
    border-radius: 50%;
    color: #0996f6;
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.selected-plan {
    position: relative;
    background-color: transparent !important;
}

.payment-method {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    button {
        background: #fff;
        border-radius: 6px;
        font-size: 13px;
        color: #253853;
        font-weight: 500;
        height: 44px;
        box-shadow: 0px 3px 6px #00000029;
        img {
            height: 20px;
            width: 20px;
        }
    }
    div {
        width: 33%;
    }
    .checked-payment button {
        background: #daf1fd;
        box-shadow: none;
        border: 1px solid #0996f6;
        &:after {
            background-image: url("../../../assets/images/app-icons/checked.svg");
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            right: -5px;
            top: -6px;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}

.denomination__wrapper {
    .denom-title {
        letter-spacing: 1.17px;
        color: #253853;
        text-transform: uppercase;
        font-size: 14px;
        font-family: "Source Sans Pro";
        font-weight: bold;
    }
    .denom-headig {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto";
        margin-bottom: 10px;
    }
    .denomination__box {
        border: 1px solid #d8e3eb;
        border-radius: 10px;
        padding: 16px;
        margin-bottom: 20px;
        background-color: #fff;
        .price__deno {
            font-size: 16px;
            letter-spacing: -0.48px;
            color: #2b4964;
            font-family: "Roboto";
            font-weight: 500;
        }
        .min {
            color: #2b4964;
            font-size: 20px;
            font-weight: 500;
            position: relative;
            span {
                letter-spacing: -0.3px;
                color: #9297ad;
                font-size: 10px;
            }
        }
        .rates {
            letter-spacing: -0.36px;
            color: #9297ad;
            font-size: 12px;
            font-weight: 500;
            font-family: "Roboto";
        }
    }
     ::ng-deep {
        .denomination__box .mat-checkbox-inner-container {
            display: none;
        }
        .mat-checkbox-layout {
            display: block;
            margin: 0;
        }
    }
    .checked-payment {
        background-color: transparent;
        box-shadow: none;
        border: 2px solid #0996f6;
        position: relative;
        &:after {
            background-image: url("../../../assets/images/app-icons/checked.svg");
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            right: -6px;
            top: -8px;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}

.payment-method-title {
    letter-spacing: 0.28px;
    color: #253853;
    text-transform: uppercase;
    padding-left: 18px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}

.quality-content {
    font-size: 12px;
    color: #9297ad;
    text-align: center;
}

.title_bold_country {
    letter-spacing: 0.48px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
}

.country td {
    letter-spacing: 0.13px;
    color: #0B203E;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

.country tr td:last-child {
    text-align: right;
}

ul.alphabet {
    list-style: none;
    // margin-top: 80px;
    margin-top: 134px;
    margin-left: 10px;
    position: fixed;
    right: 11px;
    background: #fff;
    line-height: 18px;
    padding: 7px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #D3D5DE;
}

ul.alphabet li a {
    letter-spacing: 1px;
    color: #373737;
    font-size: 12px;
    font-weight: 300;
}

.country {
    // margin-right: 36px;
    // margin-top: 80px;
    // width: 90%;
    margin-right: 36px;
    margin-top: 136px;
    width: 90%;
}

.bg-top.bg-top-inners {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #f7fcff;
}

.bg-top.bg-top-inners .pt-4 {
    padding-top: 0!important;
}

.country .denomination__box {
    background: transparent!important;
    border: 0!important;
    // padding: 0 0 28x 0!important;
    padding: 0 0 14px 0!important;
    margin: 0!important;
}

.country .denomination__box .price__deno {
    letter-spacing: 0.13px !important;
    color: #0B203E !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    // width: 80%;
    // white-space: break-spaces;
}

.country .denomination__box .rates {
    font-size: 16px!important;
    color: #0B203E !important;
    font-weight: 400!important;
}

@media only screen and (min-width:300px) and (max-width:360px) {
    .country .denomination__box .price__deno {
        font-size: 14px !important;
    }
    .country .denomination__box .rates {
        font-size: 14px !important;
    }
    .country .denomination__box {
        padding: 0 0 16px 0 !important;
    }
    ul.alphabet {
        line-height: 15px;
    }
    ul.alphabet li a {
        font-size: 10px;
    }
}

@media only screen and (min-width:360.9px) and (max-width:380px) {
    // .country .denomination__box .price__deno {
    //     font-size: 14px !important;
    // }
    // .country .denomination__box .rates {
    //     font-size: 14px !important;
    // }
    // .country .denomination__box {
    //     padding: 0 0 16px 0 !important;
    // }
    ul.alphabet {
        line-height: 18px;
    }
}


/*
.price__deno .slice:after {
    content: "";
    width: 2px;
    height: 31px;
    background: red;
    position: absolute;
    left: 47%;
    transform: rotate(
45deg
);
    top: -5px;
}*/

.price__deno .slice:after {
    content: "";
    width: 2px;
    height: 31px;
    background: red;
    position: absolute;
    left: 49%;
    transform: rotate( 45deg);
    top: -8%;
}

.button-wraaper {
    display: flex;
    justify-content: center;
    background: #ebebeb;
    border-radius: 40px;
    position: relative;
    width: 91%;
    margin: auto;
    button {
        border-radius: 30px;
        font-size: 14px;
        letter-spacing: 0px;
        color: #969494;
        font-weight: 700;
        font-family: "Montserrat";
        width: 100%;
    }
    .active-button {
        color: #fff;
        background-color: #0480e8;
    }
}

.scroll-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 114px;
    z-index: 1100;
}

.search-wrapper {
    top: 70px;
    padding: 17px 13px 0;
    position: fixed;
    width: 100%;
    background: #f9f9f9;
}

.country-wrapper {
    background: #fff;
    padding: 16px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    border-radius: .25rem!important;
}

::ng-deep {
    .mat-expansion-panel-header-title {
        color: #1a2835;
        font-size: 14px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
    }
    .mat-expansion-panel-header-description,
    .mat-expansion-indicator::after {
        color: #1a2835;
    }
}

.center-image {
    text-align: center;
    width: 90%;
    margin: auto;
}

.center-image img {
    // height: 214px;
    width: 100%;
    border-radius: 87px;
    object-fit: cover;
}

.description {
    background: #fff;
    padding: 16px;
    border-radius: 20px;
    margin-top: -30px;
    z-index: 1;
    position: relative;
    font-size: 16px;
    color: #1a2835;
}

.icon {
    text-align: center;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon a {
    margin: 0 10px;
}

.icon a {
    margin: 0 10px;
    background: #fff;
    padding: 16px;
    border-radius: 50%;
    height: 60px;
    border: 2px solid #fb6c18;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}