<div class="form_holder commonPopup addNumber">
  <span class="closeIcon" (click)="closeIcon()" mat-dialog-close><i class="material-icons">close</i></span>
  <h2>Enter Verification Code</h2>
  <mat-dialog-content>
    <form class="example-form" name="otpConfirmForm" [formGroup]="otpConfirmForm" (ngSubmit)='onOtpConfirmFormSubmit()'
      novalidate>
      <div class="row commonPopupRow">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter 6 digit Code" formControlName="otp">
            <mat-error *ngIf="otpConfirmForm.get('otp').errors?.required">
              Enter Verification Code
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form_row1">
        <div class="input_holder1">
          <button mat-button class="submitButton">Confirm</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>